include _mixins
doctype html
html(lang="ru" class=bodyClass)
    head
        meta(charset="utf-8")
        
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="theme-color" content="#000")
        meta(name="format-detection" content="telephone=no")
        meta(http-equiv="X-UA-Compatible" content="IE=Edge")

        title= title || 'Page name'

        <!-- Critical CSS -->

        include _loaderJs

        include _loaderCss

        include _loaderBrand


    body
    

        .app

            // Header :: Start
            header.header
                block header
                    include _header
            // Header :: End

            // Main :: Start
            main.main
                block main
            
            // Main :: End
            
            // Footer :: Start
            footer.footer
                block footer
                    include _footer
            // Footer :: End


        // Scripts :: Start
        include _scripts
        // Scripts :: End

