//- --------------------------------------------------------------------------
//- Footer
//- --------------------------------------------------------------------------
.container-fluid

   nav.footer__nav

      .footer__group
         .row
            .col-lg-6
               span.footer__group-title Страница
               ul.footer__group-buttons
                  li
                     a(href="#").footer__group-btn Сообщить об ошибке
                  li
                     a(href="#").footer__group-btn Вход в аккаунт

            .col-lg-6
               span.footer__group-title Бизнес
               ul.footer__group-buttons
                  li 
                     a(href="#").footer__group-btn Это моя компания
                  li
                     a(href="#").footer__group-btn Добавить организацию


      .footer__group
         .row
            .col-md-auto
               span.footer__group-title Документы
               ul.footer__group-menu
                  li
                     a(href="#").footer__group-link Соглашение об использовании
                  li
                     a(href="#").footer__group-link Политика конфиденциальности
                  li
                     a(href="#").footer__group-link Правила написания отзывов

            .col-md-auto

                  span.footer__group-title Наша компания
                  ul.footer__group-menu
                     li
                        a(href="#").footer__group-link О проекте
                     li
                        a(href="#").footer__group-link Помощь
                     li
                        a(href="#").footer__group-link Контакты


      .footer__group

         .footer__themes

      
            ul.footer__themes-menu
               li
                  button.footer__dark.js-theme-dark
                     span.footer__dark-toggle
                     | Ночная тема
               li
                  button.footer__blind.js-theme-blind
                     span.footer__blind-icon аА
                     | Версия для слабовидящих

            .footer__18plus
               +sprite('icon-18plus')


   p.footer__copyright Rubrikator.org - все права защищены, копирование запрещено.