//- --------------------------------------------------------------------------
//- Load Css
//- --------------------------------------------------------------------------

//- script.
//- 	var appStylesheet = loadCSS('css/app.min.css');

//- 	onloadCSS( appStylesheet, function() {

//- 		console.log('test')

//- 		var critical = document.getElementById('critical');
//- 		//- critical.parentNode.removeChild(critical);

//- 	});

link(rel="stylesheet" href="css/app.min.css")
