//- --------------------------------------------------------------------------
//- Load Css Themes
//- --------------------------------------------------------------------------

link(rel="stylesheet" href="css/app.min.css")
link(rel="stylesheet" href="css/themes/theme-dark.css")
link(rel="stylesheet" href="css/themes/theme-blind.css")

	