//- --------------------------------------------------------------------------
//- Mixins
//- --------------------------------------------------------------------------

mixin sprite(svg_id)
	svg(aria-hidden="true" class=svg_id)
		use(xlink:href= 'sprites/sprite.svg#' + svg_id)

mixin spriteClient(svg_id)
	svg(aria-hidden="true" class=svg_id)
		use(xlink:href= 'sprites/sprite-client.svg#' + svg_id)

mixin spriteAdmin(svg_id)
	svg(aria-hidden="true" class=svg_id)
		use(xlink:href= 'sprites/sprite-admin.svg#' + svg_id)

mixin img(src)
	img(src=src alt="Alt")

