// --------------------------------------------------------------------------
// States
// --------------------------------------------------------------------------

.owl-carousel, .pswp {
	display: none;
}

// --------------------------------------------------------------------------
// States : Themes
// --------------------------------------------------------------------------

.is-theme-blind {
	.is-visible-default {
		display: none;
	}
	.is-visible-blind {
		display: initial;
	}
}

.is-visible-blind {
	display: none;
}



.text-right {
	text-align: right;
}

// --------------------------------------------------------------------------
// States : Colors
// --------------------------------------------------------------------------


.is-red {
	color: #FF5050;
}

.is-green {
	color: #72BB53;
}


.text-red {
	color: #FF5050;
}

.text-green {
	color: #72BB53;
}

.text-blue {
	color: #299ae0;
}


// --------------------------------------------------------------------------
// States : Visibility
// --------------------------------------------------------------------------

.is-hidden {
	display: none;
}

.is-xs-visible {
	@include breakpointMax(xs) {
		display: none;
	}
}

.is-sm-visible {
	@include breakpointMax(sm) {
		display: none;
	}
}

.is-md-visible {
	@include breakpointMax(md) {
		display: none;
	}
}

.is-lg-visible {
	@include breakpointMax(lg) {
		display: none;
	}
}

.is-xl-visible {
	@include breakpointMax(xl) {
		display: none;
	}
}


.is-xs-hidden {
	@include breakpoint(xs) {
		display: none;
	}
}

.is-sm-hidden {
	@include breakpoint(sm) {
		display: none;
	}
}

.is-md-hidden {
	@include breakpoint(md) {
		display: none;
	}
}

.is-lg-hidden {
	@include breakpoint(lg) {
		display: none;
	}
}

.is-xl-hidden {
	@include breakpoint(xl) {
		display: none;
	}
}


.row-offset-10 {
	margin: 0 -5px;
	& > [class^="col-"] {
		padding: 0 5px;
	}
}

.row-gutter-40 {
	margin: 0 -20px;
	& > [class^="col-"] {
		padding: 0 20px;
	}
}


.col-xl-20 {
	@include breakpoint(xl) {
		flex: 0 0 20%;
		max-width: 20%;
	}
}

