<!-- Footer :: Start-->
<footer class="footer">
	<div class="container-fluid">
		<nav class="footer__nav">
			<div class="footer__group">
				<div class="row">
					<div class="col-lg-6"><span class="footer__group-title">Страница</span>
						<ul class="footer__group-buttons">
							<li><a class="footer__group-btn" href="/update/{{ mask_id }}">Сообщить об ошибке</a></li>
							<li><a class="footer__group-btn" href="#">Вход в аккаунт</a></li>
						</ul>
					</div>
					<div class="col-lg-6"><span class="footer__group-title">Бизнес</span>
						<ul class="footer__group-buttons">
							<li> <a class="footer__group-btn" href="#">Это моя компания</a></li>
							<li><a class="footer__group-btn" href="#">Добавить организацию</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer__group">
				<div class="row">
					<div class="col-md-auto"><span class="footer__group-title">Документы</span>
						<ul class="footer__group-menu">
							<li><a class="footer__group-link" href="#">Соглашение об использовании</a></li>
							<li><a class="footer__group-link" href="#">Политика конфиденциальности</a></li>
							<li><a class="footer__group-link" href="#">Правила написания отзывов</a></li>
						</ul>
					</div>
					<div class="col-md-auto"><span class="footer__group-title">Наша компания</span>
						<ul class="footer__group-menu">
							<li><a class="footer__group-link" href="#">О проекте</a></li>
							<li><a class="footer__group-link" href="#">Помощь</a></li>
							<li><a class="footer__group-link" href="#">Контакты</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer__group">
				<div class="footer__themes">
					<ul class="footer__themes-menu">
						<li>
							<button class="footer__dark js-theme-dark"><span class="footer__dark-toggle"></span>Ночная тема</button>
						</li>
						<li>
							<button class="footer__blind js-theme-blind"><span class="footer__blind-icon">аА</span>Версия для слабовидящих</button>
						</li>
					</ul>
					<div class="footer__18plus">
						<svg class="icon-18plus" aria-hidden="true">
							<use xlink:href="{{ static_cdn }}/sprites/sprite.svg#icon-18plus"></use>
						</svg>
					</div>
				</div>
			</div>
		</nav>
		<p class="footer__copyright">Rubrikator.org - все права защищены, копирование запрещено.</p>
	</div>
</footer>
<!-- Footer :: End-->