<!-- Scrolltop :: Start-->
<button class="scrolltop js-scrolltop no-show {% if page_type == 'hotel' or page_type == 'search' or page_type == 'category' or page_type == 'category_item' or page_type == 'category_hotel' or page_type == 'category_post' or page_type == 'update' %}bottom0{% endif %}" id="scrolltop" aria-label="Прокрутить вверх">
	<svg class="icon-scrolltop" aria-hidden="true">
		<use xlink:href="{{ static_cdn }}/sprites/sprite.svg#icon-scrolltop"></use>
	</svg>
</button>
<!-- Scrolltop :: End-->