// .icon {
// 	display: inline-block;
// 	width: 1em;
// 	height: 1em;
// 	fill: currentColor;
// }

.icon-18plus {
	width: 60px;
	height: 60px;
}
.icon-a {
	width: 26px;
	height: 25px;
}
.icon-accordion-arrow {
	width: 16px;
	height: 8px;
}
.icon-activate {
	width: 30px;
	height: 42px;
}
.icon-add {
	width: 16px;
	height: 16px;
}
.icon-add-contacts {
	width: 18px;
	height: 22px;
}
.icon-admin {
	width: 16px;
	height: 16px;
}
.icon-adv {
	width: 20px;
	height: 16px;
}
.icon-airport {
	width: 20px;
	height: 19px;
}
.icon-airports {
	width: 22px;
	height: 23px;
}
.icon-arrow-down {
	width: 12px;
	height: 6px;
}
.icon-arrow-messages {
	width: 25px;
	height: 18px;
}
.icon-arrow-more {
	width: 19px;
	height: 14px;
}
.icon-arrow-price {
	width: 10px;
	height: 20px;
}
.icon-arrow-right {
	width: 6px;
	height: 12px;
}
.icon-arrow-toggle {
	width: 12px;
	height: 6px;
}
.icon-back {
	width: 19px;
	height: 14px;
}
.icon-badge {
	width: 24px;
	height: 20px;
}
.icon-badge-air {
	width: 18px;
	height: 19px;
}
.icon-badge-beach {
	width: 18px;
	height: 18px;
}
.icon-badge-fitness {
	width: 18px;
	height: 18px;
}
.icon-badge-open {
	width: 12px;
	height: 16px;
}
.icon-badge-parking {
	width: 18px;
	height: 18px;
}
.icon-badge-star {
	width: 16px;
	height: 15px;
}
.icon-badge-wifi {
	width: 20px;
	height: 16px;
}
.icon-blind {
	width: 22px;
	height: 16px;
}
.icon-booking {
	width: 24px;
	height: 22px;
}
.icon-bookmark {
	width: 16px;
	height: 19px;
}
.icon-bus {
	width: 16px;
	height: 16px;
}
.icon-calendar {
	width: 18px;
	height: 15px;
}
.icon-camera {
	width: 22px;
	height: 18px;
}
.icon-cancel {
	width: 16px;
	height: 16px;
}
.icon-categories-apple {
	width: 20px;
	height: 23px;
}
.icon-categories-avto {
	width: 60px;
	height: 50px;
}
.icon-categories-briefcase {
	width: 20px;
	height: 16px;
}
.icon-categories-carwash {
	width: 60px;
	height: 50px;
}
.icon-categories-chef {
	width: 50px;
	height: 50px;
}
.icon-categories-club {
	width: 50px;
	height: 50px;
}
.icon-categories-coffee {
	width: 20px;
	height: 19px;
}
.icon-categories-house {
	width: 20px;
	height: 20px;
}
.icon-categories-life {
	width: 20px;
	height: 16px;
}
.icon-categories-lips {
	width: 60px;
	height: 36px;
}
.icon-categories-more {
	width: 50px;
	height: 10px;
}
.icon-categories-office {
	width: 49px;
	height: 50px;
}
.icon-categories-paint {
	width: 20px;
	height: 20px;
}
.icon-categories-pets {
	width: 20px;
	height: 20px;
}
.icon-categories-polish {
	width: 48px;
	height: 50px;
}
.icon-categories-roomkey {
	width: 20px;
	height: 22px;
}
.icon-categories-shop {
	width: 44px;
	height: 50px;
}
.icon-categories-sport {
	width: 50px;
	height: 50px;
}
.icon-check-auto {
	width: 26px;
	height: 18px;
}
.icon-check-bicycle {
	width: 34px;
	height: 18px;
}
.icon-check-bus {
	width: 20px;
	height: 20px;
}
.icon-check-onfoot {
	width: 17px;
	height: 22px;
}
.icon-checked {
	width: 18px;
	height: 14px;
}
.icon-checkmark {
	width: 16px;
	height: 16px;
}
.icon-circle {
	width: 12px;
	height: 12px;
}
.icon-clock {
	width: 18px;
	height: 18px;
}
.icon-close {
	width: 16px;
	height: 16px;
}
.icon-closed {
	width: 14px;
	height: 20px;
}
/*
.icon-comment-notice {
	width: 70px;
	height: 70px;
}
*/
.icon-comments {
	width: 20px;
	height: 18px;
}
.icon-cookies {
	width: 21px;
	height: 25px;
}
.icon-cursor {
	width: 20px;
	height: 20px;
}
.icon-delete {
	width: 14px;
	height: 14px;
}
.icon-description {
	width: 70px;
	height: 70px;
}
.icon-diamond {
	width: 20px;
	height: 16px;
}
.icon-dislike {
	width: 17px;
	height: 16px;
}
.icon-display-grid {
	width: 18px;
	height: 18px;
}
.icon-display-list {
	width: 21px;
	height: 18px;
}
.icon-district {
	width: 16px;
	height: 15px;
}
.icon-dots {
	width: 20px;
	height: 5px;
}
.icon-dotted {
	width: 20px;
	height: 5px;
}
.icon-edit {
	width: 17px;
	height: 22px;
}
.icon-edit-notice {
	width: 20px;
	height: 20px;
}
.icon-edit-write {
	width: 20px;
	height: 20px;
}
.icon-editor-align-center {
	width: 24px;
	height: 18px;
}
.icon-editor-align-left {
	width: 24px;
	height: 18px;
}
.icon-editor-align-right {
	width: 24px;
	height: 18px;
}
.icon-editor-bold {
	width: 20px;
	height: 20px;
}
.icon-editor-h1 {
	width: 21px;
	height: 15px;
}
.icon-editor-h2 {
	width: 24px;
	height: 15px;
}
.icon-editor-italic {
	width: 10px;
	height: 18px;
}
.icon-editor-link {
	width: 20px;
	height: 20px;
}
.icon-editor-ol {
	width: 20px;
	height: 22px;
}
.icon-editor-picture {
	width: 21px;
	height: 18px;
}
.icon-editor-ul {
	width: 20px;
	height: 18px;
}
.icon-editor-underline {
	width: 12px;
	height: 18px;
}
.icon-email {
	width: 16px;
	height: 12px;
}
.icon-faq {
	width: 22px;
	height: 22px;
}
.icon-faq-arrow {
	width: 16px;
	height: 8px;
}
.icon-faq-comments {
	width: 20px;
	height: 18px;
}
.icon-faq-contacts {
	width: 20px;
	height: 20px;
}
.icon-faq-edit {
	width: 20px;
	height: 20px;
}
.icon-faq-payment {
	width: 20px;
	height: 16px;
}
.icon-faq-private {
	width: 16px;
	height: 20px;
}
.icon-faq-terms {
	width: 16px;
	height: 20px;
}
.icon-feedback {
	width: 16px;
	height: 19px;
}
.icon-file {
	width: 24px;
	height: 30px;
}
.icon-filter-district {
	width: 20px;
	height: 25px;
}
.icon-filter-folder {
	width: 22px;
	height: 20px;
}
.icon-filter-location {
	width: 16px;
	height: 20px;
}
.icon-filter-metro {
	width: 20px;
	height: 25px;
}
.icon-folder {
	width: 18px;
	height: 16px;
}
.icon-folder-admin {
	width: 18px;
	height: 15px;
}
.icon-form-contacts {
	width: 18px;
	height: 22px;
}
.icon-form-rating {
	width: 22px;
	height: 21px;
}
.icon-form-review {
	width: 22px;
	height: 20px;
}
.icon-form-user {
	width: 22px;
	height: 22px;
}
.icon-google {
	width: 20px;
	height: 20px;
}
.icon-hand {
	width: 21px;
	height: 24px;
}
.icon-heart {
	width: 20px;
	height: 19px;
}
.icon-help {
	width: 18px;
	height: 18px;
}
.icon-hide {
	width: 22px;
	height: 18px;
}
.icon-home {
	width: 16px;
	height: 15px;
}
.icon-indicators-appeals {
	width: 40px;
	height: 37px;
}
.icon-indicators-comments {
	width: 40px;
	height: 36px;
}
.icon-indicators-new {
	width: 40px;
	height: 40px;
}
.icon-indicators-photos {
	width: 40px;
	height: 34px;
}
.icon-indicators-pin {
	width: 40px;
	height: 40px;
}
.icon-indicators-promo {
	width: 40px;
	height: 35px;
}
.icon-indicators-star {
	width: 40.1px;
	height: 39.5px;
}
.icon-indicators-wallet {
	width: 40px;
	height: 34px;
}
.icon-infinity {
	width: 20px;
	height: 10px;
}
.icon-info {
	width: 18px;
	height: 18px;
}
.icon-interlocking {
	width: 20px;
	height: 20px;
}
.icon-invisible {
	width: 26px;
	height: 19px;
}
.icon-lamp {
	width: 466.4px;
	height: 486px;
}
.icon-like {
	width: 17px;
	height: 16px;
}
.icon-loadmore {
	width: 16px;
	height: 18px;
}
.icon-location {
	width: 17px;
	height: 22px;
}
.icon-location-cities {
	width: 24px;
	height: 30px;
}
.icon-lock {
	width: 16px;
	height: 20px;
}
.icon-locked {
	width: 14px;
	height: 20px;
}
.icon-men {
	width: 12px;
	height: 16px;
}
.icon-messages {
	width: 20px;
	height: 20px;
}
.icon-metro {
	width: 12px;
	height: 12px;
}
.icon-moon {
	width: 17px;
	height: 18px;
}
.icon-move {
	width: 10px;
	height: 20px;
}
.icon-mysql {
	width: 20px;
	height: 21px;
}
.icon-nav-arrow {
	width: 6px;
	height: 12px;
}
.icon-nav-call {
	width: 19px;
	height: 20px;
}
.icon-nav-camera {
	width: 22px;
	height: 18px;
}
.icon-nav-checked {
	width: 20px;
	height: 20px;
}
.icon-nav-clock {
	width: 18px;
	height: 18px;
}
.icon-nav-comments {
	width: 20px;
	height: 18px;
}
.icon-nav-more {
	width: 20px;
	height: 5px;
}
.icon-nav-phone {
	width: 18px;
	height: 18px;
}
.icon-nav-places {
	width: 20px;
	height: 22px;
}
.icon-nav-reviews {
	width: 20px;
	height: 18px;
}
.icon-nav-route {
	width: 22px;
	height: 18px;
}
.icon-next {
	width: 10px;
	height: 16px;
}
.icon-noimage {
	width: 50px;
	height: 42px;
}
.icon-notes {
	width: 18px;
	height: 18px;
}
.icon-notice-warning {
	width: 22px;
	height: 22px;
}
.icon-notify {
	width: 20px;
	height: 20px;
}
.icon-offcanvas-balance {
	width: 20px;
	height: 20px;
}
.icon-offcanvas-business {
	width: 20px;
	height: 18px;
}
.icon-offcanvas-heart {
	width: 20px;
	height: 19px;
}
.icon-offcanvas-messages {
	width: 20px;
	height: 20px;
}
.icon-offcanvas-profile {
	width: 12px;
	height: 26px;
}
.icon-offcanvas-reviews {
	width: 20px;
	height: 19px;
}
.icon-pagination-next {
	width: 7px;
	height: 12px;
}
.icon-pagination-prev {
	width: 7px;
	height: 12px;
}
.icon-panel-avatar {
	width: 20px;
	height: 24px;
}
.icon-panel-clock {
	width: 22px;
	height: 22px;
}
.icon-panel-comments {
	width: 20px;
	height: 18px;
}
.icon-panel-companies {
	width: 22px;
	height: 22px;
}
.icon-panel-contacts {
	width: 18px;
	height: 22px;
}
.icon-panel-contacts-more {
	width: 18px;
	height: 22px;
}
.icon-panel-details {
	width: 20px;
	height: 20px;
}
.icon-panel-directions {
	width: 27px;
	height: 22px;
}
.icon-panel-editor {
	width: 26px;
	height: 26px;
}
.icon-panel-email {
	width: 20px;
	height: 15px;
}
.icon-panel-geo {
	width: 26px;
	height: 26px;
}
.icon-panel-info {
	width: 20px;
	height: 20px;
}
.icon-panel-line {
	width: 15px;
	height: 3px;
}
.icon-panel-map {
	width: 29px;
	height: 20px;
}
.icon-panel-news {
	width: 23px;
	height: 22px;
}
.icon-panel-password {
	width: 18px;
	height: 22px;
}
.icon-panel-places {
	width: 24px;
	height: 26px;
}
.icon-panel-price {
	width: 25px;
	height: 22px;
}
.icon-panel-product {
	width: 19px;
	height: 26px;
}
.icon-panel-results {
	width: 22px;
	height: 25px;
}
.icon-panel-route {
	width: 26px;
	height: 26px;
}
.icon-panel-similar {
	width: 20px;
	height: 18px;
}
.icon-panel-special {
	width: 24px;
	height: 22px;
}
.icon-panel-subsc {
	width: 20px;
	height: 20px;
}
.icon-panel-total {
	width: 20px;
	height: 17px;
}
.icon-panel-video {
	width: 24px;
	height: 18px;
}
.icon-parking {
	width: 18px;
	height: 18px;
}
.icon-people {
	width: 16px;
	height: 13px;
}
.icon-phone {
	width: 18px;
	height: 18px;
}
.icon-photo {
	width: 20px;
	height: 16px;
}
.icon-photo-delete {
	width: 20px;
	height: 22px;
}
.icon-photo-hidden {
	width: 20px;
	height: 16px;
}
.icon-photo-like {
	width: 18px;
	height: 17px;
}
.icon-photo-lock {
	width: 16px;
	height: 20px;
}
.icon-photos {
	width: 20px;
	height: 17px;
}
.icon-pin-color {
	width: 18px;
	height: 18px;
}
.icon-pin-up {
	width: 12px;
	height: 16px;
}
.icon-places-home {
	width: 24px;
	height: 21px;
}
.icon-places-light {
	width: 18px;
	height: 28px;
}
.icon-play {
	width: 14px;
	height: 16px;
}
.icon-plus {
	width: 20px;
	height: 20px;
}
.icon-plus-min {
	width: 15px;
	height: 15px;
}
.icon-plus-small {
	width: 15px;
	height: 15px;
}
.icon-portfolio {
	width: 20px;
	height: 18px;
}
.icon-post {
	width: 22px;
	height: 22px;
}
.icon-prev {
	width: 10px;
	height: 16px;
}
.icon-provided {
	width: 22px;
	height: 22px;
}
.icon-questions {
	width: 20px;
	height: 21px;
}
.icon-quote {
	width: 20px;
	height: 16px;
}
.icon-rating {
	width: 14px;
	height: 14px;
}
.icon-reception {
	width: 20px;
	height: 20px;
}
.icon-refresh {
	width: 20px;
	height: 17px;
}
.icon-reload {
	width: 16px;
	height: 18px;
}
.icon-remove {
	width: 16px;
	height: 20px;
}
.icon-reverse {
	width: 23px;
	height: 20px;
}
.icon-reviews {
	width: 24.3px;
	height: 20.3px;
}
.icon-save {
	width: 20px;
	height: 20px;
}
.icon-scrolltop {
	width: 20px;
	height: 12px;
}
.icon-search {
	width: 18px;
	height: 18px;
}
.icon-search-arrow {
	width: 10px;
	height: 16px;
}
.icon-select {
	width: 12px;
	height: 6px;
}
.icon-selection-arrow {
	width: 10px;
	height: 5px;
}
.icon-selection-cancel {
	width: 12px;
	height: 12px;
}
.icon-services-bathroom {
	width: 22px;
	height: 22px;
}
.icon-services-comfort {
	width: 22px;
	height: 21px;
}
.icon-services-guest {
	width: 20px;
	height: 23px;
}
.icon-services-outside {
	width: 22px;
	height: 24px;
}
.icon-settings {
	width: 20px;
	height: 20px;
}
.icon-share {
	width: 16px;
	height: 16px;
}
.icon-signin {
	width: 18px;
	height: 18px;
}
.icon-signin-fb {
	width: 11px;
	height: 20px;
}
.icon-signin-ok {
	width: 12px;
	height: 20px;
}
.icon-signin-vk {
	width: 20px;
	height: 11px;
}
.icon-social-fb {
	width: 10px;
	height: 20px;
}
.icon-social-skype {
	width: 20px;
	height: 20px;
}
.icon-social-tm {
	width: 20px;
	height: 17px;
}
.icon-social-vk {
	width: 20px;
	height: 11px;
}
.icon-speak {
	width: 22px;
	height: 19px;
}
.icon-star {
	width: 18px;
	height: 18px;
}
.icon-statistic {
	width: 20px;
	height: 20px;
}
.icon-statistics {
	width: 20px;
	height: 20px;
}
.icon-success {
	width: 80px;
	height: 80px;
}
.icon-success-step {
	width: 24px;
	height: 24px;
}
.icon-tabs-info {
	width: 22px;
	height: 22px;
}
.icon-target {
	width: 16px;
	height: 16px;
}
.icon-target-blank {
	width: 22px;
	height: 20px;
}
.icon-taxi {
	width: 28px;
	height: 22px;
}
.icon-time {
	width: 16px;
	height: 17px;
}
.icon-tool-adv {
	width: 70px;
	height: 66px;
}
.icon-tool-analytics {
	width: 70px;
	height: 70px;
}
.icon-tool-comments {
	width: 70px;
	height: 60px;
}
.icon-tool-mouse {
	width: 64px;
	height: 70px;
}
.icon-town {
	width: 20px;
	height: 19px;
}
.icon-turn {
	width: 14px;
	height: 16px;
}
.icon-txt-notice {
	width: 70px;
	height: 70px;
}
.icon-unlocked {
	width: 14px;
	height: 22px;
}
.icon-user {
	width: 217.5px;
	height: 258.75px;
}
.icon-view {
	width: 20px;
	height: 13px;
}
.icon-wifi {
	width: 20px;
	height: 16px;
}
.icon-yandex {
	width: 10px;
	height: 20px;
}

