// .icon {
// 	display: inline-block;
// 	width: 1em;
// 	height: 1em;
// 	fill: currentColor;
// }

.angry {
	width: 473.93px;
	height: 473.93px;
}
.angry-1 {
	width: 473.94px;
	height: 473.94px;
}
.bored {
	width: 473.94px;
	height: 473.94px;
}
.bored-1 {
	width: 473.93px;
	height: 473.93px;
}
.bored-2 {
	width: 473.93px;
	height: 473.93px;
}
.confused {
	width: 473.93px;
	height: 473.93px;
}
.confused-1 {
	width: 473.93px;
	height: 473.93px;
}
.crying {
	width: 473.94px;
	height: 473.94px;
}
.crying-1 {
	width: 473.93px;
	height: 473.93px;
}
.embarrassed {
	width: 473.94px;
	height: 473.94px;
}
.emoticons {
	width: 473.93px;
	height: 473.93px;
}
.happy {
	width: 473.93px;
	height: 473.93px;
}
.happy-1 {
	width: 473.93px;
	height: 473.93px;
}
.happy-2 {
	width: 473.93px;
	height: 473.93px;
}
.happy-3 {
	width: 473.93px;
	height: 473.93px;
}
.happy-4 {
	width: 473.93px;
	height: 473.93px;
}
.ill {
	width: 473.93px;
	height: 473.93px;
}
.in-love {
	width: 473.93px;
	height: 473.93px;
}
.kissing {
	width: 473.93px;
	height: 473.93px;
}
.mad {
	width: 473.94px;
	height: 473.94px;
}
.nerd {
	width: 473.93px;
	height: 473.93px;
}
.ninja {
	width: 473.93px;
	height: 473.93px;
}
.quiet {
	width: 473.93px;
	height: 473.93px;
}
.sad {
	width: 473.94px;
	height: 473.94px;
}
.secret {
	width: 473.94px;
	height: 473.94px;
}
.smart {
	width: 473.93px;
	height: 473.93px;
}
.smile {
	width: 473.93px;
	height: 473.93px;
}
.smiling {
	width: 473.94px;
	height: 473.94px;
}
.surprised {
	width: 473.93px;
	height: 473.93px;
}
.surprised-1 {
	width: 473.93px;
	height: 473.93px;
}
.suspicious {
	width: 473.94px;
	height: 473.94px;
}
.suspicious-1 {
	width: 473.94px;
	height: 473.94px;
}
.tongue-out {
	width: 473.94px;
	height: 473.94px;
}
.tongue-out-1 {
	width: 473.93px;
	height: 473.93px;
}
.unhappy {
	width: 473.94px;
	height: 473.94px;
}
.wink {
	width: 473.93px;
	height: 473.93px;
}

