// --------------------------------------------------------------------------
// cities
// --------------------------------------------------------------------------

.cities {
    padding: 30px 0;
    // box-shadow: 0 6px 6px rgba(0, 0, 0, 0.01);
    // border: 1px solid #ebebeb;
    // background-color: #ffffff;
}

.countries {
    padding: 20px 0;
    // box-shadow: 0 6px 6px rgba(0, 0, 0, 0.01);
    border: 0;
    border-bottom: 1px solid #ebebeb;
    // background-color: #ffffff;
}

.cities__heading {
    display: block;
    font-size: 24px;
    line-height: 1.25;
    font-weight: 400;
    color: #808080;
    margin: 0 0 30px;
    text-align: center;
}


.cities__grid {
    @include list-style-none;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;

    font-size: 18px;
    line-height: 1;

    & > li {
        padding: 0 10px 20px;
    }
}


.cities__pagination {
    .panel__pagination {
        padding: 0;
    }
}

.cities__card {
    background: #ffe0d955;
    border: 1px solid #ffe0d9;
    border-radius: 5px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.01);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    max-height: 88px;
    overflow: hidden;
    text-decoration: none;
    color: #131313;

    position: relative;

    &:hover {
        text-decoration: none;
        color: #131313;

        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
        border: 1px solid #299ae0;
    }

    @include breakpoint(xs) {
        text-align: center;
    }

    @include breakpoint(md) {
        padding: 25px;
    }




}

.cities__card-icon {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 48px;
    color: #ff5050;
    margin: 0;

    @include breakpoint(xs) {
        position: relative;
        height: auto;
        width: 100%;
        margin: 0 0 20px;
    }

}

.cities__card-title {
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: #131313;
    display: block;
    margin: 0;
    //text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);

    padding: 9px;
    background: #ffe0d955;
    border-radius: 5px;

    @include breakpoint(md) {
        font-size: 20px;
    }
}

.cities__card-title_bg {
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: #fff;
    display: block;
    margin: 0;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);

    padding: 9px;
    background: #333333AA;
    border-radius: 2px;

    @include breakpoint(md) {
        font-size: 20px;
    }

}

.dimmed {
    position: relative;
}

.dimmed:after {
    content: " ";
    z-index: 10;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
}

.dimmed-pink {
    position: relative;
}

.dimmed-pink:after {
    content: " ";
    z-index: 10;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: #ffe0d940;
}

.cities__link {
    @extend .ui-link;
    @extend .ui-link--blue;
    display: block;
    position: relative;
    border: 1px solid #ebebeb;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.01);
    background: #fff;
    font-size: 18px;
    line-height: 20px;
    padding: 15px 12px 15px 45px;
   
    .icon-location {
        position: absolute;
        top: 15px;
        left: 20px;
        color: #FF5050;
        width: 15px;
        height: 18px;
    }
    &:hover {
        background: #f9f9f9;
        opacity: 1;
    }

}



.cities__more {
    padding: 30px 0 5px;
    text-align: center;
    font-size: 18px;
    line-height: 20px;
}