// --------------------------------------------------------------------------
// Caption
// --------------------------------------------------------------------------

.ui-caption {
    font-size: 16px;
    line-height: 1.06;
    color: #808080;
    margin: 0 0 20px;
}