// --------------------------------------------------------------------------
// Cookies
// --------------------------------------------------------------------------




.ui-cookies {
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 2000;
	width: 310px;
	max-width: calc(100vw - 20px);
	background: #299AE0;
	border-radius: 2px;
	color: rgba(#fff,0.8);

	transition: transform 0.25s, opacity 0.25s, visibility 0.25s;

	&.is-open {
		.ui-cookies__trigger .icon-arrow-down {
			transform: rotate(180deg);
		}
	}

	&.is-hide {
		transform: translate(0,100%);
		opacity: 0;
		visibility: hidden;
	}

	@include breakpointMax(xs) {
		max-width: none;
		left: 10px;
		width: auto;
	}
}

.ui-cookies__trigger {
	display: block;
	width: 100%;
	position: relative;
	cursor: pointer;
	border: 1px solid transparent;
	background: none;
	text-align: left;
	padding: 15px 50px 15px 30px;

	font: 400 18px/24px $fontBase;
	white-space: nowrap;
	color: #fff;

	.icon-cookies {
		margin: 0 10px 0 0;
	}

	.icon-arrow-down {
		display: block;
		position: absolute;
		top: 50%;
		right: 24px;
		width: 12px;
		height: 12px;
		margin: -6px 0 0;
		transition: transform 0.25s;
	}
}

.ui-cookies__dropdown {
	display: none;
}

.ui-cookies__content {
	padding: 0 30px 30px;
}

.ui-cookies__text {
	font-size: 15px;
	line-height: 21px;
	margin: 0 0 16px;
	a {
		text-decoration: none;
		color: rgba(#fff,0.8);
		border-bottom: 1px solid rgba(#fff,0.8);
		&:hover {
			color: #fff;
			border-color: #fff;
		}
	}
}

.ui-cookies__btn {
	display: block;
	width: 100%;
	cursor: pointer;
	border: 1px solid transparent;
	
	border-radius: 2px;
	font: 400 18px/20px $fontBase;
	padding: 10px 20px;
	

	@extend .btn--blue;

	background: #2281BD;
}