// --------------------------------------------------------------------------
// Edit
// --------------------------------------------------------------------------

.ui-edit {
	position: relative;
	width: 100%;
}

.ui-edit__icon {
	display: block;
	position: absolute;
	top: 0;
	left: 20px;
	width: 20px;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #808080;
	pointer-events: none;
	margin: 0;
	[class^="icon-"] {
		top: -1px;
	}
	@include breakpoint(md) {
		left: 30px;
	}

}

.ui-edit__input {
	display: block;
	width: 100%;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	
	background-color: rgba(255, 201, 89, 0.06);
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #ffc959;
	padding: 14px 20px 14px 55px;
	color: #131313;
	&::placeholder {
		color: #808080;
	}
	&:focus {
		box-shadow: none;
		border-color: #ffc959;
		background-color: rgba(255, 201, 89, 0.2);
	}
	@include breakpoint(md) {
		padding: 14px 30px 14px 65px;
	}
}



	// display: flex;
	// font-size: 16px;
	// line-height: 20px;
	// font-weight: 400;
	// color: #808080;
	// background-color: rgba(255, 201, 89, 0.06);
	// border-bottom: 1px solid #ffc959;
	// padding: 14px 20px;
	// [class^="icon-"] {
	// 	margin: 0 14px 0 0;
	// 	flex: 0 0 auto;
	// }
	// @include breakpoint(md) {
	// 	padding: 14px 30px;
	// }