// --------------------------------------------------------------------------
// Help
// --------------------------------------------------------------------------

.ui-help {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    color: #ccc;
    cursor: help;

    font-size: 16px;
    line-height: 1.06;
    
}