// --------------------------------------------------------------------------
// Lists
// --------------------------------------------------------------------------


.ui-list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    & > li {
        margin: 0 0 10px;
        &:last-child {
            margin: 0;
        }
    }
}

.ui-list--grey {
    color: #808080;
}


.ui-ul {
    margin: 0 0 0 20px;
    padding: 0;
    list-style: none;
    & > li {
        position: relative;
        padding: 0 0 0 30px;
        margin: 0 0 20px;
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 50%;
            left: 4px;
            width: 6px;
            height: 6px;
            top: 8px;
            background: #000;
        }
    }
}

.ui-ol {
    margin: 0 0 0 20px;
    padding: 0;
    list-style: none;
    counter-reset: point;
    li {
        margin: 0 0 20px;
        padding: 0 0 0 30px;
        position: relative;
        &:after {
            content: counter(point) '.';
            counter-increment: point 1;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}
