// --------------------------------------------------------------------------
// Settings
// --------------------------------------------------------------------------


// Fonts
$fontBase: Arial, Helvetica, sans-serif;

// Bg
$baseBg: #fafafa;
$baseColor: #131313;
$baseMaxWidth: 1280px;

// Grid
$xs: 480px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$hd: 1480px;