---
title: Ошибка 404 - Рубрикатор
bodyClass: is-page-syst
---
extends includes/_app-syst-header

block main

    // 404 :: Start
    .syst
        .syst__wrapper
            .syst__error

                figure.syst__error-icon
                    img(src="images/icon-error-404.png", alt="")

                span.syst__error-title Ошибка 404

                p.syst__error-caption Страница не найдена

                a(href="#").ui-link.ui-link--underline.ui-link--dark На главную



    // 404 :: End