---
title: Дополнительная отель - Рубрикатор
bodyClass: is-page-hotel
---
extends includes/_app

block main

    // Hotel :: Start
    .l.l--hotel

        // Scrolltop :: Start
        button.scrolltop.js-scrolltop
            +sprite('icon-scrolltop')
        // Scrolltop :: End


        .l__head(role="banner")
            .container-fluid

                .l__rating
                    .ui-rating.ui-rating--22(data-rating="4")
                        +sprite('icon-rating')
                        +sprite('icon-rating')
                        +sprite('icon-rating')
                        +sprite('icon-rating')
                        +sprite('icon-rating')

                h1.l__heading Promenáda Romantic & Wellness Hotel
                p.l__text Карловы Вары, Чехия

                .l__taglist(role="navigation")

                    .ui-taglist
                        ul.ui-taglist__menu
                            li
                                a(href="#").ui-taglist__link
                                    | Карточка отеля
                                    span.ui-taglist__arrow
                                        +sprite('icon-nav-arrow')
                            li
                                a(href="#").ui-taglist__link
                                    | Отзывы #[mark (13)]
                                    span.ui-taglist__arrow
                                        +sprite('icon-nav-arrow')
                            li
                                a(href="#").ui-taglist__link
                                    | Фото #[mark (30)]
                                    span.ui-taglist__arrow
                                        +sprite('icon-nav-arrow')
                            li
                                a(href="#").ui-taglist__link
                                    | Как доехать?
                                    span.ui-taglist__arrow
                                        +sprite('icon-nav-arrow')
                            li
                                a(href="#").ui-taglist__link
                                    | Отели рядом
                                    span.ui-taglist__arrow
                                        +sprite('icon-nav-arrow')


        .l__body
            .container-fluid

                


                .l__wrapper.js-sticky-container

                    .l__sidebar

                        // Panel Pictures :: Start
                        .panel
                            .panel__pictures
                                ul.panel__pictures-list
                                    li
                                        a(href="#" data-photoswipe data-photoswipe-array="hotels" data-photoswipe-id="0").panel__pictures-item
                                            img(src="images/img-hotel-01.jpg" alt="")
                                    li
                                        a(href="#" data-photoswipe data-photoswipe-array="hotels" data-photoswipe-id="1").panel__pictures-item
                                            img(src="images/img-hotel-02.jpg" alt="")
                                    li
                                        a(href="#" data-photoswipe data-photoswipe-array="hotels" data-photoswipe-id="2").panel__pictures-item
                                            img(src="images/img-hotel-03.jpg" alt="")
                                    li
                                        a(href="#" data-photoswipe data-photoswipe-array="hotels" data-photoswipe-id="3").panel__pictures-item
                                            img(src="images/img-hotel-04.jpg" alt="")
                                    li
                                        a(href="#" data-photoswipe data-photoswipe-array="hotels" data-photoswipe-id="4").panel__pictures-item
                                            img(src="images/img-hotel-05.jpg" alt="")

                                .panel__pictures-control
                                    button.panel__pictures-btn
                                        span.panel__pictures-btn-text Показать ещё фотографии
                                        span.panel__pictures-btn-count 29
                                        +sprite('icon-arrow-down')

                        // Panel Pictures :: End

                        // Panel Banner :: Start
                        .panel.js-sticky
                            .panel__container

                                .panel__banner.panel__banner-336x280.panel__banner--responsive
                                    img(src="images/banner-336x280.jpg" alt="" aria-hidden="true")

                        // Panel Banner :: End

                    .l__content

                        // Panel Info :: Start
                        .panel
                            .panel__container
                                .panel__body
                                    .panel__info

                                        ul.panel__info-list
                                            li

                                                dl.panel__info-dl
                                                    dt Оценка по отзывам
                                                    dd
                                                        .panel__mark.panel__mark--green
                                                            span.panel__mark-badge 8.2
                                                            .panel__mark-content
                                                                p.panel__mark-text Очень хорошо
                                                                a(href="#").panel__mark-link на основе 103 отзывов
                                                    dt Особенности отеля
                                                    dd
                                                        .panel__badges
                                                            span.ui-badge.ui-badge--34.ui-badge--wifi
                                                                +sprite('icon-badge-wifi')
                                                                | Бесплатный WiFi
                                                            span.ui-badge.ui-badge--34.ui-badge--parking
                                                                +sprite('icon-badge-parking')
                                                                | Доступна бесплатно
                                                            span.ui-badge.ui-badge--34.ui-badge--fitness
                                                                +sprite('icon-badge-fitness')
                                                                | Фитнес-центр
                                                            span.ui-badge.ui-badge--34.ui-badge--air
                                                                +sprite('icon-badge-air')
                                                                | Трансфер от/до аэропорта
                                                            span.ui-badge.ui-badge--34.ui-badge--beach
                                                                +sprite('icon-badge-beach')
                                                                | Частная пляжная зона

                                            li

                                                dl.panel__info-dl
                                                    dt Адрес #[mark.text-green Отличное расположение]
                                                    dd
                                                        address.panel__address
                                                            p.panel__address-district
                                                                +sprite('icon-district')
                                                                a(href="#").ui-link.ui-link--underline.ui-link--grey Калининский район
                                                                span.ui-help.js-tooltip(title="Это подсказка...")
                                                                    +sprite('icon-help')
                                                                    
                                                            p.panel__address-location
                                                                a(href="#").ui-link.ui-link--dotted.ui-link--dark Tržiště 31, Карловы Вары, 360 01, Чехия
                                                            p.panel__address-text Вход со двора, пиво бесплатно


                                                        
                                                        .panel__map.panel__map--collapsed.panel__map--h230
                                                            button.panel__map-btn
                                                                +sprite('icon-hand')
                                                                | Показать на карте
                                                            .panel__map-container#map


                                            li

                                                dl.panel__info-dl
                                                    dt Метро
                                                    dd

                                                        .panel__transport
                                                            ul.panel__transport-list
                                                                li
                                                                    .panel__transport-item
                                                                        figure.panel__transport-item-icon
                                                                            span.icon-circle.icon-circle--red
                                                                        p.panel__transport-item-location
                                                                            a(href="#").ui-link.ui-link--underline.ui-link--grey Площадь Ленина
                                                                        p.panel__transport-item-distance 600 м
                                                                li
                                                                    .panel__transport-item
                                                                        figure.panel__transport-item-icon
                                                                            span.icon-circle.icon-circle--green
                                                                        p.panel__transport-item-location
                                                                            a(href="#").ui-link.ui-link--underline.ui-link--grey Звенигородская
                                                                        p.panel__transport-item-distance 1.5 км

                                            li

                                                dl.panel__info-dl
                                                    dt Остановки
                                                    dd 
                                                        .panel__transport
                                                            ul.panel__transport-list
                                                                li
                                                                    .panel__transport-item
                                                                        figure.panel__transport-item-icon
                                                                            +sprite('icon-bus')
                                                                        p.panel__transport-item-location
                                                                            a(href="#").ui-link.ui-link--underline.ui-link--grey ул. Боткинская
                                                                        p.panel__transport-item-distance 800 м
                                                                li
                                                                    .panel__transport-item
                                                                        figure.panel__transport-item-icon
                                                                            +sprite('icon-bus')
                                                                        p.panel__transport-item-location
                                                                            a(href="#").ui-link.ui-link--underline.ui-link--grey Медицинский институт
                                                                        p.panel__transport-item-distance 1.2 км

                                            li

                                                dl.panel__info-dl
                                                    dt Забронировать
                                                    dd
                                                        .panel__site
                                                            a(href="#").ui-link.ui-link--blue
                                                                img(src="images/img-booking.png" alt="")
                                                                u Booking.com


                        // Panel Info :: End

                        // Panel Buttons :: Start
                        .panel
                            .panel__buttons
                                .row
                                    .col-auto
                                        button.btn.btn--46.btn--whitedark
                                            +sprite('icon-camera')
                                            | Добавить фото
                                    .col-auto
                                        button.btn.btn--46.btn--whitedark
                                            +sprite('icon-save')
                                            | Сохранить контакт
                                    .col-auto
                                        button.btn.btn--46.btn--whitedark
                                            +sprite('icon-edit')
                                            | Редактировать стр.
                                
                                .row

                                    .col-12.col-md-6

                                        button.btn.btn--50.btn--green 
                                            +sprite('icon-plus')
                                            | Добавить отзыв
                                    .col-12.col-md-6

                                        button.btn.btn--50.btn--blue 
                                            +sprite('icon-arrow-price')
                                            span.is-xl-visible Узнать стоимость номера
                                            span.is-xl-hidden Узнать цену отеля

                        // Panel Buttons :: End


                        // Panel Services :: Start
                        .panel
                            h2.panel__title-outer Услуги в отеле
                            .panel__container
                                .panel__body

                                    .ui-accordion.ui-accordion--border.js-accordion

                                        .ui-accordion__item.js-accordion-item
                                            button.ui-accordion__btn.js-accordion-btn
                                                span.ui-accordion__icon
                                                    +sprite('icon-services-comfort')
                                                span.ui-accordion__arrow
                                                    +sprite('icon-accordion-arrow')
                                                | Удобства в номере
                                            .ui-accordion__content.js-accordion-content
                                                .ui-accordion__content-in

                                                    .panel__services
                                                        ul.panel__services-list
                                                            li
                                                                span.panel__services-text Гладильные принадлежности
                                                            li
                                                                span.panel__services-text Отопление
                                                            li
                                                                span.panel__services-text Плиточный/Мраморный пол
                                                            li
                                                                span.panel__services-text Вешалка для одежды
                                                                span.panel__services-free Бесплатно
                                                            li
                                                                span.panel__services-text Утюг

                                        .ui-accordion__item.js-accordion-item
                                            button.ui-accordion__btn.js-accordion-btn
                                                span.ui-accordion__icon
                                                    +sprite('icon-services-bathroom')
                                                span.ui-accordion__arrow
                                                    +sprite('icon-accordion-arrow')
                                                | Ванная комната
                                            .ui-accordion__content.js-accordion-content
                                                .ui-accordion__content-in

                                                    p Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные тексты. Рукопись своего вдали грамматики, взгляд составитель, необходимыми всеми, имеет моей ipsum раз он! Деревни оксмокс моей злых. Рот, снова там.

                                        .ui-accordion__item.js-accordion-item
                                            button.ui-accordion__btn.js-accordion-btn
                                                span.ui-accordion__icon
                                                    +sprite('icon-services-outside')
                                                span.ui-accordion__arrow
                                                    +sprite('icon-accordion-arrow')
                                                | Снаружи
                                            .ui-accordion__content.js-accordion-content
                                                .ui-accordion__content-in

                                                    p Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные тексты. Рукопись своего вдали грамматики, взгляд составитель, необходимыми всеми, имеет моей ipsum раз он! Деревни оксмокс моей злых. Рот, снова там.


                                        .ui-accordion__item.js-accordion-item
                                            button.ui-accordion__btn.js-accordion-btn
                                                span.ui-accordion__icon
                                                    +sprite('icon-services-guest')
                                                span.ui-accordion__arrow
                                                    +sprite('icon-accordion-arrow')
                                                | Гостиная зона
                                            .ui-accordion__content.js-accordion-content
                                                .ui-accordion__content-in

                                                    p Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные тексты. Рукопись своего вдали грамматики, взгляд составитель, необходимыми всеми, имеет моей ipsum раз он! Деревни оксмокс моей злых. Рот, снова там.


                        // Panel Services :: End



                        // Panel Rooms :: Start
                        .panel
                            h2.panel__title-outer Номера
                            .panel__container
                                .panel__body

                                    .ui-accordion.ui-accordion--wrap.ui-accordion--border.js-accordion

                                        .ui-accordion__item.js-accordion-item
                                            button.ui-accordion__btn.js-accordion-btn
                                                span.ui-accordion__people
                                                    | 6 x 
                                                    +sprite('icon-men')
                                                span.ui-accordion__arrow
                                                    +sprite('icon-accordion-arrow')
                                                span.ui-accordion__room Номер Penn 5000 с кроватью размера «king-size»

                                            .ui-accordion__content.js-accordion-content
                                                .ui-accordion__content-in

                                                    .panel__room
                                                        .panel__room-desc

                                                            table
                                                                tr
                                                                    th Вмещает
                                                                    td
                                                                        span.panel__room-badge
                                                                            +sprite('icon-people')
                                                                            | 6 человек
                                                                tr
                                                                    th Площадь номера
                                                                    td
                                                                        span.panel__room-badge
                                                                            +sprite('icon-people')
                                                                            | 35 м2
                                                                tr
                                                                    th Спальня 1
                                                                    td
                                                                        span.panel__room-badge
                                                                            +sprite('icon-people')
                                                                            | 1 большая двуспальная кровать
                                                                tr
                                                                    th Гостиная
                                                                    td
                                                                        span.panel__room-badge
                                                                            +sprite('icon-people')
                                                                            | 1 диван-кровать

                                                            p Полулюкс располагает телевизором с плоским экраном и холодильником. В ванной комнате предоставляются бесплатные туалетно-косметические принадлежности. В номере, который является более просторным, к вашим услугам гостиный уголок.

                                                            strong Услуги и удобства:

                                                            ul
                                                                li Ванна
                                                                li Телефон 
                                                                li Холодильник 
                                                                li Рабочий стол 
                                                                li Бесплатные туалетные принадлежности 
                                                                li Вентилятор 
                                                                li Туалет 
                                                                li Ванная комната 
                                                                li Отопление 
                                                                li Тапочки 
                                                                li Кабельные каналы 
                                                                li Ковровое покрытие 
                                                                li Телевизор с плоским экраном 
                                                                li Диван 
                                                                li Шкаф/гардероб 
                                                                li Полотенца 
                                                                li Белье
                                                        
                                                        .panel__room-gallery

                                                            .gallery.js-gallery
                                                                .gallery__slides.owl-carousel.owl-gallery.js-gallery-slides
                                                                    span.gallery__slides-item
                                                                        img(src="images/img-gallery-01.jpg" alt="")
                                                                    span.gallery__slides-item
                                                                        img(src="images/img-gallery-01.jpg" alt="")
                                                                    span.gallery__slides-item
                                                                        img(src="images/img-gallery-01.jpg" alt="")
                                                                    span.gallery__slides-item
                                                                        img(src="images/img-gallery-01.jpg" alt="")
                                                                    span.gallery__slides-item
                                                                        img(src="images/img-gallery-01.jpg" alt="")
                                                                    span.gallery__slides-item
                                                                        img(src="images/img-gallery-01.jpg" alt="")
                                                                .gallery__thumbs.js-gallery-thumbs
                                                                    span.gallery__thumbs-item
                                                                        img(src="images/img-gallery-01.jpg" alt="")
                                                                    span.gallery__thumbs-item
                                                                        img(src="images/img-gallery-01.jpg" alt="")
                                                                    span.gallery__thumbs-item
                                                                        img(src="images/img-gallery-01.jpg" alt="")
                                                                    span.gallery__thumbs-item
                                                                        img(src="images/img-gallery-01.jpg" alt="")
                                                                    span.gallery__thumbs-item
                                                                        img(src="images/img-gallery-01.jpg" alt="")
                                                                    span.gallery__thumbs-item
                                                                        img(src="images/img-gallery-01.jpg" alt="")

                                                        .panel__room-control
                                                            a(href="#").btn.btn--50.btn--blue Узнать стоимость номера



                                        .ui-accordion__item.js-accordion-item
                                            button.ui-accordion__btn.js-accordion-btn
                                                span.ui-accordion__people
                                                    | 1 x 
                                                    +sprite('icon-men')
                                                span.ui-accordion__arrow
                                                    +sprite('icon-accordion-arrow')
                                                span.ui-accordion__room Классический люкс с 1 спальней — Просторнее большинства других номеров — Нью-Йорк

                                            .ui-accordion__content.js-accordion-content
                                                .ui-accordion__content-in

                                                    p Далеко-далеко за словесными горами в стране гласных и согласных живут, рыбные тексты. Рукописи власти имени запятой но она текстов эта. Возвращайся языкового все инициал своего рот осталось его они грамматики сбить о?

                                        .ui-accordion__item.js-accordion-item
                                            button.ui-accordion__btn.js-accordion-btn
                                                span.ui-accordion__people
                                                    | 2 x 
                                                    +sprite('icon-men')
                                                span.ui-accordion__arrow
                                                    +sprite('icon-accordion-arrow')
                                                span.ui-accordion__room Классический номер с 2 отдельными кроватям

                                            .ui-accordion__content.js-accordion-content
                                                .ui-accordion__content-in

                                                    p Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные тексты. Снова послушавшись рукопись над бросил свою алфавит рот дорогу страну, речью страна буквоград, предложения выйти коварных даже необходимыми маленькая реторический.



                        // Panel Rooms :: End


                        // Panel Nears :: Start

                        .panel
                            h2.panel__title-outer Ближайшие достопримечательности
                            .panel__container
                                .panel__body

                                    .panel__nears
                                        ul.panel__nears-list
                                            li
                                                a(href="#").panel__nears-item
                                                    span.panel__nears-title Чкаловский рынок
                                                    span.panel__nears-distance 200 м
                                            li
                                                a(href="#").panel__nears-item
                                                    span.panel__nears-title Станция метро Ботаническая
                                                    span.panel__nears-distance 200 м
                                            li
                                                a(href="#").panel__nears-item
                                                    span.panel__nears-title Культурно-развлекательный комплекс Уралец
                                                    span.panel__nears-distance 200 м
                                            li
                                                a(href="#").panel__nears-item
                                                    span.panel__nears-type Супермаркет
                                                    span.panel__nears-title Пятерочка
                                                    span.panel__nears-distance 100 м
                                            li
                                                a(href="#").panel__nears-item
                                                    span.panel__nears-type Рынок
                                                    span.panel__nears-title D' Talipapa marketplace
                                                    span.panel__nears-distance 5 м

                        // Panel Nears :: End



                        // Panel Air & Train stations :: Start
                        section.panel
                            h2.panel__title-outer Аэропорты и вокзалы рядом
                            .panel__container
                                .panel__body

                                    .ui-accordion.ui-accordion--border.js-accordion

                                        .ui-accordion__item.js-accordion-item
                                            button.ui-accordion__btn.js-accordion-btn
                                                span.ui-accordion__icon
                                                    +sprite('icon-airports')
                                                span.ui-accordion__arrow
                                                    +sprite('icon-accordion-arrow')
                                                | Международный аэропорт

                                            .ui-accordion__content.js-accordion-content
                                                .ui-accordion__content-in

                                                    .panel__route

                                                        table.panel__route-table
                                                            tr
                                                                td
                                                                    span.panel__route-variable
                                                                        span.panel__route-variable-in Частный трансфер
                                                                td
                                                                    span.panel__route-time 45 минут
                                                            tr
                                                                td
                                                                    span.panel__route-variable
                                                                        span.panel__route-variable-in Такси
                                                                td
                                                                    span.panel__route-time 30 минут
                                                            tr
                                                                td
                                                                    span.panel__route-variable
                                                                        span.panel__route-variable-in Общественный транспорт
                                                                td
                                                                    span.panel__route-time 60 минут
                                                        
                                                        .panel__route-badges
                                                            span.ui-badge.ui-badge--32.ui-badge--parking
                                                                +sprite('icon-badge-parking')
                                                                | Доступна бесплатно

                                                        .panel__route-taxi

                                                            a(href="#").btn.btn--50.btn--orange
                                                                +sprite('icon-taxi')
                                                                span.is-xs-visible Узнать стоимость такси
                                                                span.is-xs-hidden Узнать стоимость

                                        .ui-accordion__item.js-accordion-item
                                            button.ui-accordion__btn.js-accordion-btn
                                                span.ui-accordion__icon
                                                    +sprite('icon-airports')
                                                span.ui-accordion__arrow
                                                    +sprite('icon-accordion-arrow')
                                                | Аэропорт Схипхол

                                            .ui-accordion__content.js-accordion-content
                                                .ui-accordion__content-in

                                                    p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Меня даль реторический гор, рукописи маленькая домах даже живет снова, агенство вопрос путь повстречался всеми жаренные буквоград буквенных. Они, составитель.

                        // Panel Air & Train stations :: End


                        // Panel Text :: Start
                        .panel
                            .panel__container

                                .panel__edit

                                    .panel__edit-content
                                        p Отель Vistana Kuala Lumpur Titiwangsa расположен между станцией легкорельсового транспорта Titiwangsa и станцией монорельсовой дороги KL. К услугам гостей номера с телевизором с плоским экраном и кабельными каналами. К услугам гостей открытый бассейн и фитнес-центр.Поездка по монорельсовой дороге до торгового района Букит Бинтанг занимает 15 минут, а до торгового центра Midvalley Megamall и башен-близнецов Петронас - примерно 30 минут.Современные номера отеля Vistana располагают бесплатным Wi-Fi, гладильными принадлежностями, сейфом, принадлежностями для чая/кофе, а также ванной комнатой с тапочками и бесплатными туалетно-косметическими принадлежностями.В коммуникационном центре работают коммуникационные службы. В отеле работает пункт обмена валюты и прачечная. Приветливый персонал свободно говорит на английском, малайском и китайском языках.В течение всего дня в кафе-баре Barista подают блюда местной и интернациональной кухни.
                                    .panel__edit-control
                                        a(href="#").btn.btn--38.btn--whitedark
                                            +sprite('icon-edit')
                                            | Редактировать стр.

                        // Panel Text :: End

                        // Panel Description :: Start
                        .panel
                            .panel__description
                                +sprite('icon-description')
                                button.btn.btn--46.btn--whitedark
                                    +sprite('icon-plus-small')
                                    | Добавить описание

                        // Panel Description :: End


                        // Panel Hotels :: Start
                        section.panel
                            h2.panel__title-outer Отели рядом
                            .panel__container
                                .panel__body
                        
                                    .panel__hotels

                                        .panel__hotel.panel__hotel--orange
                                            figure.panel__hotel-image
                                                img(src="images/img-hotel-min-01.jpg", alt="")
                                            .panel__hotel-desc
                                                h3.panel__hotel-title
                                                    a(href="#").ui-link.ui-link--underline.ui-link--blue Row NYC at Times Square
                                                .panel__hotel-rating
                                                    .ui-rating(data-rating="4")
                                                        +sprite('icon-rating')
                                                        +sprite('icon-rating')
                                                        +sprite('icon-rating')
                                                        +sprite('icon-rating')
                                                        +sprite('icon-rating')
                                                p.panel__hotel-text Lawrence, США

                                            mark.panel__hotel-mark 4.8

                                        
                                        .panel__hotel.panel__hotel--red
                                            figure.panel__hotel-image
                                                img(src="images/img-hotel-min-02.jpg", alt="")
                                            .panel__hotel-desc
                                                h3.panel__hotel-title
                                                    a(href="#").ui-link.ui-link--underline.ui-link--blue Hotel Edison Times Square near Times Square 5
                                                .panel__hotel-rating
                                                    .ui-rating(data-rating="5")
                                                        +sprite('icon-rating')
                                                        +sprite('icon-rating')
                                                        +sprite('icon-rating')
                                                        +sprite('icon-rating')
                                                        +sprite('icon-rating')
                                                p.panel__hotel-text Lawrence, США

                                            mark.panel__hotel-mark 5.4


                                        .panel__hotel.panel__hotel--green
                                            figure.panel__hotel-image
                                                img(src="images/img-hotel-min-01.jpg", alt="")
                                            .panel__hotel-desc
                                                h3.panel__hotel-title
                                                    a(href="#").ui-link.ui-link--underline.ui-link--blue Hotel Edison Times Square near Times Square 5
                                                .panel__hotel-rating
                                                    .ui-rating(data-rating="5")
                                                        +sprite('icon-rating')
                                                        +sprite('icon-rating')
                                                        +sprite('icon-rating')
                                                        +sprite('icon-rating')
                                                        +sprite('icon-rating')
                                                p.panel__hotel-text Lawrence, США

                                            mark.panel__hotel-mark 5.4


                        // Panel Hotels :: End

                        // Panel Booking :: Start
                        .panel
                            .panel__booking
                                a(href="#").btn.btn--64.btn--blue
                                    +sprite('icon-booking')
                                    | Забронировать этот отель
                        // Panel Booking :: End


                        // Panel Comments :: Start
                        section.panel
                            .panel__container

                                .panel__head

                                    figure.panel__icon
                                        +sprite('icon-panel-comments')

                                    h2.panel__title 103 отзыва


                                .panel__body

                                    .panel__add

                                        button.btn.btn--50.btn--green
                                            +sprite('icon-plus')
                                            | Добавить отзыв

                                        p.ui-caption Регистрация не требуется

                        // Panel Comments :: End


                        // Panel Sorting :: Start
                        .panel
                            form(action="#")
                                .panel__sorting.js-toggle

                                    button.panel__sorting-btn.js-toggle-btn
                                        +sprite('icon-dots')

                                    .row
                                        .col-md

                                            .panel__sorting-group

                                                .panel__sorting-select.is-md-visible

                                                    .ui-select.ui-select--40
                                                        select.js-select
                                                            option Новые отзывы сверху
                                                            option Новые отзывы снизу

                                                .panel__sorting-select
                                                    
                                                    .ui-select.ui-select--40
                                                        select.js-select
                                                            option За все время
                                                            option За все время 1
                                                            option За все время 2
                                                            option За все время 3

                                                    .ui-help.js-tooltip(title="Это подсказка...")
                                                        +sprite('icon-help')

                                        .col-md-auto.is-md-visible

                                            .panel__sorting-display
                                                .ui-group
                                                    label.ui-check
                                                        input(type="radio" name="display").ui-check__input
                                                        span.ui-check__display
                                                            +sprite('icon-display-grid')
                                                    label.ui-check
                                                        input(type="radio" name="display").ui-check__input
                                                        span.ui-check__display
                                                            +sprite('icon-display-list')

                        // Panel Sorting :: End

                        // Panel Comments :: Start
                        .panel
                            .panel__comments.panel__comments--inline


                                // Comment :: Start
                                .panel__comment.panel__comment--green.js-comment

                                    .panel__comment-container
                                    
                                        .panel__comment-sidebar

                                            .panel__comment-user
                                                p.panel__comment-user-name
                                                    a(href="#") Константин Константинович Константинопольский
                                                figure.panel__comment-user-image
                                                    img(src="images/img-apple.png" alt="" aria-hidden="true")

                                            p.panel__comment-date 16 дек. 2018 #[span.is-md-visible в 15:04]

                                            ul.panel__comment-list
                                                li
                                                    img(src="images/img-location-ru.png" alt="" aria-hidden="true")
                                                    span.is-md-visible Санкт-Петербург
                                                li
                                                    span.icon-mark.icon-mark--green 4
                                                    span.is-md-visible оценка
                                                li
                                                    span.icon-circle.icon-circle--green
                                                    span.is-md-visible Положительный


                                        .panel__comment-content

                                            .ui-toggle.js-toggle
                                                button.ui-toggle__btn.js-toggle-btn(aria-expanded="true" aria-controls="toggle-01")
                                                    +sprite('icon-dots')
                                                .ui-toggle__dropdown.js-toggle-dropdown#toggle-01
                                                    ul.ui-toggle__menu
                                                        li
                                                            a(href="#").ui-toggle__link Пометить все отзывы
                                                        li
                                                            a(href="#").ui-toggle__link Контакты пользователя
                                                        li
                                                            a(href="#").ui-toggle__link Закрепить отзыв
                                                        li
                                                            a(href="#").ui-toggle__link Пожаловаться


                                            .panel__comment-pinned
                                                p.panel__comment-pinned-text Закрепленный отзыв
                                                span.ui-help.js-tooltip(title="Это подсказка...")
                                                    +sprite('icon-help')

                                            .panel__comment-message
                                                p 12 сентября на пустой трассе ночью не справился с управлением из-за насекомого, которое влетело в открытое окно мне прямо в глаз. Машина в кювете, повреждения есть и довольно серьезные – оси, кардан, крылья, бампер. Думал что аварийный даже ехать не станет ко мне, но после звонка его выслали. Причину выслушал спокойно, все процедуры в обычном порядке, после направления машину восстановили, хотя повреждений было много.
                                                p Loremipsumdolorsitametconsectetur,adipisicingelit.Illumrationequaeratmagnam,maioresprovidentdelenitimaximeundevoluptatereprehenderiteumsedat,doloreliberoquisquamiusto,velitfugiatestdicta.

                                            .panel__comment-control
                                                .panel__comment-voice

                                                    .ui-voice.ui-voice--green
                                                        button.ui-voice__btn.ui-voice__btn--like
                                                            span.is-visible-default
                                                                +sprite('icon-like')
                                                            span.is-visible-blind
                                                                span.is-xs-visible Голосовать за
                                                                span.is-xs-hidden За
                                                        p.ui-voice__number 10
                                                        button.ui-voice__btn.ui-voice__btn--dislike
                                                            span.is-visible-default
                                                                +sprite('icon-dislike')
                                                            span.is-visible-blind
                                                                span.is-xs-visible Голосовать против
                                                                span.is-xs-hidden Против

                                                .panel__comment-buttons

                                                    button.btn.btn--36.btn--whitedark Ответить


                                    .panel__comment-answers.js-answers
                                        .panel__comment-answers-loadmore
                                            button.btn.btn--52.btn--loadmore.js-answers-btn
                                                +sprite('icon-turn')
                                                | Показать ответы (7)
                                        .panel__comment-answers-content.js-answers-content
                                            button.panel__comment-answers-close.js-answers-close
                                            span.panel__comment-answers-line
                                            | Ответы

                                // Comment :: End


                                // Comment :: Start
                                .panel__comment

                                    .panel__comment-container
                                        .panel__comment-sidebar

                                            .panel__comment-user
                                                p.panel__comment-user-name
                                                    a(href="#") Длинное_имя_написанное_слитно

                                            p.panel__comment-date 14 дек. 2018 #[span.is-md-visible в 15:04]

                                            ul.panel__comment-list
                                                li
                                                    img(src="images/img-location-ru.png" alt="" aria-hidden="true")
                                                    span.is-md-visible Санкт-Петербург
                                                li
                                                    span.icon-mark.icon-mark--green 4
                                                    span.is-md-visible оценка
                                                li
                                                    span.icon-circle.icon-circle--green
                                                    span.is-md-visible Положительный


                                        .panel__comment-content

                                            .ui-toggle.js-toggle
                                                button.ui-toggle__btn.js-toggle-btn(aria-expanded="true" aria-controls="toggle-02")
                                                    +sprite('icon-dots')
                                                .ui-toggle__dropdown.js-toggle-dropdown#toggle-02
                                                    ul.ui-toggle__menu
                                                        li
                                                            a(href="#").ui-toggle__link Пометить все отзывы
                                                        li
                                                            a(href="#").ui-toggle__link Контакты пользователя
                                                        li
                                                            a(href="#").ui-toggle__link Закрепить отзыв
                                                        li
                                                            a(href="#").ui-toggle__link Пожаловаться


                                            .panel__comment-message
                                                p Перед поездкой во Вьетнам оформил страховку, полис включал в себя опцию активный отдых. Во время одного из спусков в горах, я неудачно упал и очень сильно повредил руку. Запястье распухло и очень болело. Позвонил на горячую линию, меня направили в клинику в ближайшем городке. Оказалось это простой ушиб и растяжение.
                                                p Визит к врачу полностью покрыла страховка.

                                            .panel__comment-control
                                                .panel__comment-voice

                                                    .ui-voice.ui-voice--green
                                                        button.ui-voice__btn.ui-voice__btn--like
                                                            span.is-visible-default
                                                                +sprite('icon-like')
                                                            span.is-visible-blind
                                                                span.is-xs-visible Голосовать за
                                                                span.is-xs-hidden За
                                                        p.ui-voice__number 10
                                                        button.ui-voice__btn.ui-voice__btn--dislike
                                                            span.is-visible-default
                                                                +sprite('icon-dislike')
                                                            span.is-visible-blind
                                                                span.is-xs-visible Голосовать против
                                                                span.is-xs-hidden Против

                                                .panel__comment-buttons

                                                    button.btn.btn--36.btn--whitedark Ответить

                                    .panel__comment-answers.js-answers
                                        .panel__comment-answers-loadmore
                                            button.btn.btn--52.btn--loadmore.js-answers-btn
                                                +sprite('icon-turn')
                                                | Показать ответы (3)

                                        .panel__comment-answers-content.js-answers-content
                                            button.panel__comment-answers-close.js-answers-close
                                            span.panel__comment-answers-line

                                            // Comment :: Start
                                            .panel__comment.panel__comment--blue

                                                .panel__comment-container
                                                    .panel__comment-sidebar

                                                        .panel__comment-user
                                                            p.panel__comment-user-name
                                                                +sprite('icon-checkmark')
                                                                a(href="#") Петр Е

                                                        p.panel__comment-date 16 дек. 2018 #[span.is-md-visible в 15:04]

                                                        p.panel__comment-caption Официальный представитель компании Ренессанс Страхование


                                                    .panel__comment-content

                                                        .ui-toggle.js-toggle
                                                            button.ui-toggle__btn.js-toggle-btn(aria-expanded="true" aria-controls="toggle-03")
                                                                +sprite('icon-dots')
                                                            .ui-toggle__dropdown.js-toggle-dropdown#toggle-03
                                                                ul.ui-toggle__menu
                                                                    li
                                                                        a(href="#").ui-toggle__link Пометить все отзывы
                                                                    li
                                                                        a(href="#").ui-toggle__link Контакты пользователя
                                                                    li
                                                                        a(href="#").ui-toggle__link Закрепить отзыв
                                                                    li
                                                                        a(href="#").ui-toggle__link Пожаловаться


                                                        .panel__comment-message
                                                            p Ремонтировал свою Toyota Aurus по направлению которое получил от страховой компании. Обращался по полису КАСКО. Было установлено несколько новых запчастей. СТО которое выполняло работу выполнено все очень качественно. Направление получил уже через неделю после обращения. Очереди не было, все процессы в штатном режиме. Ремонтом доволен. 

                                                        .panel__comment-control
                                                            .panel__comment-voice

                                                                .ui-voice.ui-voice--red
                                                                    button.ui-voice__btn.ui-voice__btn--like
                                                                        span.is-visible-default
                                                                            +sprite('icon-like')
                                                                        span.is-visible-blind
                                                                            span.is-xs-visible Голосовать за
                                                                            span.is-xs-hidden За
                                                                    p.ui-voice__number 10
                                                                    button.ui-voice__btn.ui-voice__btn--dislike
                                                                        span.is-visible-default
                                                                            +sprite('icon-dislike')
                                                                        span.is-visible-blind
                                                                            span.is-xs-visible Голосовать против
                                                                            span.is-xs-hidden Против

                                                            .panel__comment-buttons
                                                                button.btn.btn--36.btn--whitedark
                                                                    span.is-md-visible Отправить сообщение
                                                                    span.is-md-hidden Отправить ЛС
                                                                button.btn.btn--36.btn--whitedark Ответить

                                            // Comment :: End


                                            // Comment :: Start
                                            .panel__comment
                                                .panel__comment-container
                                                    .panel__comment-sidebar

                                                        .panel__comment-user
                                                            p.panel__comment-user-name
                                                                a(href="#") Татьяна Ш

                                                        p.panel__comment-date 14 дек. 2018 #[span.is-md-visible в 16:04]

                                                        ul.panel__comment-list
                                                            li
                                                                img(src="images/img-location-ru.png" alt="" aria-hidden="true")
                                                                span.is-md-visible Санкт-Петербург



                                                    .panel__comment-content

                                                        .ui-toggle.js-toggle
                                                            button.ui-toggle__btn.js-toggle-btn(aria-expanded="true" aria-controls="toggle-04")
                                                                +sprite('icon-dots')
                                                            .ui-toggle__dropdown.js-toggle-dropdown#toggle-04
                                                                ul.ui-toggle__menu
                                                                    li
                                                                        a(href="#").ui-toggle__link Пометить все отзывы
                                                                    li
                                                                        a(href="#").ui-toggle__link Контакты пользователя
                                                                    li
                                                                        a(href="#").ui-toggle__link Закрепить отзыв
                                                                    li
                                                                        a(href="#").ui-toggle__link Пожаловаться


                                                        .panel__comment-message
                                                            p Есть положительный опыт страхования по каско в «ренессансе». Машина стояла во дворе, на крышу упал (или уронили) горшок с цветком. Были мелкие царапины, но все равно очень неприятно. Страховая все разрулила, предложили конкретное СТО и я согласился. Буквально за 7 дней машину подготовили, никаких проблем не возникло вообще.

                                                        .panel__comment-control
                                                            .panel__comment-voice

                                                                .ui-voice.ui-voice--red
                                                                    button.ui-voice__btn.ui-voice__btn--like
                                                                        span.is-visible-default
                                                                            +sprite('icon-like')
                                                                        span.is-visible-blind
                                                                            span.is-xs-visible Голосовать за
                                                                            span.is-xs-hidden За
                                                                    p.ui-voice__number 10
                                                                    button.ui-voice__btn.ui-voice__btn--dislike
                                                                        span.is-visible-default
                                                                            +sprite('icon-dislike')
                                                                        span.is-visible-blind
                                                                            span.is-xs-visible Голосовать против
                                                                            span.is-xs-hidden Против

                                                            .panel__comment-buttons
                                                                button.btn.btn--36.btn--whitedark Ответить

                                            // Comment :: End


                                            // Comment :: Start
                                            .panel__comment.panel__comment--red
                                                .panel__comment-container

                                                    .panel__comment-sidebar

                                                        .panel__comment-user
                                                            p.panel__comment-user-name
                                                                a(href="#") Модератор

                                                        p.panel__comment-date 14 дек. 2018 #[span.is-md-visible в 15:04]
                                                        p.panel__comment-caption Rubrikator.org


                                                    .panel__comment-content

                                                        .ui-toggle.js-toggle
                                                            button.ui-toggle__btn.js-toggle-btn(aria-expanded="true" aria-controls="toggle-05")
                                                                +sprite('icon-dots')
                                                            .ui-toggle__dropdown.js-toggle-dropdown#toggle-05
                                                                ul.ui-toggle__menu
                                                                    li
                                                                        a(href="#").ui-toggle__link Пометить все отзывы
                                                                    li
                                                                        a(href="#").ui-toggle__link Контакты пользователя
                                                                    li
                                                                        a(href="#").ui-toggle__link Закрепить отзыв
                                                                    li
                                                                        a(href="#").ui-toggle__link Пожаловаться


                                                        .panel__comment-message
                                                            p Татьяна соблюдайте правила приличия на ресурсе, а не то будете заблокированы. Спасибо.

                                                        .panel__comment-control
                                                            .panel__comment-buttons
                                                                button.btn.btn--36.btn--whitedark
                                                                    span.is-md-visible Отправить сообщение
                                                                    span.is-md-hidden Отправить ЛС
                                                                button.btn.btn--36.btn--whitedark Ответить

                                            // Comment :: End

                                // Comment :: End











                                // Comment :: Start
                                .panel__comment

                                    .panel__comment-container
                                        .panel__comment-sidebar

                                            .panel__comment-user
                                                p.panel__comment-user-name
                                                    a(href="#") Олег Р.


                                            p.panel__comment-date 16 дек. 2018 #[span.is-md-visible в 15:04]

                                            ul.panel__comment-list
                                                li
                                                    img(src="images/img-location-ru.png" alt="" aria-hidden="true")
                                                    span.is-md-visible Санкт-Петербург
                                                li
                                                    span.icon-mark.icon-mark--green 4
                                                    span.is-md-visible оценка
                                                li
                                                    span.icon-circle.icon-circle--green
                                                    span.is-md-visible Положительный


                                        .panel__comment-content

                                            .ui-toggle.js-toggle
                                                button.ui-toggle__btn.js-toggle-btn(aria-expanded="true" aria-controls="toggle-06")
                                                    +sprite('icon-dots')
                                                .ui-toggle__dropdown.js-toggle-dropdown#toggle-06
                                                    ul.ui-toggle__menu
                                                        li
                                                            a(href="#").ui-toggle__link Пометить все отзывы
                                                        li
                                                            a(href="#").ui-toggle__link Контакты пользователя
                                                        li
                                                            a(href="#").ui-toggle__link Закрепить отзыв
                                                        li
                                                            a(href="#").ui-toggle__link Пожаловаться


                                            .panel__comment-invisible
                                                +sprite('icon-invisible')
                                                p.panel__comment-invisible-text Этот отзыв содержит нецензурную брань или оскорбления, и поэтому был скрыт.
                                                button.btn.btn--30.btn--whitedark.btn--arrow
                                                    span.is-md-visible Показать весь отзыв
                                                    span.is-md-hidden Содержание данного отзыва скрыто. Нажмите, чтобы показать его
                                                    +sprite('icon-arrow-down')


                                            .panel__comment-control
                                                .panel__comment-voice

                                                    .ui-voice.ui-voice--red
                                                        button.ui-voice__btn.ui-voice__btn--like
                                                            span.is-visible-default
                                                                +sprite('icon-like')
                                                            span.is-visible-blind
                                                                span.is-xs-visible Голосовать за
                                                                span.is-xs-hidden За
                                                        p.ui-voice__number 10
                                                        button.ui-voice__btn.ui-voice__btn--dislike
                                                            span.is-visible-default
                                                                +sprite('icon-dislike')
                                                            span.is-visible-blind
                                                                span.is-xs-visible Голосовать против
                                                                span.is-xs-hidden Против

                                                .panel__comment-buttons

                                                    button.btn.btn--36.btn--whitedark Ответить


                                    .panel__comment-answers.js-answers
                                        .panel__comment-answers-loadmore
                                            button.btn.btn--52.btn--loadmore.js-answers-btn
                                                +sprite('icon-turn')
                                                | Показать ответы (7)
                                        .panel__comment-answers-content.js-answers-content
                                            button.panel__comment-answers-close.js-answers-close
                                            span.panel__comment-answers-line
                                            | Ответы

                                // Comment :: End



                                // Comment :: Start
                                .panel__comment

                                    .panel__comment-container
                                        .panel__comment-sidebar

                                            .panel__comment-user
                                                p.panel__comment-user-name
                                                    a(href="#") Назарий О.

                                            p.panel__comment-date 16 дек. 2018 #[span.is-md-visible в 15:04]

                                            ul.panel__comment-list
                                                li
                                                    img(src="images/img-location-ru.png" alt="" aria-hidden="true")
                                                    span.is-md-visible Санкт-Петербург
                                                li
                                                    span.icon-mark.icon-mark--green 4
                                                    span.is-md-visible оценка
                                                li
                                                    span.icon-circle.icon-circle--green
                                                    span.is-md-visible Положительный


                                        .panel__comment-content

                                            .ui-toggle.js-toggle
                                                button.ui-toggle__btn.js-toggle-btn(aria-expanded="true" aria-controls="toggle-07")
                                                    +sprite('icon-dots')
                                                .ui-toggle__dropdown.js-toggle-dropdown#toggle-07
                                                    ul.ui-toggle__menu
                                                        li
                                                            a(href="#").ui-toggle__link Пометить все отзывы
                                                        li
                                                            a(href="#").ui-toggle__link Контакты пользователя
                                                        li
                                                            a(href="#").ui-toggle__link Закрепить отзыв
                                                        li
                                                            a(href="#").ui-toggle__link Пожаловаться


                                            .panel__comment-images
                                                figure.panel__comment-image
                                                    img(src="images/img-comment-image-01.jpg" alt="" aria-hidden="true")
                                                figure.panel__comment-image
                                                    img(src="images/img-comment-image-02.jpg" alt="" aria-hidden="true")
                                                figure.panel__comment-image
                                                    img(src="images/img-comment-image-03.jpg" alt="" aria-hidden="true")

                                            .panel__comment-message

                                                p Есть положительный опыт страхования по каско в «ренессансе». Машина стояла во дворе, на крышу упал (или уронили) горшок с цветком. Были мелкие царапины, но все равно очень неприятно. Страховая все разрулила, предложили конкретное СТО и я согласился.

                                                button.btn.btn--30.btn--whitedark
                                                    | Показать весь отзыв
                                                    +sprite('icon-arrow-down')


                                            .panel__comment-control
                                                .panel__comment-voice

                                                    .ui-voice.ui-voice--red
                                                        button.ui-voice__btn.ui-voice__btn--like
                                                            span.is-visible-default
                                                                +sprite('icon-like')
                                                            span.is-visible-blind
                                                                span.is-xs-visible Голосовать за
                                                                span.is-xs-hidden За
                                                        p.ui-voice__number 10
                                                        button.ui-voice__btn.ui-voice__btn--dislike
                                                            span.is-visible-default
                                                                +sprite('icon-dislike')
                                                            span.is-visible-blind
                                                                span.is-xs-visible Голосовать против
                                                                span.is-xs-hidden Против

                                                .panel__comment-buttons

                                                    button.btn.btn--36.btn--whitedark Ответить


                                // Comment :: End



                                // Comment :: Start
                                .panel__comment

                                    .panel__comment-container
                                        .panel__comment-sidebar

                                            .panel__comment-user
                                                p.panel__comment-user-name
                                                    a(href="#") Петр Е

                                            p.panel__comment-date 14 дек. 2018 #[span.is-md-visible в 15:04]

                                            ul.panel__comment-list
                                                li
                                                    img(src="images/img-location-ru.png" alt="" aria-hidden="true")
                                                    span.is-md-visible Санкт-Петербург
                                                li
                                                    span.icon-mark.icon-mark--red 3
                                                    span.is-md-visible оценка
                                                li
                                                    span.icon-circle.icon-circle--red
                                                    span.is-md-visible Отрицательный


                                        .panel__comment-content

                                            .ui-toggle.js-toggle
                                                button.ui-toggle__btn.js-toggle-btn(aria-expanded="true" aria-controls="toggle-08")
                                                    +sprite('icon-dots')
                                                .ui-toggle__dropdown.js-toggle-dropdown#toggle-08
                                                    ul.ui-toggle__menu
                                                        li
                                                            a(href="#").ui-toggle__link Пометить все отзывы
                                                        li
                                                            a(href="#").ui-toggle__link Контакты пользователя
                                                        li
                                                            a(href="#").ui-toggle__link Закрепить отзыв
                                                        li
                                                            a(href="#").ui-toggle__link Пожаловаться


                                            .panel__comment-warning
                                                p.panel__comment-warning-text Недостоверный отзыв
                                                span.ui-help.js-tooltip(title="Это подсказка...")
                                                    +sprite('icon-help')

                                            .panel__comment-message
                                                p КАСКО на все машины в семье делаем в «Ренессансе», обычно все нормально проходит. Из последнего дочери в бок въехал человек на светофоре, нужен был довольно значительный ремонт. С «ренессансом» все прошло гладко, у них видимо там отработанные механизмы. Сам ремонт был немного недоделан, пришлось обратить внимание в СТО и оставить еще на пару дней, но тут никто особо не возмущался. В целом довольны.


                                            .panel__comment-control
                                                .panel__comment-voice

                                                    .ui-voice.ui-voice--red
                                                        button.ui-voice__btn.ui-voice__btn--like
                                                            span.is-visible-default
                                                                +sprite('icon-like')
                                                            span.is-visible-blind
                                                                span.is-xs-visible Голосовать за
                                                                span.is-xs-hidden За
                                                        p.ui-voice__number 10
                                                        button.ui-voice__btn.ui-voice__btn--dislike
                                                            span.is-visible-default
                                                                +sprite('icon-dislike')
                                                            span.is-visible-blind
                                                                span.is-xs-visible Голосовать против
                                                                span.is-xs-hidden Против

                                                .panel__comment-buttons
                                                    button.btn.btn--36.btn--whitedark Ответить

                                        .panel__comment-settings
                                            
                                            .panel__comment-info.js-collapse
                                                button.panel__comment-info-btn.js-collapse-btn
                                                    +sprite('icon-view')
                                                    | Показать инфо
                                                .panel__comment-info-content.js-collapse-content
                                                    ul.panel__comment-info-list
                                                        li ID: #[mark 2345789]
                                                        li IP: #[mark 46.676.767.866]
                                                        li FP: #[mark 787654687]
                                                        li DT: #[mark 16-10-2018  16:34:43]
                                                        li DV: #[mark PC]
                                                        li PL: #[mark Windows]
                                                        li BR: #[mark Chrome 66.0.3356.170]
                                                        li SD: #[mark 1920x1080]
                                                        li BD: #[mark 1827x1014]
                                                        li TW: #[mark 1]
                                                        li UA: #[mark hover]
                                                        li RF: #[mark hover]


                                            .panel__comment-action

                                                .panel__comment-action-group
                                                    button.btn.btn--34.btn--whitedark.btn--outline-red Отриц
                                                    button.btn.btn--34.btn--whitedark Нейтр
                                                    button.btn.btn--34.btn--whitedark.btn--outline-green Полож

                                                button.btn.btn--34.btn--whitedark Метка
                                                button.btn.btn--34.btn--whitedark Сбросить
                                                button.btn.btn--34.btn--whitedark Скрыть
                                                button.btn.btn--34.btn--whitedark.btn--outline-dark Бан
                                                button.btn.btn--34.btn--whitedark.btn--outline-green Обновить
                                                button.btn.btn--34.btn--whitedark.btn--outline-orange Редактировать
                                                button.btn.btn--34.btn--whitedark.btn--outline-red Удалить


                                // Comment :: End





                                // Comment :: Start
                                .panel__comment

                                    .panel__comment-container
                                        .panel__comment-sidebar

                                            .panel__comment-user
                                                p.panel__comment-user-name
                                                    a(href="#") Петр Е

                                            p.panel__comment-date 14 дек. 2018 #[span.is-md-visible в 15:04]

                                            ul.panel__comment-list
                                                li
                                                    img(src="images/img-location-ru.png" alt="" aria-hidden="true")
                                                    span.is-md-visible Санкт-Петербург
                                                li
                                                    span.icon-mark.icon-mark--green 4
                                                    span.is-md-visible оценка
                                                li
                                                    span.icon-circle.icon-circle--red
                                                    span.is-md-visible Отрицательный


                                        .panel__comment-content

                                            .ui-toggle.js-toggle
                                                button.ui-toggle__btn.js-toggle-btn(aria-expanded="true" aria-controls="toggle-09")
                                                    +sprite('icon-dots')
                                                .ui-toggle__dropdown.js-toggle-dropdown#toggle-09
                                                    ul.ui-toggle__menu
                                                        li
                                                            a(href="#").ui-toggle__link Пометить все отзывы
                                                        li
                                                            a(href="#").ui-toggle__link Контакты пользователя
                                                        li
                                                            a(href="#").ui-toggle__link Закрепить отзыв
                                                        li
                                                            a(href="#").ui-toggle__link Пожаловаться

                                            .panel__comment-warning
                                                p.panel__comment-warning-text Недостоверный отзыв
                                                span.ui-help.js-tooltip(title="Это подсказка...")
                                                    +sprite('icon-help')

                                            .panel__comment-message
                                                p Был смят бок, въехали на парковке. Расчет сделали быстро, предложили несколько вариантов СТО на выбор – что-то подальше, что-то поближе. Выбрали наиболее комфортный вариант для нас, сотрудники страховой все время на связи были, подсказывали что и как. Сам ремонт довольно качественный, довольны.


                                            .panel__comment-control
                                                .panel__comment-voice

                                                    .ui-voice.ui-voice--red
                                                        button.ui-voice__btn.ui-voice__btn--like
                                                            span.is-visible-default
                                                                +sprite('icon-like')
                                                            span.is-visible-blind
                                                                span.is-xs-visible Голосовать за
                                                                span.is-xs-hidden За
                                                        p.ui-voice__number 10
                                                        button.ui-voice__btn.ui-voice__btn--dislike
                                                            span.is-visible-default
                                                                +sprite('icon-dislike')
                                                            span.is-visible-blind
                                                                span.is-xs-visible Голосовать против
                                                                span.is-xs-hidden Против

                                                .panel__comment-buttons
                                                    button.btn.btn--36.btn--whitedark Ответить

                                        .panel__comment-settings


                                            .panel__comment-info.js-collapse
                                                button.panel__comment-info-btn.js-collapse-btn
                                                    +sprite('icon-view')
                                                    | Показать инфо
                                                .panel__comment-info-content.js-collapse-content
                                                    ul.panel__comment-info-list
                                                        li
                                                            +sprite('icon-info')
                                                            | 46.676.767.866
                                                        li
                                                            +sprite('icon-info')
                                                            | 44578995866
                                                        li
                                                            +sprite('icon-info')
                                                            | Windows, Chrome
                                                        li
                                                            +sprite('icon-info')
                                                            | 1920x1080
                                                        li
                                                            +sprite('icon-info')
                                                            | Показать реферер


                                            .panel__comment-action

                                                .panel__comment-action-left

                                                    button.btn.btn--34.btn--whitedark Метка
                                                    button.btn.btn--34.btn--whitedark Сбросить

                                                .panel__comment-action-right
                                                    button.btn.btn--34.btn--whitedark Скрыть
                                                    button.btn.btn--34.btn--whitedark.btn--outline-dark Бан
                                                    button.btn.btn--34.btn--whitedark.btn--outline-red Удалить


                                // Comment :: End


                                // Comment :: Start
                                .panel__comment.panel__comment--orange

                                    .panel__comment-container
                                        .panel__comment-sidebar

                                            .panel__comment-user
                                                p.panel__comment-user-admin Администратор

                                            p.panel__comment-date 14 дек. 2018 #[span.is-md-visible в 15:04]

                                        .panel__comment-content

                                            .panel__comment-message
                                                p Благодарим вас за ваши отзывы. Мы рады, что вы остались довольны качеством нашей работы. Желаем вам всего наилучшего и будем рады помочь вам, если у вас возникнут 


                                // Comment :: End


                                // Comment :: Start
                                .panel__comment.panel__comment--notice

                                    .panel__comment-container
                                        .panel__comment-sidebar

                                            figure.panel__comment-icon
                                                +sprite('icon-comment-notice')

                                        .panel__comment-content

                                            .panel__comment-notice
                                                p Пожалуйста оставьте небольшой отзыв об этой организации: несколько слов о качестве работы и общем впечатлении – помогите другим посетителям сделать правильный выбор.
                                                strong Огромное спасибо!


                                // Comment :: End


                                // Txt :: Start
                                .panel__txt
                                    figure.panel__txt-icon
                                        +sprite('icon-txt-notice')

                                    .panel__txt-notice
                                        p Пожалуйста оставьте небольшой отзыв об этой организации: несколько слов о качестве работы и общем впечатлении – помогите другим посетителям сделать правильный выбор.
                                        strong Огромное спасибо!

                                // Txt :: End


                        // Panel Comments :: End
                        



                    




    // Hotel :: End