---
title: Заявка / Админ - Рубрикатор
bodyClass: is-page-admin
---
extends includes/_app-admin

block main

    // Request :: Start
    .l.l--admin

        // Scrolltop :: Start
        button.scrolltop.js-scrolltop(aria-label="Прокрутить вверх")
            +sprite('icon-scrolltop')
        // Scrolltop :: End
        
        .l__head(role="banner")
            .container-fluid


                .l__topbar

                    ul.l__topbar-menu
                        li
                            a(href="#").l__topbar-link Все заявки
                            +sprite('icon-arrow-right')

                        li
                            a(href="#").l__topbar-link.is-active Заявка на обновление #325004
                            +sprite('icon-arrow-right')


                .l__info
                    ul.l__info-menu
                        li
                            +sprite('icon-calendar')
                            span.l__info-text 24.07.2018  19:17
                        li
                            span.l__info-text IP 192.168.1.111 (#[a(href="#") 18 заявок])
                        li
                            +sprite('icon-notes')
                            span.l__info-text e096a680b4942f9aafdb25be48f6c959 (#[a(href="#") 1 заявка])
                        li
                            +sprite('icon-folder-admin')
                            span.l__info-text admin (#[a(href="#") 13 заявок])






        .l__body
            .container-fluid

                

                // Panel About :: Start
                .panel
                    .panel__container
                        .panel__body

                            .panel__about

                                span.panel__about-title
                                    span.panel__about-title-text Ренессанс Страхование, страховая компания №1 в Российской Федерации
                                    a(href="#").ui-link.ui-link--grey
                                        +sprite('icon-target-blank')
                                p.panel__about-location
                                    +sprite('icon-location')
                                    | Санк-Петербург, ул. Римского-Корсакова, дом 22, офис 12

                                .panel__about-reviews
                                    span.ui-badge.ui-badge--rating.ui-badge--green
                                        +sprite('icon-star')
                                        | 4.8

                                    a(href="#").ui-link.ui-link--underline.ui-link--grey 103 отзыва


                        .panel__foot

                            .panel__dates

                                p.panel__dates-text Ещё заявки компании (18)


                                .panel__dates-carousel.owl-carousel.owl-dates.js-owl-dates

                                    a(href="#").panel__date.panel__date--green
                                        span.panel__date-text 24.07.2018
                                        span.panel__date-percent 64%

                                    a(href="#").panel__date.panel__date--red
                                        span.panel__date-text 20.07.2018
                                        span.panel__date-percent 10%

                                    a(href="#").panel__date
                                        span.panel__date-text 18.07.2018

                                    a(href="#").panel__date
                                        span.panel__date-text 17.07.2018

                                    a(href="#").panel__date
                                        span.panel__date-text 14.07.2018

                                    a(href="#").panel__date
                                        span.panel__date-text 01.06.2018

                                    a(href="#").panel__date
                                        span.panel__date-text 30.05.2018

                                    a(href="#").panel__date.panel__date--green
                                        span.panel__date-text 24.07.2018
                                        span.panel__date-percent 64%

                                    a(href="#").panel__date.panel__date--red
                                        span.panel__date-text 20.07.2018
                                        span.panel__date-percent 10%

                                    a(href="#").panel__date
                                        span.panel__date-text 18.07.2018

                                    a(href="#").panel__date
                                        span.panel__date-text 17.07.2018

                                    a(href="#").panel__date
                                        span.panel__date-text 14.07.2018

                                    a(href="#").panel__date
                                        span.panel__date-text 01.06.2018

                                    a(href="#").panel__date
                                        span.panel__date-text 30.05.2018



                // Panel About :: End


                // Panel Author :: Start
                .panel
                    .panel__author
                        p.panel__author-text Комментарий автора заявки
                        blockquote.panel__author-comment
                            p Прошу заменить данные в связи с изменением телефонов у некоторых филиалов. Директор по развитию филиалов Константин Филимоновский +7-953-148-87-98


                // Panel Author :: End


                // Panel Data :: Start
                .panel

                    .panel__data

                        .panel__container

                            table.panel__data-table
                                thead
                                    tr
                                        th ИМЯ
                                        th
                                            .panel__data-th.is-lg-hidden НОВЫЕ ДАННЫЕ / Текущие ДАННЫЕ
                                            .panel__data-th.is-lg-visible
                                                .row
                                                    .col-6
                                                        | НОВЫЕ ДАННЫЕ
                                                    .col-6
                                                        | Текущие ДАННЫЕ
                                        th
                                tbody
                                    tr
                                        td
                                            label.panel__data-label Название
                                        td
                                            .panel__data-group
                                                input(type="text" value="Ренессанс Страхование").ui-input
                                                input(type="text" value="Ренессанс Страхование").ui-input.ui-input--greylight

                                        td
                                            .panel__data-action
                                                .row
                                                    .col-6.col-xs-12.col-md-5
                                                        button.btn.btn--48.btn--greylight
                                                            +sprite('icon-back')
                                                    .col-6.col-xs-12.col-md-7
                                                        button.btn.btn--48.btn--greenlight
                                                            +sprite('icon-a')


                                    tr
                                        td
                                            label.panel__data-label.text-green К. описание
                                        td
                                            .panel__data-group
                                                input(type="text" value="страховая компания №1 в Российской Федерации").ui-input.ui-input--greenlight
                                                input(type="text" value="").ui-input.ui-input--greylight
                                        td
                                            .panel__data-action
                                                .row
                                                    .col-6.col-xs-12.col-md-5
                                                        button.btn.btn--48.btn--greylight
                                                            +sprite('icon-back')
                                                    .col-6.col-xs-12.col-md-7
                                                        button.btn.btn--48.btn--greenlight
                                                            +sprite('icon-a')

                                
                                tbody.is-highlight
                                    tr
                                        td
                                            label.panel__data-label.text-green Категории
                                        td
                                            .panel__data-group

                                                .ui-field.ui-field--green

                                                    button.btn.btn--selected
                                                        | Страхование
                                                        span.btn__delete
                                                            +sprite('icon-delete')

                                                    button.btn.btn--selected
                                                        | ОСАГО
                                                        span.btn__delete
                                                            +sprite('icon-delete')

                                                .ui-field.ui-field--grey

                                                    button.btn.btn--selected
                                                        | Страхование
                                                        span.btn__delete
                                                            +sprite('icon-delete')

                                        td

                                            .panel__data-action

                                                .row
                                                    .col-6.col-xs-12.col-md-5
                                                        button.btn.btn--48.btn--greylight
                                                            +sprite('icon-back')
                                                    .col-6.col-xs-12.col-md-12
                                                        button.btn.btn--48.btn--greylight
                                                            +sprite('icon-plus-min')
                                                            span.is-md-visible Категория

                                
                                tbody
                                    tr
                                        td
                                            label.panel__data-label Юр. лицо
                                        td
                                            .panel__data-group
                                                input(type="text" value="АО Страхование").ui-input
                                                input(type="text" value="АО Страхование").ui-input.ui-input--greylight
                                        td
                                            .panel__data-action
                                                .row
                                                    .col-12
                                                        button.btn.btn--48.btn--greylight
                                                            +sprite('icon-back')


                                    tr
                                        td
                                            label.panel__data-label ОГРН
                                        td
                                            .panel__data-group
                                                input(type="text" value="1020405896").ui-input
                                                input(type="text" value="1020405896").ui-input.ui-input--greylight
                                        td
                                            .panel__data-action
                                                .row
                                                    .col-6.col-xs-12.col-md-5
                                                        button.btn.btn--48.btn--greylight
                                                            +sprite('icon-back')
                                                    .col-6.col-xs-12.col-md-7
                                                        button.btn.btn--48.btn--greenlight
                                                            +sprite('icon-a')

                                    tr
                                        td
                                            label.panel__data-label ИНН
                                        td
                                            .panel__data-group
                                                input(type="text" value="1020405896").ui-input
                                                input(type="text" value="1020405896").ui-input.ui-input--greylight
                                        td
                                            .panel__data-action
                                                .row
                                                    .col-6.col-xs-12.col-md-5
                                                        button.btn.btn--48.btn--greylight
                                                            +sprite('icon-back')
                                                    .col-6.col-xs-12.col-md-7
                                                        button.btn.btn--48.btn--greenlight
                                                            +sprite('icon-a')


                                tbody.is-highlight
                                    tr
                                        td
                                            label.panel__data-label.text-green Телефон

                                        td
                                            .panel__data-group

                                                .panel__data-multiple
                                                    .row
                                                        .col-12.col-lg-6

                                                            .ui-input-group.ui-input-group--phone
                                                                input(type="text" value="+79531232101").ui-input
                                                                input(type="text" value="отдел продаж").ui-input
                                                                .ui-input-append
                                                                    button.btn.btn--48.btn--greylight
                                                                        +sprite('icon-delete')

                                                        .col-11.push-1.col-lg-6.push-lg-0

                                                            .ui-input-group.ui-input-group--phone
                                                                input(type="text" value="+79531232101").ui-input.ui-input--greylight
                                                                input(type="text" value="отдел продаж").ui-input.ui-input--greylight
                                                                .ui-input-append
                                                                    button.btn.btn--48.btn--greylight
                                                                        +sprite('icon-delete')


                                                    .row
                                                        .col-12.col-lg-6

                                                            .ui-input-group.ui-input-group--phone
                                                                input(type="text" value="0509").ui-input.ui-input--greenlight
                                                                input(type="text" value="внутренний номер").ui-input.ui-input--greenlight
                                                                .ui-input-append
                                                                    button.btn.btn--48.btn--greenlight
                                                                        +sprite('icon-delete')

                                                        .col-11.push-1.col-lg-6.push-lg-0

                                                            .ui-input-group.ui-input-group--phone
                                                                input(type="text" value="0509").ui-input.ui-input--greylight
                                                                input(type="text" value="отдел продаж").ui-input.ui-input--greylight
                                                                .ui-input-append
                                                                    button.btn.btn--48.btn--greylight
                                                                        +sprite('icon-delete')


                                                    .row
                                                        .col-12.col-lg-6

                                                            .ui-input-group.ui-input-group--phone
                                                                input(type="text" value="+79991010002").ui-input.ui-input--greenlight
                                                                input(type="text" value="внутренний номер").ui-input.ui-input--greenlight
                                                                .ui-input-append
                                                                    button.btn.btn--48.btn--greenlight
                                                                        +sprite('icon-delete')



                                        td
                                            .panel__data-action
                                                .row
                                                    .col-4.col-xs-12.col-md-5
                                                        button.btn.btn--48.btn--greylight
                                                            +sprite('icon-back')
                                                    .col-4.col-xs-12.col-md-7
                                                        button.btn.btn--48.btn--greenlight
                                                            +sprite('icon-a')
                                                    .col-4.col-xs-12.col-md-12
                                                        button.btn.btn--48.btn--greylight
                                                            +sprite('icon-plus-min')
                                                            span.is-md-visible Телефон


                                tbody
                                    tr
                                        td
                                            label.panel__data-label.text-green Email
                                        td
                                            .panel__data-group
                                                .panel__data-multiple
                                                    .row
                                                        .col-12.col-lg-6

                                                            .ui-input-group.ui-input-group--email
                                                                input(type="text" value="site@site.ru").ui-input
                                                                input(type="text" value="отдел продаж").ui-input
                                                                .ui-input-append
                                                                    button.btn.btn--48.btn--greylight
                                                                        +sprite('icon-delete')

                                                        .col-11.push-1.col-lg-6.push-lg-0

                                                            .ui-input-group.ui-input-group--email
                                                                input(type="text" value="site@site.ru").ui-input.ui-input--greylight
                                                                input(type="text" value="отдел продаж").ui-input.ui-input--greylight
                                                                .ui-input-append
                                                                    button.btn.btn--48.btn--greylight
                                                                        +sprite('icon-delete')

                                        td

                                            .panel__data-action
                                                .row
                                                    .col-4.col-xs-12.col-md-5
                                                        button.btn.btn--48.btn--greylight
                                                            +sprite('icon-back')
                                                    .col-4.col-xs-12.col-md-7
                                                        button.btn.btn--48.btn--greenlight
                                                            +sprite('icon-a')
                                                    .col-4.col-xs-12.col-md-12
                                                        button.btn.btn--48.btn--greylight
                                                            +sprite('icon-plus-min')
                                                            span.is-md-visible Email


                                
                                tbody.is-highlight
                                    tr
                                        td
                                            label.panel__data-label.text-green Сайт
                                        td
                                            .panel__data-group

                                                .ui-input-group
                                                    input(type="text" value="site.ru").ui-input
                                                    .ui-input-append
                                                        button.btn.btn--48.btn--greylight
                                                            +sprite('icon-delete')

                                                .ui-input-group
                                                    input(type="text" value="site.ru").ui-input

                                        td

                                            .panel__data-action
                                                .row
                                                    .col-4.col-xs-12.col-md-5
                                                        button.btn.btn--48.btn--greylight
                                                            +sprite('icon-back')
                                                    .col-4.col-xs-12.col-md-7
                                                        button.btn.btn--48.btn--greenlight
                                                            +sprite('icon-a')
                                                    .col-4.col-xs-12.col-md-12
                                                        button.btn.btn--48.btn--greylight
                                                            +sprite('icon-plus-min')
                                                            span.is-md-visible Сайт


                                tbody
                                    tr
                                        td
                                            label.panel__data-label Вконтакте
                                        td
                                            .panel__data-group
                                                input(type="text" value="https://vk.com/club123456789").ui-input
                                                input(type="text" value="https://vk.com/club123456789").ui-input.ui-input--greylight
                                        td
                                            .panel__data-action
                                                .row
                                                    .col-6.col-xs-12.col-md-5
                                                        button.btn.btn--48.btn--greylight
                                                            +sprite('icon-back')
                                                    .col-6.col-xs-12.col-md-7
                                                        button.btn.btn--48.btn--greenlight
                                                            +sprite('icon-a')


                                    tr
                                        td
                                            label.panel__data-label Facebook
                                        td
                                            .panel__data-group
                                                input(type="text" value="https://www.facebook.com/groups…").ui-input
                                                input(type="text" value="https://www.facebook.com/groups…").ui-input.ui-input--greylight
                                        td
                                            .panel__data-action
                                                .row
                                                    .col-6.col-xs-12.col-md-5
                                                        button.btn.btn--48.btn--greylight
                                                            +sprite('icon-back')
                                                    .col-6.col-xs-12.col-md-7
                                                        button.btn.btn--48.btn--greenlight
                                                            +sprite('icon-a')


                                    tr
                                        td
                                            label.panel__data-label Telegram
                                        td
                                            .panel__data-group
                                                input(type="text" value="https://t.me/renessans").ui-input
                                                input(type="text" value="https://t.me/renessans").ui-input.ui-input--greylight
                                        td
                                            .panel__data-action
                                                .row
                                                    .col-6.col-xs-12.col-md-5
                                                        button.btn.btn--48.btn--greylight
                                                            +sprite('icon-back')
                                                    .col-6.col-xs-12.col-md-7
                                                        button.btn.btn--48.btn--greenlight
                                                            +sprite('icon-a')


                                    tr
                                        td
                                            label.panel__data-label Skype
                                        td
                                            .panel__data-group
                                                input(type="text" value="renessans_skype").ui-input
                                                input(type="text" value="renessans_skype").ui-input.ui-input--greylight
                                        td
                                            .panel__data-action
                                                .row
                                                    .col-6.col-xs-12.col-md-5
                                                        button.btn.btn--48.btn--greylight
                                                            +sprite('icon-back')
                                                    .col-6.col-xs-12.col-md-7
                                                        button.btn.btn--48.btn--greenlight
                                                            +sprite('icon-a')



                                tbody.is-highlight
                                    tr
                                        td
                                            label.panel__data-label Адрес
                                        td
                                            .panel__data-group
                                                input(type="text" value="Санк-Петербург, ул. Римского-К…").ui-input
                                                input(type="text" value="Санк-Петербург, ул. Римского-К…").ui-input.ui-input--greylight
                                        td
                                            .panel__data-action
                                                .row
                                                    .col-6.col-xs-12.col-md-5
                                                        button.btn.btn--48.btn--greylight
                                                            +sprite('icon-back')
                                                    .col-6.col-xs-12.col-md-7
                                                        button.btn.btn--48.btn--greenlight
                                                            +sprite('icon-a')


                                    tr
                                        td
                                            label.panel__data-label Этаж
                                        td
                                            .panel__data-group
                                                input(type="text" value="1 этаж").ui-input
                                                input(type="text" value="1 этаж").ui-input.ui-input--greylight
                                        td
                                            .panel__data-action
                                                .row
                                                    .col-6.col-xs-12.col-md-5
                                                        button.btn.btn--48.btn--greylight
                                                            +sprite('icon-back')
                                                    .col-6.col-xs-12.col-md-7
                                                        button.btn.btn--48.btn--greenlight
                                                            +sprite('icon-a')


                                    tr
                                        td
                                            label.panel__data-label Офис
                                        td
                                            .panel__data-group
                                                input(type="text" value="офис 401").ui-input
                                                input(type="text" value="офис 401").ui-input.ui-input--greylight
                                        td
                                            .panel__data-action
                                                .row
                                                    .col-6.col-xs-12.col-md-5
                                                        button.btn.btn--48.btn--greylight
                                                            +sprite('icon-back')
                                                    .col-6.col-xs-12.col-md-7
                                                        button.btn.btn--48.btn--greenlight
                                                            +sprite('icon-a')


                                    tr
                                        td
                                            label.panel__data-label Дополнительно
                                        td
                                            .panel__data-group
                                                input(type="text" value="БЦ Меркурий, вход со двора").ui-input
                                                input(type="text" value="БЦ Меркурий, вход со двора").ui-input.ui-input--greylight
                                        td
                                            .panel__data-action
                                                .row
                                                    .col-6.col-xs-12.col-md-5
                                                        button.btn.btn--48.btn--greylight
                                                            +sprite('icon-back')
                                                    .col-6.col-xs-12.col-md-7
                                                        button.btn.btn--48.btn--greenlight
                                                            +sprite('icon-a')


                                tbody

                                    tr
                                        td
                                            label.panel__data-label Адрес для координат
                                        td
                                            .panel__data-group

                                                .panel__data-address
                                                    .row
                                                        .col-lg-7
                                                            input(type="text" value="Санк-Петербург, ул. Римского-Корс…").ui-input
                                                        .col-lg-5
                                                            .ui-input-group
                                                                input(type="text" value="56.0254801").ui-input
                                                                input(type="text" value="32.1567902").ui-input

                                        td
                                            .panel__data-action
                                                .row
                                                    .col-6.col-xs-12.col-md-6
                                                        button.btn.btn--48.btn--greylight
                                                            img(src="images/icon-yandex.svg", alt="")
                                                    .col-6.col-xs-12.col-md-6
                                                        button.btn.btn--48.btn--greylight
                                                            img(src="images/icon-google.svg", alt="")

                                    tr
                                        td(colspan="3")

                                            .panel__data-map#map

                                tbody.is-worktime
                                    tr
                                        td
                                             label.panel__data-worktime-label.text-green Режим работы
                                        td
                                            ul.panel__data-worktime-caption.is-md-visible
                                                li работает
                                                li перерыв
                                                li комментарий
                                        td

                                    tr
                                        td

                                            .panel__data-check

                                                label.ui-check
                                                    input(type="checkbox").ui-check__input
                                                    span.ui-check__switch
                                                    span.ui-check__text ПН

                                        td
                                
                                            .panel__data-worktime

                                                ul.panel__data-worktime-caption.is-md-hidden
                                                    li работает
                                                    li перерыв

                                                .row
                                                    .col-xl-6

                                                        .ui-input-group
                                                            input(type="text" placeholder="09:00 — 18:00").ui-input
                                                            input(type="text" placeholder="13:00 — 14:00").ui-input
                                                            input(type="text" placeholder="Кроме праздни…").ui-input

                                                    .col-xl-6

                                                        .ui-input-group
                                                            input(type="text" placeholder="09:00 — 18:00").ui-input.ui-input--greylight
                                                            input(type="text" placeholder="13:00 — 14:00").ui-input.ui-input--greylight
                                                            input(type="text" placeholder="Без комментария").ui-input.ui-input--greylight

                                              
                                        td
                                            .panel__data-action
                                                .row
                                                    .col-6.col-xs-12.col-md-5
                                                        button.btn.btn--48.btn--greylight
                                                            +sprite('icon-back')
                                                    .col-6.col-xs-12.col-md-7
                                                        button.btn.btn--48.btn--greenlight
                                                            +sprite('icon-a')

                                    tr
                                        td

                                            .panel__data-check

                                                label.ui-check
                                                    input(type="checkbox").ui-check__input
                                                    span.ui-check__switch
                                                    span.ui-check__text ВТ

                                        td
                                
                                            .panel__data-worktime

                                                ul.panel__data-worktime-caption.is-md-hidden
                                                    li работает
                                                    li перерыв

                                                .row
                                                    .col-xl-6

                                                        .ui-input-group
                                                            input(type="text" placeholder="09:00 — 18:00").ui-input.ui-input--greenlight
                                                            input(type="text" placeholder="13:00 — 14:00").ui-input.ui-input--greenlight
                                                            input(type="text" placeholder="Кроме праздни…").ui-input.ui-input--greenlight

                                                    .col-xl-6

                                                        .ui-input-group
                                                            input(type="text" placeholder="09:00 — 18:00").ui-input.ui-input--greylight
                                                            input(type="text" placeholder="13:00 — 14:00").ui-input.ui-input--greylight
                                                            input(type="text" placeholder="Без комментария").ui-input.ui-input--greylight

                                              
                                        td
                                            .panel__data-action
                                                .row
                                                    .col-6.col-xs-12.col-md-5
                                                        button.btn.btn--48.btn--greylight
                                                            +sprite('icon-back')
                                                    .col-6.col-xs-12.col-md-7
                                                        button.btn.btn--48.btn--greenlight
                                                            +sprite('icon-a')

                                    tr
                                        td

                                            .panel__data-check

                                                label.ui-check
                                                    input(type="checkbox").ui-check__input
                                                    span.ui-check__switch
                                                    span.ui-check__text СР

                                        td
                                
                                            .panel__data-worktime

                                                ul.panel__data-worktime-caption.is-md-hidden
                                                    li работает
                                                    li перерыв

                                                .row
                                                    .col-xl-6

                                                        .ui-input-group
                                                            input(type="text" placeholder="09:00 — 18:00").ui-input
                                                            input(type="text" placeholder="13:00 — 14:00").ui-input
                                                            input(type="text" placeholder="Кроме праздни…").ui-input

                                                    .col-xl-6

                                                        .ui-input-group
                                                            input(type="text" placeholder="09:00 — 18:00").ui-input.ui-input--greylight
                                                            input(type="text" placeholder="13:00 — 14:00").ui-input.ui-input--greylight
                                                            input(type="text" placeholder="Без комментария").ui-input.ui-input--greylight

                                              
                                        td
                                            .panel__data-action
                                                .row
                                                    .col-6.col-xs-12.col-md-5
                                                        button.btn.btn--48.btn--greylight
                                                            +sprite('icon-back')
                                                    .col-6.col-xs-12.col-md-7
                                                        button.btn.btn--48.btn--greenlight
                                                            +sprite('icon-a')


                                    tr
                                        td

                                            .panel__data-check

                                                label.ui-check
                                                    input(type="checkbox").ui-check__input
                                                    span.ui-check__switch
                                                    span.ui-check__text ЧТ

                                        td
                                
                                            .panel__data-worktime

                                                ul.panel__data-worktime-caption.is-md-hidden
                                                    li работает
                                                    li перерыв

                                                .row
                                                    .col-xl-6

                                                        .ui-input-group
                                                            input(type="text" placeholder="09:00 — 18:00").ui-input
                                                            input(type="text" placeholder="13:00 — 14:00").ui-input
                                                            input(type="text" placeholder="Кроме праздни…").ui-input

                                                    .col-xl-6

                                                        .ui-input-group
                                                            input(type="text" placeholder="09:00 — 18:00").ui-input.ui-input--greylight
                                                            input(type="text" placeholder="13:00 — 14:00").ui-input.ui-input--greylight
                                                            input(type="text" placeholder="Без комментария").ui-input.ui-input--greylight

                                              
                                        td
                                            .panel__data-action
                                                .row
                                                    .col-6.col-xs-12.col-md-5
                                                        button.btn.btn--48.btn--greylight
                                                            +sprite('icon-back')
                                                    .col-6.col-xs-12.col-md-7
                                                        button.btn.btn--48.btn--greenlight
                                                            +sprite('icon-a')


                                    tr
                                        td

                                            .panel__data-check

                                                label.ui-check
                                                    input(type="checkbox").ui-check__input
                                                    span.ui-check__switch
                                                    span.ui-check__text ПТ

                                        td
                                
                                            .panel__data-worktime

                                                ul.panel__data-worktime-caption.is-md-hidden
                                                    li работает
                                                    li перерыв

                                                .row
                                                    .col-xl-6

                                                        .ui-input-group
                                                            input(type="text" placeholder="09:00 — 18:00").ui-input
                                                            input(type="text" placeholder="13:00 — 14:00").ui-input
                                                            input(type="text" placeholder="Кроме праздни…").ui-input

                                                    .col-xl-6

                                                        .ui-input-group
                                                            input(type="text" placeholder="09:00 — 18:00").ui-input.ui-input--greylight
                                                            input(type="text" placeholder="13:00 — 14:00").ui-input.ui-input--greylight
                                                            input(type="text" placeholder="Без комментария").ui-input.ui-input--greylight

                                              
                                        td
                                            .panel__data-action
                                                .row
                                                    .col-6.col-xs-12.col-md-5
                                                        button.btn.btn--48.btn--greylight
                                                            +sprite('icon-back')
                                                    .col-6.col-xs-12.col-md-7
                                                        button.btn.btn--48.btn--greenlight
                                                            +sprite('icon-a')


                                    tr
                                        td

                                            .panel__data-check

                                                label.ui-check
                                                    input(type="checkbox").ui-check__input
                                                    span.ui-check__switch
                                                    span.ui-check__text СБ

                                        td
                                
                                            .panel__data-worktime

                                                ul.panel__data-worktime-caption.is-md-hidden
                                                    li работает
                                                    li перерыв

                                                .row
                                                    .col-xl-6

                                                        p.panel__data-worktime-text.text-green Выходной

                                                    .col-xl-6

                                                        .ui-input-group
                                                            input(type="text" placeholder="09:00 — 18:00").ui-input.ui-input--greylight
                                                            input(type="text" placeholder="13:00 — 14:00").ui-input.ui-input--greylight
                                                            input(type="text" placeholder="Без комментария").ui-input.ui-input--greylight

                                              
                                        td
                                            .panel__data-action
                                                .row
                                                    .col-6.col-xs-12.col-md-5
                                                        button.btn.btn--48.btn--greylight
                                                            +sprite('icon-back')
                                                    .col-6.col-xs-12.col-md-7
                                                        button.btn.btn--48.btn--greenlight
                                                            +sprite('icon-a')


                                    tr
                                        td

                                            .panel__data-check

                                                label.ui-check
                                                    input(type="checkbox").ui-check__input
                                                    span.ui-check__switch
                                                    span.ui-check__text ВС

                                        td
                                
                                            .panel__data-worktime

                                                ul.panel__data-worktime-caption.is-md-hidden
                                                    li работает
                                                    li перерыв

                                                .row
                                                    .col-xl-6

                                                        .ui-input-group
                                                            input(type="text" placeholder="09:00 — 18:00").ui-input
                                                            input(type="text" placeholder="13:00 — 14:00").ui-input
                                                            input(type="text" placeholder="Кроме праздни…").ui-input

                                                    .col-xl-6

                                                        p.panel__data-worktime-text Нет данных

                                              
                                        td
                                            .panel__data-action
                                                .row
                                                    .col-6.col-xs-12.col-md-5
                                                        button.btn.btn--48.btn--greylight
                                                            +sprite('icon-back')
                                                    .col-6.col-xs-12.col-md-7
                                                        button.btn.btn--48.btn--greenlight
                                                            +sprite('icon-a')

                                tbody

                                    
                                    tr
                                        td
                                            label.panel__data-label.text-green Прайс-лист
                                        td
                                            .panel__data-group
                                                .panel__data-multiple
                                                    .row
                                                        .col-12.col-lg-6

                                                            .ui-input-group.ui-input--stretch.ui-input-group--textarea
                                                                .ui-textarea-wrapper
                                                                    textarea(cols="1").ui-textarea.ui-textarea--h48 Печать листа А4 с полным покрытием
                                                                .ui-textarea-wrapper
                                                                    textarea(cols="1").ui-textarea.ui-textarea--h48 40 рублей / шт.
                                                                .ui-input-append
                                                                    button.btn.btn--48.btn--greylight
                                                                        +sprite('icon-delete')

                                                        .col-11.push-1.col-lg-6.push-lg-0

                                                            .ui-input-group.ui-input--stretch.ui-input-group--textarea
                                                                .ui-textarea-wrapper.ui-textarea--greylight
                                                                    textarea(cols="1").ui-textarea.ui-textarea--h48 Печать листа А4 с полным покрытием
                                                                .ui-textarea-wrapper.ui-textarea--greylight
                                                                    textarea(cols="1").ui-textarea.ui-textarea--h48 40 рублей / шт.
                                                                .ui-input-append
                                                                    button.btn.btn--48.btn--greylight
                                                                        +sprite('icon-delete')

                                                    .row
                                                        .col-12.col-lg-6

                                                            .ui-input-group.ui-input--stretch.ui-input-group--textarea
                                                                .ui-textarea-wrapper.ui-textarea--greenlight
                                                                    textarea(cols="1").ui-textarea.ui-textarea--h48 Подготовка макета
                                                                .ui-textarea-wrapper.ui-textarea--greenlight
                                                                    textarea(cols="1").ui-textarea.ui-textarea--h48 900 рублей
                                                                .ui-input-append
                                                                    button.btn.btn--48.btn--greenlight
                                                                        +sprite('icon-delete')

                                                     

                                                    .row
                                                        .col-12.col-lg-6

                                                            .ui-input-group.ui-input--stretch.ui-input-group--textarea
                                                                .ui-textarea-wrapper.ui-textarea--greenlight
                                                                    textarea(cols="3").ui-textarea.ui-textarea--h48 Инструменты прайс-лист актуален до июля 2018
                                                                .ui-textarea-wrapper.ui-textarea--greenlight
                                                                    textarea(cols="3").ui-textarea.ui-textarea--h48 instrumenti_s..2.docx
                                                                .ui-input-append
                                                                    button.btn.btn--48.btn--greenlight
                                                                        +sprite('icon-delete')


                                        td
                                            .panel__data-action
                                                .row
                                                    .col-3.col-xs-12.col-md-5
                                                        button.btn.btn--48.btn--greylight
                                                            +sprite('icon-back')
                                                    .col-3.col-xs-12.col-md-7
                                                        button.btn.btn--48.btn--greenlight
                                                            +sprite('icon-a')
                                                    .col-3.col-xs-12.col-md-12
                                                        button.btn.btn--48.btn--greylight
                                                            +sprite('icon-plus-min')
                                                            span.is-md-visible Строка
                                                    .col-3.col-xs-12.col-md-12
                                                        button.btn.btn--48.btn--greylight
                                                            +sprite('icon-plus-min')
                                                            | Файл


                                tbody
                                    tr
                                        td
                                            label.panel__data-label.text-green Описание
                                        td
                                            .panel__data-group

                                                .ui-textarea-wrapper.ui-textarea-wrapper--greenlight
                                                    textarea(cols="1").ui-textarea Химчистка, стирка и ремонт одежды и бытового текстиля в Гатчине. Химчистка и покраска изделий из кожи и замши. Химчистка изделий из натурального меха. Химчистка пуховиков. Чистка пухо-перьевых подушек с заменой наперника. Выездное обслуживание. Постоянные скидки и акции.

                                                .ui-textarea-wrapper.ui-textarea--greylight
                                                    textarea(cols="1").ui-textarea
                                                
                                        td
                                            .panel__data-action

                                                .row
                                                    .col-6.col-xs-12.col-md-5
                                                        button.btn.btn--48.btn--greylight
                                                            +sprite('icon-back')
                                                    .col-6.col-xs-12.col-md-7
                                                        button.btn.btn--48.btn--greenlight
                                                            +sprite('icon-a')



                        .panel__data-control
                            .row
                                .col-md-6

                                    button.btn.btn--54.btn--green.btn--fullwidth Обновить

                                    .ui-switch-group
                                        label.ui-check.ui-check--16.ui-check--dark
                                            input(type="checkbox" name="" checked).ui-check__input
                                            span.ui-check__switch
                                            span.ui-check__text Закрыть все заявки этой компании


                                .col-md-6

                                    button.btn.btn--54.btn--red.btn--fullwidth Отклонить заявку

                                    ul.ui-check-vertical
                                        li
                                            label.ui-check.ui-check--18.ui-check--reject
                                                input(type="radio" name="reject").ui-check__input
                                                span.ui-check__wrapper
                                                    span.ui-check__radio
                                                    span.ui-check__text Повторная заявка
                                        li
                                            label.ui-check.ui-check--18.ui-check--reject
                                                input(type="radio" name="reject").ui-check__input
                                                span.ui-check__wrapper
                                                    span.ui-check__radio
                                                    span.ui-check__text Недостоверная информация
                                        li
                                            label.ui-check.ui-check--18.ui-check--reject
                                                input(type="radio" name="reject").ui-check__input
                                                span.ui-check__wrapper
                                                    span.ui-check__radio
                                                    span.ui-check__text Попытка удаления (пустые поля)
                                        li
                                            label.ui-check.ui-check--18.ui-check--reject
                                                input(type="radio" name="reject").ui-check__input
                                                span.ui-check__wrapper
                                                    span.ui-check__radio
                                                    span.ui-check__text Попытка замены на другую компанию

                                        li
                                            .ui-check-group

                                                label.ui-check.ui-check--18.ui-check--reject
                                                    input(type="radio" name="reject").ui-check__input
                                                    span.ui-check__wrapper
                                                        span.ui-check__radio
                                                        span.ui-check__text Другая причина

                                                input(type="text").ui-input.ui-input--w250.ui-input--34

                        .panel__data-transfer
                            a(href="#").ui-link.ui-link--underline.ui-link--blue Не могу разобраться, передать заявку администратору


                // Panel Data :: End


    // Request :: End