---
title: Настройки профиля / Клиент - Рубрикатор
bodyClass: is-page-client
---
extends includes/_app-client

block main

    // Update :: Start
    .l

        .l__head(role="banner")
            .container-fluid


                p.l__topbar Настройки профиля


        .l__body
            .container-fluid


                // Scrolltop :: Start
                button.scrolltop.js-scrolltop(aria-label="Прокрутить вверх")
                    +sprite('icon-scrolltop')
                // Scrolltop :: End


                .l__wrapper.js-sticky-container
                    .l__content
    
                        

                        

                        // Panel :: Start
                        .panel.panel--grey
                            .panel__container
                                .panel__head

                                    .panel__head-group

                                        figure.panel__icon
                                            +sprite('icon-panel-info')

                                        h2.panel__title Основная информация

                                .panel__body

                                    .panel__settings
                                        .panel__settings-group

                                            .panel__settings-row
                                                label.ui-label Логин
                                                input(type="text" placeholder="Логин" value="username" disabled).ui-input

                                            .panel__settings-row
                                                label.ui-label Номер телефона #[span.text-red Не подтверждён]
                                                .ui-input-group.ui-input-wrap-xs
                                                    input(type="tel" placeholder="Номер телефона" value="+79535898487").ui-input
                                                    button.ui-input-confirm
                                                        +sprite('icon-phone')
                                                        | Подтвердить

                                            .panel__settings-row
                                                label.ui-label E-mail #[span.text-red Не подтверждён]
                                                .ui-input-group.ui-input-wrap-xs
                                                    input(type="email" placeholder="E-mail" value="anton78@mail.ru").ui-input
                                                    button.ui-input-confirm
                                                        +sprite('icon-email')
                                                        | Подтвердить

                                            .panel__settings-row
                                                label.ui-label Отображаемое имя
                                                .ui-input-group.ui-input-wrap-xs
                                                    input(type="text" placeholder="Отображаемое имя" value="Владимир Владимирович").ui-input
                                                    .ui-input-status.text-green
                                                        span Имя свободно

                                            .panel__settings-row
                                                label.ui-label Город
                                                .ui-select
                                                    select.js-select
                                                        option Санкт-Петербург
                                                        option Москва

                                            .panel__settings-row
                                                label.ui-label Дата рождения

                                                .ui-date-group
                                                    .ui-select
                                                        select.js-select
                                                            option День
                                                            option 01
                                                            option 02
                                                            option 03
                                                            option 04
                                                            option 05
                                                            option 06
                                                            option 07
                                                            option 08
                                                            option 09
                                                            option 10
                                                            option 11
                                                            option 12
                                                            option 13
                                                            option 14
                                                            option 15
                                                            option 16
                                                            option 17
                                                            option 18
                                                            option 19
                                                            option 20
                                                            option 21
                                                            option 22
                                                            option 23
                                                            option 24
                                                            option 25
                                                            option 26
                                                            option 27
                                                            option 28
                                                            option 29
                                                            option 30
                                                            option 31

                                                    .ui-select
                                                        select.js-select
                                                            option Месяц
                                                            option Январь
                                                            option Февраль
                                                            option Март
                                                            option Апрель
                                                            option Май
                                                            option Июнь
                                                            option Июль
                                                            option Август
                                                            option Сентябрь
                                                            option Октябрь
                                                            option Ноябрь
                                                            option Декабрь

                                                    .ui-select
                                                        select.js-select
                                                            option Год
                                                            option 2019
                                                            option 2018
                                                            option 2017
                                                            option 2016
                                                            option 2015
                                                            option 2014
                                                            option ...

                        // Panel :: End


                        // Panel :: Start
                        .panel.panel--grey
                            .panel__container
                                .panel__head

                                    .panel__head-group

                                        figure.panel__icon
                                            +sprite('icon-panel-password')

                                        h2.panel__title Сменить пароль

                                .panel__body

                                    .panel__settings
                                        .panel__settings-group

                                            .panel__settings-row
                                                label.ui-label Старый пароль
                                                .ui-input-group
                                                    button.ui-input-action
                                                        +sprite('icon-hide')
                                                    input(type="password" placeholder="").ui-input

                                            .panel__settings-row
                                                label.ui-label Новый пароль
                                                .ui-input-group
                                                    button.ui-input-action
                                                        +sprite('icon-hide')
                                                    input(type="password" placeholder="").ui-input

                                            .panel__settings-row
                                                label.ui-label Повторите новый пароль
                                                .ui-input-group
                                                    button.ui-input-action
                                                        +sprite('icon-hide')
                                                    input(type="password" placeholder="").ui-input

                        // Panel :: End


                        // Panel :: Start
                        .panel.panel--grey
                            .panel__container
                                .panel__head

                                    .panel__head-group

                                        figure.panel__icon
                                            +sprite('icon-panel-avatar')

                                        h2.panel__title Аватар

                                .panel__body

                                    .panel__settings
                                        .panel__settings-group


                                            .ui-upload
                                                .row
                                                    .col-auto

                                                        .ui-upload__avatar
                                                            figure.ui-upload__image
                                                            .ui-upload__remove
                                                                button.btn.btn--34.btn--whitelight Удалить

                                                    .col
                                                 
                                                        label.ui-upload__fullwidth
                                                            input(type="file").ui-upload__input
                                                            span.ui-upload__area
                                                                +sprite('icon-camera')
                                                                | Загрузить аватар (JPG, GIF, PNG до 5 МБ)

                                            
                                               

                        // Panel :: End


                        // Panel :: Start
                        .panel.panel--grey
                            .panel__container
                                .panel__head

                                    .panel__head-group

                                        figure.panel__icon
                                            +sprite('icon-panel-subsc')

                                        h2.panel__title Подписки

                                .panel__body

                                    .panel__settings
                                        .panel__settings-group

                                            .ui-switch-group
                                                label.ui-check.ui-check--dark
                                                    input(type="checkbox" name="subsc").ui-check__input
                                                    span.ui-check__switch
                                                    span.ui-check__text Новости и интересные события
                                                label.ui-check.ui-check--dark
                                                    input(type="checkbox" name="subsc").ui-check__input
                                                    span.ui-check__switch
                                                    span.ui-check__text Новые отзывы у компаний, на которые вы подписаны
                                                label.ui-check.ui-check--dark
                                                    input(type="checkbox" name="subsc").ui-check__input
                                                    span.ui-check__switch
                                                    span.ui-check__text Индивидуальные предожения
                                                label.ui-check.ui-check--dark
                                                    input(type="checkbox" name="subsc").ui-check__input
                                                    span.ui-check__switch
                                                    span.ui-check__text Уведомления о вашем аккаунте
                                               
                                               

                        // Panel :: End


                        // Panel :: Start
                        .panel
                            .panel__buttons
                                button.btn.btn--54.btn--green.btn--fullwidth Сохранить настройки

                        // Panel :: End


                    .l__sidebar

                        // Panel Banner :: Start
                        .panel.js-sticky
                            .panel__container.is-xl-visible

                                .panel__banner.panel__banner-336x280
                                    img(src="images/banner-336x280.jpg" alt="" aria-hidden="true")

                        // Panel Banner :: End