---
title: Мой бизнес / Клиент - Рубрикатор
bodyClass: is-page-client
---
extends includes/_app-client

block main

    // Update :: Start
    .l

        .l__head(role="banner")

            .container-fluid
                
                nav.l__nav
                    ul.l__nav-menu
                        li
                            a(href="#").l__nav-link.is-active
                                +sprite('icon-portfolio')
                                u Мои компании
                        li
                            a(href="#").l__nav-link
                                +sprite('icon-adv')
                                u Мои объявления


        .l__body

            .container-fluid

                // Scrolltop :: Start
                button.scrolltop.js-scrolltop(aria-label="Прокрутить вверх")
                    +sprite('icon-scrolltop')
                // Scrolltop :: End

                .l__wrapper

                    // Panel Faq :: Start
                    .panel.panel--orangebg.js-collapse
                        .panel__container
                            .panel__head
                                span.panel__title PREMIUM

                                .panel__premium
                                    ul.panel__premium-list
                                        li
                                            +sprite('icon-hide')
                                            | Скрывайте отзывы
                                        li
                                            +sprite('icon-star')
                                            | Оформляйте страницу без ограничений
                                        li
                                            +sprite('icon-speak')
                                            | Общайтесь с посетителями

                                .panel__more.js-collapse-btn
                                    button.panel__more-btn
                                        span.panel__more-btn-text Подробнее
                                        span.panel__more-btn-icon
                                            +sprite('icon-arrow-down')

                            .panel__body.js-collapse-content

                                .panel__faq

                                    ul.panel__faq-list
                                        li
                                            a(href="#").ui-link.ui-link--blue
                                                u Что такое PREMIUM?
                                        li
                                            a(href="#").ui-link.ui-link--blue
                                                u Какие ещё тарифы у вас есть?
                                        li
                                            a(href="#").ui-link.ui-link--blue
                                                u Как удалить отзывы со страницы компании?
                                        li
                                            a(href="#").ui-link.ui-link--blue
                                                u Как изменить телефон или адрес моей компании?
                                        
                                    .panel__faq-more
                                        a(href="#").ui-link.ui-link--blue
                                            u Перейти в раздел помощи
                                            +sprite('icon-arrow-more')


                    // Panel Faq :: End

                .l__wrapper.js-sticky-container
                    .l__content
    
                        

                        // Panel Sorting :: Start
                        .panel
                            form(action="#")
                                .panel__sorting

                                    .ui-input-group
                                        .row.row-gutter-30
                                            .col-lg-7

                                                .row.row-gutter-10
                                                    .col-md-6
                                                
                                                        .ui-select.ui-select--46
                                                            select.js-select
                                                                option Новые сначала
                                                                option Новые вконце

                                                    .col-md-6

                                                        .ui-input-group
                                                            .ui-select.ui-select--46
                                                                select.js-select
                                                                    option За все время
                                                                    option За все время 1
                                                                    option За все время 2
                                                                    option За все время 3

                                                            .ui-input-append
                                                                .ui-help.js-tooltip(title="Это подсказка...")
                                                                    +sprite('icon-help')

                                            .col-lg-5
                                         
                                                .row.row-gutter-10
                                                    .col
                                                        input(type="search" placeholder="Поиск").ui-input.ui-input--46
                                                    .col-auto
                                                        button.btn.btn--46.btn--green Поиск

                        // Panel Sorting :: End


                        // Panel :: Start
                        .panel.panel--company
                            .panel__container
                                .panel__head

                                    .panel__head-group

                                        figure.panel__icon
                                            +sprite('icon-portfolio')

                                        h2.panel__title Базовый тариф (возможности ограничены)

                                        .panel__help

                                            span.ui-help.js-tooltip(title="Это подсказка...")
                                                +sprite('icon-help')

                                    .panel__buy

                                        a(href="#").btn.btn--36.btn--orange
                                            +sprite('icon-diamond')
                                            | Подключить PREMIUM

                                .panel__body

                                    .panel__company

                                        p.panel__company-title
                                            a(href="#").ui-link.ui-link--underline.ui-link--blue Ренессанс страхование

                                        ul.panel__company-list
                                            li
                                                +sprite('icon-comments')
                                                | 18 отзывов
                                            li
                                                +sprite('icon-phone')
                                                | +7 (921) 19-15-105<br>+7 (953) 20-11-155  
                                            li
                                                +sprite('icon-time')
                                                | Работает сегодня: 09:00 - 18:30
                                            li
                                                +sprite('icon-location')
                                                | Санкт-Петербург, Зелёный проспект, 20

                                .panel__control.js-toggle

                                    ul.panel__control-menu
                                        li
                                            button.panel__control-btn
                                                span.panel__control-btn-icon
                                                    +sprite('icon-statistic')
                                                span.panel__control-btn-text Статистика
                                        li
                                            button.panel__control-btn
                                                span.panel__control-btn-icon
                                                    +sprite('icon-edit')
                                                span.panel__control-btn-text Редактировать страницу
                                        li
                                            button.panel__control-btn(disabled)
                                                span.panel__control-btn-icon
                                                    +sprite('icon-settings')
                                                span.panel__control-btn-text Управлять отзывами

                                        li
                                            button.panel__control-btn.panel__control-btn--toggle.js-toggle-btn
                                                span.panel__control-btn-icon
                                                    +sprite('icon-dots')
                                                span.panel__control-btn-text Еще
                                            .panel__control-dropdown.js-toggle-content
                                                ul.panel__control-menu
                                                    li
                                                        button.panel__control-btn
                                                            span.panel__control-btn-icon
                                                                +sprite('icon-share')
                                                            span.panel__control-btn-text Передать другому
                                                    li
                                                        button.panel__control-btn
                                                            span.panel__control-btn-icon
                                                                +sprite('icon-delete')
                                                            span.panel__control-btn-text Удалить из списка

                        // Panel :: End


                        // Panel :: Start
                        .panel.panel--company.panel--premium
                            .panel__container
                                .panel__head

                                    .panel__head-group

                                        figure.panel__icon
                                            +sprite('icon-portfolio')

                                        h2.panel__title Happy Nest

                                  

                                .panel__body

                                    .panel__company

                                        p.panel__company-tariff
                                            span.panel__company-tariff-badge <b>PREMIUM</b> тариф (до 27.07.2019)
                                            span.panel__company-tariff-help
                                                span.ui-help.js-tooltip(title="Это подсказка...")
                                                    +sprite('icon-help')

                                        ul.panel__company-list
                                            li
                                                +sprite('icon-comments')
                                                | 18 отзывов
                                            li
                                                +sprite('icon-phone')
                                                | +7 (921) 19-15-105<br>+7 (953) 20-11-155  
                                            li
                                                +sprite('icon-time')
                                                | Работает сегодня: 09:00 - 18:30
                                            li
                                                +sprite('icon-location')
                                                | Санкт-Петербург, Зелёный проспект, 20

                                .panel__control.js-toggle

                                    ul.panel__control-menu
                                        li
                                            button.panel__control-btn
                                                span.panel__control-btn-icon
                                                    +sprite('icon-statistic')
                                                span.panel__control-btn-text Статистика
                                        li
                                            button.panel__control-btn
                                                span.panel__control-btn-icon
                                                    +sprite('icon-edit')
                                                span.panel__control-btn-text Редактировать страницу
                                        li
                                            button.panel__control-btn
                                                span.panel__control-btn-icon(disabled)
                                                    +sprite('icon-settings')
                                                span.panel__control-btn-text Управлять отзывами

                                        li
                                            button.panel__control-btn.panel__control-btn--toggle.js-toggle-btn
                                                span.panel__control-btn-icon
                                                    +sprite('icon-dots')
                                                span.panel__control-btn-text Еще
                                            .panel__control-dropdown.js-toggle-content
                                                ul.panel__control-menu
                                                    li
                                                        button.panel__control-btn
                                                            span.panel__control-btn-icon
                                                                +sprite('icon-share')
                                                            span.panel__control-btn-text Передать другому
                                                    li
                                                        button.panel__control-btn
                                                            span.panel__control-btn-icon
                                                                +sprite('icon-delete')
                                                            span.panel__control-btn-text Удалить из списка

                        // Panel :: End



                        // Panel :: Start
                        .panel.panel--company
                            .panel__container
                                .panel__head

                                    .panel__head-group

                                        figure.panel__icon
                                            +sprite('icon-portfolio')

                                        h2.panel__title Средняя общеобразовательная школа №599

                                        .panel__help

                                            span.ui-help.js-tooltip(title="Это подсказка...")
                                                +sprite('icon-help')

                                    .panel__buy

                                        a(href="#").btn.btn--36.btn--orange
                                            +sprite('icon-diamond')
                                            | Подключить PREMIUM

                                .panel__body

                                    .panel__company

                                        p.panel__company-tariff
                                            span.panel__company-tariff-badge <b>PREMIUM</b> тариф (до 27.07.2019)
                                            span.panel__company-tariff-help
                                                span.ui-help.js-tooltip(title="Это подсказка...")
                                                    +sprite('icon-help')

                                        ul.panel__company-list
                                            li
                                                +sprite('icon-comments')
                                                | 18 отзывов
                                            li
                                                +sprite('icon-phone')
                                                | +7 (921) 19-15-105<br>+7 (953) 20-11-155  
                                            li
                                                +sprite('icon-time')
                                                | Работает сегодня: 09:00 - 18:30
                                            li
                                                +sprite('icon-location')
                                                | Санкт-Петербург, Зелёный проспект, 20

                                .panel__control.js-toggle

                                    ul.panel__control-menu
                                        li
                                            button.panel__control-btn
                                                span.panel__control-btn-icon
                                                    +sprite('icon-statistic')
                                                span.panel__control-btn-text Статистика
                                        li
                                            button.panel__control-btn
                                                span.panel__control-btn-icon
                                                    +sprite('icon-edit')
                                                span.panel__control-btn-text Редактировать страницу
                                        li
                                            button.panel__control-btn
                                                span.panel__control-btn-icon(disabled)
                                                    +sprite('icon-settings')
                                                span.panel__control-btn-text Управлять отзывами

                                        li
                                            button.panel__control-btn.panel__control-btn--toggle.js-toggle-btn
                                                span.panel__control-btn-icon
                                                    +sprite('icon-dots')
                                                span.panel__control-btn-text Еще
                                            .panel__control-dropdown.js-toggle-content
                                                ul.panel__control-menu
                                                    li
                                                        button.panel__control-btn
                                                            span.panel__control-btn-icon
                                                                +sprite('icon-share')
                                                            span.panel__control-btn-text Передать другому
                                                    li
                                                        button.panel__control-btn
                                                            span.panel__control-btn-icon
                                                                +sprite('icon-delete')
                                                            span.panel__control-btn-text Удалить из списка

                        // Panel :: End


                        // Panel Pagination :: Start
                        .panel
                            .panel__pagination

                                .panel__pagination-container

                                    a(href="#").panel__pagination-link.panel__pagination-link--prev
                                        +sprite('icon-pagination-prev')
                                        | Предыдущая
                                    
                                    ul.panel__pagination-menu
                                        li
                                            a(href="#").panel__pagination-link.is-active 1
                                        li
                                            a(href="#").panel__pagination-link 2
                                        li
                                            a(href="#").panel__pagination-link 3
                                        li
                                            a(href="#").panel__pagination-link 4
                                        li
                                            a(href="#").panel__pagination-link 5
                                        li
                                            a(href="#").panel__pagination-link 6
                                        li
                                            a(href="#").panel__pagination-link 7
                                        li
                                            a(href="#").panel__pagination-link 8
                                        li
                                            a(href="#").panel__pagination-link 9
                                        li
                                            a(href="#").panel__pagination-link ...
                                        li
                                            a(href="#").panel__pagination-link 234

                                    a(href="#").panel__pagination-link.panel__pagination-link--next
                                        | Следующая
                                        +sprite('icon-pagination-next')


                        // Panel Pagination :: End


                    .l__sidebar

                        // Panel Banner :: Start
                        .panel.js-sticky
                            .panel__container.is-xl-visible

                                .panel__banner.panel__banner-336x280
                                    img(src="images/banner-336x280.jpg" alt="" aria-hidden="true")

                        // Panel Banner :: End