---
title: Сообщения / Клиент - Рубрикатор
bodyClass: is-page-messages
---
extends includes/_app-client

block main

	// Messages :: Start
	.messages.js-messages
		form(action="#")
			.container-fluid


				.messages__topbar

					.messages__control
						.messages__control-add

							button.btn.btn--40.btn--whitelight
								+sprite('icon-add')

						.messages__control-search.js-toggle

							button.btn.btn--40.btn--whitelight.js-toggle-btn
									+sprite('icon-search')

							.ui-input-group.js-toggle-content
								.ui-input-icon
									+sprite('icon-search')
								input(type="search" placeholder="Поиск по сообщениям").ui-input.ui-input--40


					.messages__action
						button.messages__action-btn
							+sprite('icon-bookmark')
						button.messages__action-btn
							+sprite('icon-notify')
						button.messages__action-btn
							+sprite('icon-feedback')
						button.messages__action-btn
							+sprite('icon-remove')



				.messages__wrapper

					// Messages Sidebar :: Start

					.messages__sidebar.js-messages-sidebar

						.messages__overlay.js-messages-overlay

						.messages__control
							.messages__control-add

								button.btn.btn--40.btn--whitelight
									+sprite('icon-add')

							.messages__control-search

								.ui-input-group
									.ui-input-icon
										+sprite('icon-search')
									input(type="search" placeholder="Поиск по сообщениям").ui-input.ui-input--40



						.messages__users.js-scrollbar

							ul.messages__users-list
								li
									.messages__user.messages__user--fixed

										span.messages__user-status
											+sprite('icon-bookmark')

										p.messages__user-name Закрепленный_автор
										p.messages__user-text последнее сообщение: 01.05.2018

										.messages__user-toggle
											.ui-toggle.js-toggle
												button.ui-toggle__btn.js-toggle-btn(aria-expanded="true" aria-controls="toggle-01")
													+sprite('icon-dots')
												.ui-toggle__dropdown.js-toggle-dropdown#toggle-01
													ul.ui-toggle__menu
														li
															a(href="#").ui-toggle__link Закрепить сверху
														li
															a(href="#").ui-toggle__link Контакты пользователя
														li
															a(href="#").ui-toggle__link Удалить переписку
														li
															a(href="#").ui-toggle__link Заблокировать


								li
									.messages__user.messages__user--online

										span.messages__user-status
											+sprite('icon-circle')

										p.messages__user-name Активный_Автор
										p.messages__user-text последнее сообщение: сегодня

										.messages__user-toggle
											.ui-toggle.js-toggle
												button.ui-toggle__btn.js-toggle-btn(aria-expanded="true" aria-controls="toggle-01")
													+sprite('icon-dots')
												.ui-toggle__dropdown.js-toggle-dropdown#toggle-01
													ul.ui-toggle__menu
														li
															a(href="#").ui-toggle__link Закрепить сверху
														li
															a(href="#").ui-toggle__link Контакты пользователя
														li
															a(href="#").ui-toggle__link Удалить переписку
														li
															a(href="#").ui-toggle__link Заблокировать

								li
									.messages__user.messages__user--offline

										span.messages__user-status
											+sprite('icon-circle')

										p.messages__user-name Комментатор_офлайн_1981
										p.messages__user-text последнее сообщение: 01.05.2018

										.messages__user-toggle
											.ui-toggle.js-toggle
												button.ui-toggle__btn.js-toggle-btn(aria-expanded="true" aria-controls="toggle-01")
													+sprite('icon-dots')
												.ui-toggle__dropdown.js-toggle-dropdown#toggle-01
													ul.ui-toggle__menu
														li
															a(href="#").ui-toggle__link Закрепить сверху
														li
															a(href="#").ui-toggle__link Контакты пользователя
														li
															a(href="#").ui-toggle__link Удалить переписку
														li
															a(href="#").ui-toggle__link Заблокировать

								li
									.messages__user

										span.messages__user-status
											+sprite('icon-circle')

										p.messages__user-name Давно_не_был_01
										p.messages__user-text последнее сообщение: 01.01.2017

										.messages__user-toggle
											.ui-toggle.js-toggle
												button.ui-toggle__btn.js-toggle-btn(aria-expanded="true" aria-controls="toggle-01")
													+sprite('icon-dots')
												.ui-toggle__dropdown.js-toggle-dropdown#toggle-01
													ul.ui-toggle__menu
														li
															a(href="#").ui-toggle__link Закрепить сверху
														li
															a(href="#").ui-toggle__link Контакты пользователя
														li
															a(href="#").ui-toggle__link Удалить переписку
														li
															a(href="#").ui-toggle__link Заблокировать


								li
									.messages__user.messages__user--disabled

										span.messages__user-status
											+sprite('icon-circle')

										p.messages__user-name Недовольный
										p.messages__user-text Забанен

										.messages__user-toggle
											.ui-toggle.js-toggle
												button.ui-toggle__btn.js-toggle-btn(aria-expanded="true" aria-controls="toggle-01")
													+sprite('icon-dots')
												.ui-toggle__dropdown.js-toggle-dropdown#toggle-01
													ul.ui-toggle__menu
														li
															a(href="#").ui-toggle__link Закрепить сверху
														li
															a(href="#").ui-toggle__link Контакты пользователя
														li
															a(href="#").ui-toggle__link Удалить переписку
														li
															a(href="#").ui-toggle__link Заблокировать

								li
									.messages__user.messages__user--unread

										span.messages__user-status
											+sprite('icon-circle')

										p.messages__user-name Что_то_непрочитанное
										p.messages__user-text последнее сообщение: сегодня

										.messages__user-toggle
											.ui-toggle.js-toggle
												button.ui-toggle__btn.js-toggle-btn(aria-expanded="true" aria-controls="toggle-01")
													+sprite('icon-dots')
												.ui-toggle__dropdown.js-toggle-dropdown#toggle-01
													ul.ui-toggle__menu
														li
															a(href="#").ui-toggle__link Закрепить сверху
														li
															a(href="#").ui-toggle__link Контакты пользователя
														li
															a(href="#").ui-toggle__link Удалить переписку
														li
															a(href="#").ui-toggle__link Заблокировать


								li
									.messages__user.messages__user--admin

										span.messages__user-status
											+sprite('icon-admin')

										p.messages__user-name Администратор
										p.messages__user-text последнее сообщение: сегодня

										.messages__user-toggle
											.ui-toggle.js-toggle
												button.ui-toggle__btn.js-toggle-btn(aria-expanded="true" aria-controls="toggle-01")
													+sprite('icon-dots')
												.ui-toggle__dropdown.js-toggle-dropdown#toggle-01
													ul.ui-toggle__menu
														li
															a(href="#").ui-toggle__link Закрепить сверху
														li
															a(href="#").ui-toggle__link Контакты пользователя
														li
															a(href="#").ui-toggle__link Удалить переписку
														li
															a(href="#").ui-toggle__link Заблокировать


								li
									.messages__user.messages__user--online

										span.messages__user-status
											+sprite('icon-circle')

										p.messages__user-name Kirill_Rubrikator
										p.messages__user-text последнее сообщение: вчера

										.messages__user-toggle
											.ui-toggle.js-toggle
												button.ui-toggle__btn.js-toggle-btn(aria-expanded="true" aria-controls="toggle-01")
													+sprite('icon-dots')
												.ui-toggle__dropdown.js-toggle-dropdown#toggle-01
													ul.ui-toggle__menu
														li
															a(href="#").ui-toggle__link Закрепить сверху
														li
															a(href="#").ui-toggle__link Контакты пользователя
														li
															a(href="#").ui-toggle__link Удалить переписку
														li
															a(href="#").ui-toggle__link Заблокировать


								li
									.messages__user.messages__user--online

										span.messages__user-status
											+sprite('icon-circle')

										p.messages__user-name Vadim_OTSS
										p.messages__user-text последнее сообщение: вчера

										.messages__user-toggle
											.ui-toggle.js-toggle
												button.ui-toggle__btn.js-toggle-btn(aria-expanded="true" aria-controls="toggle-01")
													+sprite('icon-dots')
												.ui-toggle__dropdown.js-toggle-dropdown#toggle-01
													ul.ui-toggle__menu
														li
															a(href="#").ui-toggle__link Закрепить сверху
														li
															a(href="#").ui-toggle__link Контакты пользователя
														li
															a(href="#").ui-toggle__link Удалить переписку
														li
															a(href="#").ui-toggle__link Заблокировать


								li
									.messages__user.messages__user--online

										span.messages__user-status
											+sprite('icon-circle')

										p.messages__user-name Petr
										p.messages__user-text последнее сообщение: вчера

										.messages__user-toggle
											.ui-toggle.js-toggle
												button.ui-toggle__btn.js-toggle-btn(aria-expanded="true" aria-controls="toggle-01")
													+sprite('icon-dots')
												.ui-toggle__dropdown.js-toggle-dropdown#toggle-01
													ul.ui-toggle__menu
														li
															a(href="#").ui-toggle__link Закрепить сверху
														li
															a(href="#").ui-toggle__link Контакты пользователя
														li
															a(href="#").ui-toggle__link Удалить переписку
														li
															a(href="#").ui-toggle__link Заблокировать



								li
									.messages__user

										span.messages__user-status
											+sprite('icon-circle')

										p.messages__user-name Олег
										p.messages__user-text последнее сообщение: вчера

										.messages__user-toggle
											.ui-toggle.js-toggle
												button.ui-toggle__btn.js-toggle-btn(aria-expanded="true" aria-controls="toggle-01")
													+sprite('icon-dots')
												.ui-toggle__dropdown.js-toggle-dropdown#toggle-01
													ul.ui-toggle__menu
														li
															a(href="#").ui-toggle__link Закрепить сверху
														li
															a(href="#").ui-toggle__link Контакты пользователя
														li
															a(href="#").ui-toggle__link Удалить переписку
														li
															a(href="#").ui-toggle__link Заблокировать

								li
									.messages__user.messages__user--fixed

										span.messages__user-status
											+sprite('icon-bookmark')

										p.messages__user-name Закрепленный_автор
										p.messages__user-text последнее сообщение: 01.05.2018

										.messages__user-toggle
											.ui-toggle.js-toggle
												button.ui-toggle__btn.js-toggle-btn(aria-expanded="true" aria-controls="toggle-01")
													+sprite('icon-dots')
												.ui-toggle__dropdown.js-toggle-dropdown#toggle-01
													ul.ui-toggle__menu
														li
															a(href="#").ui-toggle__link Закрепить сверху
														li
															a(href="#").ui-toggle__link Контакты пользователя
														li
															a(href="#").ui-toggle__link Удалить переписку
														li
															a(href="#").ui-toggle__link Заблокировать


								li
									.messages__user.messages__user--online

										span.messages__user-status
											+sprite('icon-circle')

										p.messages__user-name Активный_Автор
										p.messages__user-text последнее сообщение: сегодня

										.messages__user-toggle
											.ui-toggle.js-toggle
												button.ui-toggle__btn.js-toggle-btn(aria-expanded="true" aria-controls="toggle-01")
													+sprite('icon-dots')
												.ui-toggle__dropdown.js-toggle-dropdown#toggle-01
													ul.ui-toggle__menu
														li
															a(href="#").ui-toggle__link Закрепить сверху
														li
															a(href="#").ui-toggle__link Контакты пользователя
														li
															a(href="#").ui-toggle__link Удалить переписку
														li
															a(href="#").ui-toggle__link Заблокировать

								li
									.messages__user.messages__user--offline

										span.messages__user-status
											+sprite('icon-circle')

										p.messages__user-name Комментатор_офлайн_1981
										p.messages__user-text последнее сообщение: 01.05.2018

										.messages__user-toggle
											.ui-toggle.js-toggle
												button.ui-toggle__btn.js-toggle-btn(aria-expanded="true" aria-controls="toggle-01")
													+sprite('icon-dots')
												.ui-toggle__dropdown.js-toggle-dropdown#toggle-01
													ul.ui-toggle__menu
														li
															a(href="#").ui-toggle__link Закрепить сверху
														li
															a(href="#").ui-toggle__link Контакты пользователя
														li
															a(href="#").ui-toggle__link Удалить переписку
														li
															a(href="#").ui-toggle__link Заблокировать

								li
									.messages__user

										span.messages__user-status
											+sprite('icon-circle')

										p.messages__user-name Давно_не_был_01
										p.messages__user-text последнее сообщение: 01.01.2017

										.messages__user-toggle
											.ui-toggle.js-toggle
												button.ui-toggle__btn.js-toggle-btn(aria-expanded="true" aria-controls="toggle-01")
													+sprite('icon-dots')
												.ui-toggle__dropdown.js-toggle-dropdown#toggle-01
													ul.ui-toggle__menu
														li
															a(href="#").ui-toggle__link Закрепить сверху
														li
															a(href="#").ui-toggle__link Контакты пользователя
														li
															a(href="#").ui-toggle__link Удалить переписку
														li
															a(href="#").ui-toggle__link Заблокировать


								li
									.messages__user.messages__user--disabled

										span.messages__user-status
											+sprite('icon-circle')

										p.messages__user-name Недовольный
										p.messages__user-text Забанен

										.messages__user-toggle
											.ui-toggle.js-toggle
												button.ui-toggle__btn.js-toggle-btn(aria-expanded="true" aria-controls="toggle-01")
													+sprite('icon-dots')
												.ui-toggle__dropdown.js-toggle-dropdown#toggle-01
													ul.ui-toggle__menu
														li
															a(href="#").ui-toggle__link Закрепить сверху
														li
															a(href="#").ui-toggle__link Контакты пользователя
														li
															a(href="#").ui-toggle__link Удалить переписку
														li
															a(href="#").ui-toggle__link Заблокировать

								li
									.messages__user.messages__user--unread

										span.messages__user-status
											+sprite('icon-circle')

										p.messages__user-name Что_то_непрочитанное
										p.messages__user-text последнее сообщение: сегодня

										.messages__user-toggle
											.ui-toggle.js-toggle
												button.ui-toggle__btn.js-toggle-btn(aria-expanded="true" aria-controls="toggle-01")
													+sprite('icon-dots')
												.ui-toggle__dropdown.js-toggle-dropdown#toggle-01
													ul.ui-toggle__menu
														li
															a(href="#").ui-toggle__link Закрепить сверху
														li
															a(href="#").ui-toggle__link Контакты пользователя
														li
															a(href="#").ui-toggle__link Удалить переписку
														li
															a(href="#").ui-toggle__link Заблокировать


								li
									.messages__user.messages__user--admin

										span.messages__user-status
											+sprite('icon-admin')

										p.messages__user-name Администратор
										p.messages__user-text последнее сообщение: сегодня

										.messages__user-toggle
											.ui-toggle.js-toggle
												button.ui-toggle__btn.js-toggle-btn(aria-expanded="true" aria-controls="toggle-01")
													+sprite('icon-dots')
												.ui-toggle__dropdown.js-toggle-dropdown#toggle-01
													ul.ui-toggle__menu
														li
															a(href="#").ui-toggle__link Закрепить сверху
														li
															a(href="#").ui-toggle__link Контакты пользователя
														li
															a(href="#").ui-toggle__link Удалить переписку
														li
															a(href="#").ui-toggle__link Заблокировать


								li
									.messages__user.messages__user--online

										span.messages__user-status
											+sprite('icon-circle')

										p.messages__user-name Kirill_Rubrikator
										p.messages__user-text последнее сообщение: вчера

										.messages__user-toggle
											.ui-toggle.js-toggle
												button.ui-toggle__btn.js-toggle-btn(aria-expanded="true" aria-controls="toggle-01")
													+sprite('icon-dots')
												.ui-toggle__dropdown.js-toggle-dropdown#toggle-01
													ul.ui-toggle__menu
														li
															a(href="#").ui-toggle__link Закрепить сверху
														li
															a(href="#").ui-toggle__link Контакты пользователя
														li
															a(href="#").ui-toggle__link Удалить переписку
														li
															a(href="#").ui-toggle__link Заблокировать


								li
									.messages__user.messages__user--online

										span.messages__user-status
											+sprite('icon-circle')

										p.messages__user-name Vadim_OTSS
										p.messages__user-text последнее сообщение: вчера

										.messages__user-toggle
											.ui-toggle.js-toggle
												button.ui-toggle__btn.js-toggle-btn(aria-expanded="true" aria-controls="toggle-01")
													+sprite('icon-dots')
												.ui-toggle__dropdown.js-toggle-dropdown#toggle-01
													ul.ui-toggle__menu
														li
															a(href="#").ui-toggle__link Закрепить сверху
														li
															a(href="#").ui-toggle__link Контакты пользователя
														li
															a(href="#").ui-toggle__link Удалить переписку
														li
															a(href="#").ui-toggle__link Заблокировать


								li
									.messages__user.messages__user--online

										span.messages__user-status
											+sprite('icon-circle')

										p.messages__user-name Petr
										p.messages__user-text последнее сообщение: вчера

										.messages__user-toggle
											.ui-toggle.js-toggle
												button.ui-toggle__btn.js-toggle-btn(aria-expanded="true" aria-controls="toggle-01")
													+sprite('icon-dots')
												.ui-toggle__dropdown.js-toggle-dropdown#toggle-01
													ul.ui-toggle__menu
														li
															a(href="#").ui-toggle__link Закрепить сверху
														li
															a(href="#").ui-toggle__link Контакты пользователя
														li
															a(href="#").ui-toggle__link Удалить переписку
														li
															a(href="#").ui-toggle__link Заблокировать



								li
									.messages__user

										span.messages__user-status
											+sprite('icon-circle')

										p.messages__user-name Олег
										p.messages__user-text последнее сообщение: вчера

										.messages__user-toggle
											.ui-toggle.js-toggle
												button.ui-toggle__btn.js-toggle-btn(aria-expanded="true" aria-controls="toggle-01")
													+sprite('icon-dots')
												.ui-toggle__dropdown.js-toggle-dropdown#toggle-01
													ul.ui-toggle__menu
														li
															a(href="#").ui-toggle__link Закрепить сверху
														li
															a(href="#").ui-toggle__link Контакты пользователя
														li
															a(href="#").ui-toggle__link Удалить переписку
														li
															a(href="#").ui-toggle__link Заблокировать


							.messages__users-loadmore
								button.btn.btn--52.btn--whitelight
									+sprite('icon-loadmore')
									| Загрузить еще


					// Messages Sidebar :: End

					// Messages Content :: Start

					.messages__content.js-messages-content

						.messages__head

							.messages__group

								.messages__toggle
									button.btn.btn--40.btn--whitelight.js-messages-btn
										+sprite('icon-arrow-messages')

								span.messages__title Переписка с пользователем Активный_Автор
								span.messages__text Был онлайн 01.05.2018
							
							.messages__action
								button.messages__action-btn
									+sprite('icon-bookmark')
								button.messages__action-btn
									+sprite('icon-notify')
								button.messages__action-btn
									+sprite('icon-feedback')
								button.messages__action-btn
									+sprite('icon-remove')

						//- .messages__notice
						//- 	+sprite('icon-edit-notice')
						//- 	| Это заметка, которую видит только автор - любой текст длиной не более 120 (?) символов

						.messages__notice
							.ui-edit
								figure.ui-edit__icon
									+sprite('icon-edit-notice')
								input(type="text" placeholder="Это заметка, которую видит только автор - любой текст длиной не более 120 (?) символов").ui-edit__input

						.messages__feed.js-scrollbar
							.messages__feed-in

								.messages__loadmore
									button.btn.btn--52.btn--whitelight
										+sprite('icon-loadmore')
										| Загрузить предыдущие

								blockquote.messages__item.messages__item--blue
									.messages__item-head
										span.messages__item-name
											+sprite('icon-admin')
											| Активный_Автор
										span.messages__item-time 13.12.17 в 22:34
									.messages__item-body
										p Привет. Как дела вообще?


								blockquote.messages__item
									.messages__item-head
										span.messages__item-name Вы
										span.messages__item-time 13.12.17 в 22:35
										span.messages__item-status
											| Прочитано
											+sprite('icon-checked')
									.messages__item-body
										p Привет. Могу забрать на этой неделе в пятницу. Набор точно новый не вскрытый?


								//- p.messages__timeline
								//- 	span.messages__timeline-text 13.12.17


								//- blockquote.messages__item
								//- 	.messages__item-head
								//- 		span.messages__item-name Активный_Автор
								//- 		span.messages__item-time 13.12.17 в 22:34

								//- 	.messages__item-body
								//- 		p Алёна, приветствую.<br>За 3500 бы забрал. Что думаете?


								//- blockquote.messages__item
								//- 	.messages__item-head
								//- 		span.messages__item-name Активный_Автор
								//- 		span.messages__item-time 13.12.17 в 22:34

								//- 	.messages__item-body
								//- 		p Привет. Как дела вообще?
								//- 		.messages__item-images
								//- 			.row
								//- 				.col-6
								//- 					figure.messages__item-image
								//- 						img(src="images/img-messages-01.png", alt="")
								//- 				.col-6
								//- 					figure.messages__item-image
								//- 						img(src="images/img-messages-02.png", alt="")


								//- blockquote.messages__item.messages__item--blue
								//- 	.messages__item-head
								//- 		span.messages__item-name
								//- 			+sprite('icon-admin')
								//- 			| Активный_Автор
								//- 		span.messages__item-time 13.12.17 в 22:34
								//- 	.messages__item-body
								//- 		p Привет. Как дела вообще?


								//- blockquote.messages__item
								//- 	.messages__item-head
								//- 		span.messages__item-name Вы
								//- 		span.messages__item-time 13.12.17 в 22:35
								//- 		span.messages__item-status
								//- 			| Прочитано
								//- 			+sprite('icon-checked')
								//- 	.messages__item-body
								//- 		p Привет. Могу забрать на этой неделе в пятницу. Набор точно новый не вскрытый?


								//- p.messages__timeline
								//- 	span.messages__timeline-text Вчера


								//- blockquote.messages__item
								//- 	.messages__item-head
								//- 		span.messages__item-name Активный_Автор
								//- 		span.messages__item-time 13.12.17 в 22:34

								//- 	.messages__item-body
								//- 		p Алёна, приветствую.<br>За 3500 бы забрал. Что думаете?


								//- blockquote.messages__item
								//- 	.messages__item-head
								//- 		span.messages__item-name Активный_Автор
								//- 		span.messages__item-time 13.12.17 в 22:34

								//- 	.messages__item-body
								//- 		p Привет. Как дела вообще?
								//- 		.messages__item-images
								//- 			.row
								//- 				.col-6
								//- 					figure.messages__item-image
								//- 						img(src="images/img-messages-01.png", alt="")
								//- 				.col-6
								//- 					figure.messages__item-image
								//- 						img(src="images/img-messages-02.png", alt="")


								//- blockquote.messages__item.messages__item--blue
								//- 	.messages__item-head
								//- 		span.messages__item-name
								//- 			+sprite('icon-admin')
								//- 			| Активный_Автор
								//- 		span.messages__item-time 13.12.17 в 22:34
								//- 	.messages__item-body
								//- 		p Привет. Как дела вообще?


								//- blockquote.messages__item
								//- 	.messages__item-head
								//- 		span.messages__item-name Вы
								//- 		span.messages__item-time 13.12.17 в 22:35
								//- 		span.messages__item-status
								//- 			| Прочитано
								//- 			+sprite('icon-checked')
								//- 	.messages__item-body
								//- 		p Привет. Могу забрать на этой неделе в пятницу. Набор точно новый не вскрытый?


								p.messages__timeline
									span.messages__timeline-text Сегодня


								blockquote.messages__item
									.messages__item-head
										span.messages__item-name Активный_Автор
										span.messages__item-time 13.12.17 в 22:34

									.messages__item-body
										p Алёна, приветствую.<br>За 3500 бы забрал. Что думаете?


								blockquote.messages__item
									.messages__item-head
										span.messages__item-name Активный_Автор
										span.messages__item-time 13.12.17 в 22:34

									.messages__item-body
										p Привет. Как дела вообще?
										.messages__item-images
											.row
												.col-6
													figure.messages__item-image
														img(src="images/img-messages-01.png", alt="")
												.col-6
													figure.messages__item-image
														img(src="images/img-messages-02.png", alt="")


								blockquote.messages__item.messages__item--blue
									.messages__item-head
										span.messages__item-name
											+sprite('icon-admin')
											| Активный_Автор
										span.messages__item-time 13.12.17 в 22:34
									.messages__item-body
										p Привет. Как дела вообще?


								blockquote.messages__item
									.messages__item-head
										span.messages__item-name Вы
										span.messages__item-time 13.12.17 в 22:35
										span.messages__item-status
											| Прочитано
											+sprite('icon-checked')
									.messages__item-body
										p Привет. Могу забрать на этой неделе в пятницу. Набор точно новый не вскрытый?


								p.messages__timeline
									span.messages__timeline-text Сегодня


								blockquote.messages__item
									.messages__item-head
										span.messages__item-name Активный_Автор
										span.messages__item-time 13.12.17 в 22:34

									.messages__item-body
										p Алёна, приветствую.<br>За 3500 бы забрал. Что думаете?


								blockquote.messages__item
									.messages__item-head
										span.messages__item-name Активный_Автор
										span.messages__item-time 13.12.17 в 22:34

									.messages__item-body
										p Привет. Как дела вообще?
										.messages__item-images
											.row
												.col-6
													figure.messages__item-image
														img(src="images/img-messages-01.png", alt="")
												.col-6
													figure.messages__item-image
														img(src="images/img-messages-02.png", alt="")



								p.messages__typing
									+sprite('icon-dots')
									| Активный_Автор набирает сообщение...


						.messages__form

							.messages__form-textarea

								textarea.ui-textarea

							.messages__form-control

								.messages__form-upload
									
									.ui-upload
										label.ui-upload__control
											input(type="file").ui-upload__input
											span.ui-upload__btn
												+sprite('icon-camera')
												| Добавить изображение

										.ui-upload__images
											figure.ui-upload__image
												img(src="images/img-upload-01.jpg" alt="" aria-hidden="true")
												span.ui-upload__delete
													+sprite('icon-delete')
											figure.ui-upload__image
												img(src="images/img-upload-02.jpg" alt="" aria-hidden="true")
												span.ui-upload__delete
													+sprite('icon-delete')
											figure.ui-upload__image
												img(src="images/img-upload-03.jpg" alt="" aria-hidden="true")
												span.ui-upload__delete
													+sprite('icon-delete')

								.messages__form-group
							
									p.ui-keyboard Ctrl + Enter
								
									button.btn.btn--46.btn--green
										+sprite('icon-checked')
										| Отправить


					// Messages End :: Start

		// Messages :: End