---
title: Страна - Рубрикатор
bodyClass: is-page-country
---
extends includes/_app-primary

block main

    // Hero :: Start
    section.section.hero
        .container-fluid
            form(action="#")


                .hero__bg

                h1.hero__heading Россия

                .hero__search

                    .hero__search-primary

                        .ui-search
                            .ui-search__field
                                figure.ui-search__icon
                                    +sprite('icon-search')
                                input(type="search" placeholder="Поиск по стране").ui-search__input
                        
                    .hero__search-secondary
                        .row
                            .col

                                .ui-search
                                    .ui-search__field
                                        figure.ui-search__icon
                                            +sprite('icon-location')
                                        input(type="search" placeholder="Россия").ui-search__input

                            .col-auto

                                button.btn.btn--44.btn--red Поиск

                            

    
    // Hero :: End


    // Reviews :: Start
    section.section.reviews
        .container-fluid

            h2.reviews__heading Новые отзывы о местах в России

            .reviews__carousel.owl-carousel.owl-reviews-primary.js-owl-reviews-primary

                .reviews__item
                    .reviews__item-body
                        p.reviews__item-text Еле доехал, ДПС останавливали 9 раз! Когда приехал в Москву, сразу поехал в страховую. На удивление прониклись моей проблемой, менеджер даже посочувствовал.
                    .reviews__item-foot
                        .reviews__item-group
                            p.reviews__item-rating
                                span.ui-rating(data-rating="3")
                                    +sprite('icon-rating')
                                    +sprite('icon-rating')
                                    +sprite('icon-rating')
                                    +sprite('icon-rating')
                                    +sprite('icon-rating')
                            span.reviews__item-name Петр Шаповалов
                        strong.reviews__item-title
                            a(href="#").ui-link.ui-link--underline.ui-link--blue Школа результативных языков

                .reviews__item
                    .reviews__item-body
                        p.reviews__item-text Еле доехал, ДПС останавливали 9 раз! Когда приехал в Москву, сразу поехал в страховую. На удивление прониклись моей проблемой, менеджер даже посочувствовал.
                    .reviews__item-foot
                        .reviews__item-group
                            p.reviews__item-rating
                                span.ui-rating(data-rating="3")
                                    +sprite('icon-rating')
                                    +sprite('icon-rating')
                                    +sprite('icon-rating')
                                    +sprite('icon-rating')
                                    +sprite('icon-rating')
                            span.reviews__item-name Аноним
                        strong.reviews__item-title
                            a(href="#").ui-link.ui-link--underline.ui-link--blue Школа результативных языков


                .reviews__item
                    .reviews__item-body
                        p.reviews__item-text Еле доехал, ДПС останавливали 9 раз! Когда приехал в Москву, сразу поехал в страховую. На удивление прониклись моей проблемой, менеджер даже посочувствовал.
                    .reviews__item-foot
                        .reviews__item-group
                            p.reviews__item-rating
                                span.ui-rating(data-rating="3")
                                    +sprite('icon-rating')
                                    +sprite('icon-rating')
                                    +sprite('icon-rating')
                                    +sprite('icon-rating')
                                    +sprite('icon-rating')
                            span.reviews__item-name Аноним
                        strong.reviews__item-title
                            a(href="#").ui-link.ui-link--underline.ui-link--blue Школа результативных языков

                
                .reviews__item
                    .reviews__item-body
                        p.reviews__item-text Еле доехал, ДПС останавливали 9 раз! Когда приехал в Москву, сразу поехал в страховую. На удивление прониклись моей проблемой, менеджер даже посочувствовал.
                    .reviews__item-foot
                        .reviews__item-group
                            p.reviews__item-rating
                                span.ui-rating(data-rating="3")
                                    +sprite('icon-rating')
                                    +sprite('icon-rating')
                                    +sprite('icon-rating')
                                    +sprite('icon-rating')
                                    +sprite('icon-rating')
                            span.reviews__item-name Аноним
                        strong.reviews__item-title
                            a(href="#").ui-link.ui-link--underline.ui-link--blue Школа результативных языков

                .reviews__item
                    .reviews__item-body
                        p.reviews__item-text Еле доехал, ДПС останавливали 9 раз! Когда приехал в Москву, сразу поехал в страховую. На удивление прониклись моей проблемой, менеджер даже посочувствовал.
                    .reviews__item-foot
                        .reviews__item-group
                            p.reviews__item-rating
                                span.ui-rating(data-rating="3")
                                    +sprite('icon-rating')
                                    +sprite('icon-rating')
                                    +sprite('icon-rating')
                                    +sprite('icon-rating')
                                    +sprite('icon-rating')
                            span.reviews__item-name Аноним
                        strong.reviews__item-title
                            a(href="#").ui-link.ui-link--underline.ui-link--blue Школа результативных языков

    // Reviews :: End



    // Cities :: Start
    section.section.cities
        .container-fluid

            h2.cities__heading Города

            ul.cities__grid
                li.col-xs-6.col-md-4.col-lg-3.col-xl-20

                    a(href="#").cities__card
                        figure.cities__card-icon
                            +sprite('icon-location-cities')
                        h3.cities__card-title Москва
                
                li.col-xs-6.col-md-4.col-lg-3.col-xl-20

                    a(href="#").cities__card
                        figure.cities__card-icon
                            +sprite('icon-location-cities')
                        h3.cities__card-title Санкт-Петербург

                li.col-xs-6.col-md-4.col-lg-3.col-xl-20

                    a(href="#").cities__card
                        figure.cities__card-icon
                            +sprite('icon-location-cities')
                        h3.cities__card-title Новосибирск

                li.col-xs-6.col-md-4.col-lg-3.col-xl-20

                    a(href="#").cities__card
                        figure.cities__card-icon
                            +sprite('icon-location-cities')
                        h3.cities__card-title Екатеринбург

                li.col-xs-6.col-md-4.col-lg-3.col-xl-20

                    a(href="#").cities__card
                        figure.cities__card-icon
                            +sprite('icon-location-cities')
                        h3.cities__card-title Нижний Новгород

                li.col-xs-6.col-md-4.col-lg-3.col-xl-20

                    a(href="#").cities__card
                        figure.cities__card-icon
                            +sprite('icon-location-cities')
                        h3.cities__card-title Красноярск
                
                li.col-xs-6.col-md-4.col-lg-3.col-xl-20

                    a(href="#").cities__card
                        figure.cities__card-icon
                            +sprite('icon-location-cities')
                        h3.cities__card-title Пермь

                li.col-xs-6.col-md-4.col-lg-3.col-xl-20

                    a(href="#").cities__card
                        figure.cities__card-icon
                            +sprite('icon-location-cities')
                        h3.cities__card-title Самара

                li.col-xs-6.col-md-4.col-lg-3.col-xl-20

                    a(href="#").cities__card
                        figure.cities__card-icon
                            +sprite('icon-location-cities')
                        h3.cities__card-title Казань

                li.col-xs-6.col-md-4.col-lg-3.col-xl-20

                    a(href="#").cities__card
                        figure.cities__card-icon
                            +sprite('icon-location-cities')
                        h3.cities__card-title Омск

                li.col-xs-6.col-md-4.col-lg-3.col-xl-20

                    a(href="#").cities__card
                        figure.cities__card-icon
                            +sprite('icon-location-cities')
                        h3.cities__card-title Челябинск
                
                li.col-xs-6.col-md-4.col-lg-3.col-xl-20

                    a(href="#").cities__card
                        figure.cities__card-icon
                            +sprite('icon-location-cities')
                        h3.cities__card-title Уфа

                li.col-xs-6.col-md-4.col-lg-3.col-xl-20

                    a(href="#").cities__card
                        figure.cities__card-icon
                            +sprite('icon-location-cities')
                        h3.cities__card-title Барнаул

                li.col-xs-6.col-md-4.col-lg-3.col-xl-20

                    a(href="#").cities__card
                        figure.cities__card-icon
                            +sprite('icon-location-cities')
                        h3.cities__card-title Тюмень

                li.col-xs-6.col-md-4.col-lg-3.col-xl-20

                    a(href="#").cities__card
                        figure.cities__card-icon
                            +sprite('icon-location-cities')
                        h3.cities__card-title Краснодар


            .cities__pagination

                .panel__pagination.panel__pagination--12
                    .panel__pagination-container

                        a(href="#").panel__pagination-link.panel__pagination-link--prev
                            +sprite('icon-pagination-prev')
                            | Предыдущая

                        ul.panel__pagination-menu
                            li
                                a(href="#").panel__pagination-link.is-active 1
                            li
                                a(href="#").panel__pagination-link 2
                            li
                                a(href="#").panel__pagination-link 3
                            li
                                a(href="#").panel__pagination-link 4
                            li
                                a(href="#").panel__pagination-link 5
                            li
                                a(href="#").panel__pagination-link 6
                            li
                                a(href="#").panel__pagination-link 7
                            li
                                a(href="#").panel__pagination-link 8
                            li
                                a(href="#").panel__pagination-link 9
                            li
                                a(href="#").panel__pagination-link 10
                            li
                                a(href="#").panel__pagination-link 11
                            li
                                a(href="#").panel__pagination-link 12
                            li
                                a(href="#").panel__pagination-link ...
                            li
                                a(href="#").panel__pagination-link 234

                        a(href="#").panel__pagination-link.panel__pagination-link--next
                            | Следующая
                            +sprite('icon-pagination-next')

              

    // Cities :: End


    // Places :: Start
    section.section.places
        .container-fluid

            h2.places__heading Новые места

            ul.places__grid
                li.col-md-6.col-lg-4

                    a(href="#").places__link
                        figure.places__link-icon
                            +sprite('icon-places-light')
                        .places__link-text
                            u Росно-МС, красноярский филиал
                li.col-md-6.col-lg-4

                    a(href="#").places__link
                        figure.places__link-icon
                            +sprite('icon-places-light')
                        .places__link-text
                            u Сургутнефтегаз, страховое общество

                li.col-md-6.col-lg-4

                    a(href="#").places__link
                        figure.places__link-icon
                            +sprite('icon-places-home')
                        .places__link-text
                            u ВТБ Страхование, страховая компания

                li.col-md-6.col-lg-4

                    a(href="#").places__link
                        figure.places__link-icon
                            +sprite('icon-places-light')
                        .places__link-text
                            u Обувная мастерская, ИП Чернененко В.В.

                li.col-md-6.col-lg-4

                    a(href="#").places__link
                        figure.places__link-icon
                            +sprite('icon-places-light')
                        .places__link-text
                            u Минутка, Мастерская по изготовлению ключей

                li.col-md-6.col-lg-4

                    a(href="#").places__link
                        figure.places__link-icon
                            +sprite('icon-places-light')
                        .places__link-text
                            u Почтовое отделение КРАСНОЯРСК 113, Индекс 660113
    
    // Places :: End


    // Other :: Start
    section.section.other
        .container-fluid

            h2.other__heading Другие страны

            ul.other__grid
                li.col-auto
                    a(href="#").other__link
                        img(src="images/img-country-ua.png" alt="")
                        u Украина
                li.col-auto
                    a(href="#").other__link
                        img(src="images/img-country-kz.png" alt="")
                        u Казахстан
    
    // Other :: End