---
title: Переходим на сайт Booking.com - Рубрикатор
bodyClass: is-page-syst
---
extends includes/_app-syst-header

block main

    // Redirect :: Start
    .syst

        .syst__wrapper

            .syst__redirect

                figure.syst__redirect-icon
                    +sprite('icon-reload')

                span.syst__redirect-title Переходим на сайт Booking.com
                p.syst__redirect-text Пожалуйста, подождите несколько секунд...

                .syst__help
                    strong.syst__help-title
                        +sprite('icon-lamp')
                        | Что дальше?
                    p.syst__help-text Здесь будет написан совет.<br>Спасибо, что воспользовались нашим сервисом.

                   



    // Redirect :: End