---
title: Регистрация - Рубрикатор
bodyClass: is-page-syst
---
extends includes/_app-syst

block main

    // Reg :: Start
    .syst

        .syst__wrapper

            .syst__logo
                <svg width="175" height="25" viewBox="0 0 175 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M18.5821 8.8533C18.5821 11.3981 17.4038 14.5717 13.491 18.7495C12.4509 19.8604 11.0132 21.0901 9.17736 22.4406C7.46604 21.2981 6.02877 20.0675 4.86651 18.7495C1.47075 14.8976 0 11.2533 0 8.8533C0 4.01981 4.34481 0 9.17736 0C14.0094 0 18.5821 4.01981 18.5821 8.8533Z" fill="#FF4747"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M14.6418 8.94859C14.6399 11.9297 12.2234 14.3462 9.2423 14.3481C6.2607 14.3462 3.84419 11.9297 3.84277 8.94859C3.84419 5.96698 6.2607 3.55094 9.2423 3.54906C12.2234 3.55094 14.6399 5.96698 14.6418 8.94859Z" fill="white"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M59.0334 10.7363C60.1857 9.22029 61.9952 8.34906 63.8985 8.39293L63.9004 8.39246C67.1608 8.39246 69.3768 10.634 69.3749 13.9708C69.3749 17.384 66.8532 20.2113 62.9815 20.2113C58.0655 20.2113 55.7725 16.951 55.7725 12.5698C55.7725 5.84623 59.7994 3.78208 68.1013 2.35567V5.69293C67.633 5.77642 67.1275 5.84801 66.6029 5.9223C63.4463 6.36931 59.5997 6.91403 59.0334 10.7363ZM33.6145 15.1693C32.6754 15.1835 31.7372 15.1066 30.8126 14.9401H30.8107V19.7783H27.3721V3.67972H33.7164C38.4541 3.67972 40.2117 6.27972 40.2117 9.38727C40.2117 13.6156 36.9513 15.1693 33.6145 15.1693ZM33.5126 6.68538H30.8126H30.8117V12.1109C31.5791 12.225 32.3541 12.276 33.1296 12.2637C35.1174 12.2637 36.6202 11.4741 36.6202 9.30897C36.6202 7.85708 35.9834 6.68538 33.5126 6.68538ZM46.756 24.6193L46.7573 24.6165H46.7589L46.756 24.6193ZM46.7573 24.6165H43.1919L46.5032 18.4778L41.2051 7.0934H45.0768L48.057 14.8113L50.9098 7.0934H54.6032L46.7573 24.6165ZM62.7023 17.1802C60.6645 17.1802 59.2636 15.7538 59.2636 13.3085C60.1117 12.1198 61.4716 11.4024 62.9315 11.3745C64.6636 11.3745 65.9372 12.4953 65.9372 14.2783C65.9381 15.9307 64.5372 17.1802 62.7023 17.1802ZM79.5136 20.2113C78.1178 20.2528 76.7749 19.6745 75.8457 18.6321V24.6179H72.3301V7.09529H75.3617L75.5145 9.08208C76.3824 7.50708 78.0744 6.56699 79.8702 6.66227C83.9183 6.66227 85.8051 9.56604 85.8051 13.183C85.8051 16.9 83.5636 20.2113 79.5136 20.2113ZM79.0532 17.2311C77.8796 17.2882 76.7263 16.9071 75.8183 16.1613V10.7613C76.7282 10.0071 77.8716 9.59293 79.0532 9.58963C81.2438 9.58963 82.2136 11.1434 82.2136 13.2576C82.2145 15.3972 81.2975 17.2043 79.056 17.2311H79.0532ZM99.3537 7.0934H100.653H100.658V19.7783H97.3721V12.6462L89.8782 19.7783H88.5791V7.0934H91.865V14.2255L99.3537 7.0934ZM104.323 19.7783H107.835V14.7349H109.058L112.828 19.7783H117.158L111.965 13.2321L116.703 7.0934H112.499L108.959 12.1099H107.838V7.0934H104.323V19.7783ZM130.075 11.8566V19.7783L130.074 19.7764H127.552L127.222 18.0189C125.999 19.5726 124.624 20.0566 122.357 20.0566C119.657 20.0566 118.179 18.0189 118.179 15.8538C118.179 12.6189 120.726 11.3962 123.631 11.3962C124.678 11.3873 125.719 11.5505 126.713 11.8802V11.4217C126.713 9.84435 125.363 9.48774 124.14 9.48774C122.557 9.4552 120.989 9.78633 119.555 10.4557V7.39906C121.196 6.89246 122.906 6.64293 124.624 6.66038C127.655 6.66038 130.075 7.88303 130.075 11.8566ZM126.712 15.7538C126.061 16.8203 124.905 17.4755 123.655 17.4859C122.407 17.4859 121.693 16.7472 121.693 15.7793C121.693 14.3783 122.559 13.716 124.394 13.716C125.206 13.6906 126.009 13.8934 126.712 14.3019V15.7538ZM132.136 7.0934H143.395V9.94623H139.523V19.7783H136.008V9.94623H132.136V7.0934ZM151.624 20.2113C155.979 20.2107 158.551 17.2307 158.551 13.3594C158.551 9.86887 156.309 6.66133 151.623 6.66133C147.292 6.66133 144.72 9.61604 144.72 13.5132C144.721 17.0274 146.988 20.1604 151.624 20.2113ZM154.959 13.5377C154.959 11.4981 153.991 9.56416 151.623 9.56416L151.624 9.56274C149.128 9.56274 148.338 11.551 148.337 13.3085C148.337 15.3736 149.279 17.3076 151.623 17.3076C154.144 17.3076 154.959 15.3208 154.959 13.5377ZM164.995 18.6321C165.924 19.6745 167.267 20.2528 168.663 20.2113C172.713 20.2113 174.955 16.9 174.955 13.183C174.955 9.56604 173.068 6.66227 169.019 6.66227C167.223 6.56699 165.531 7.50708 164.664 9.08208L164.511 7.09529H161.48V24.6179H164.995V18.6321ZM164.967 16.1613C165.875 16.9071 167.029 17.2882 168.202 17.2311H168.206C170.447 17.2043 171.364 15.3972 171.363 13.2576C171.363 11.1434 170.393 9.58963 168.202 9.58963C167.021 9.59293 165.877 10.0071 164.967 10.7613V16.1613Z" fill="currentColor"/>
                </svg>

            .syst__form
                form(action="#").js-validate


                    input(type="text" placeholder="Логин").ui-input

                    input(type="password" placeholder="Пароль").ui-input
                    input(type="password" placeholder="Повторите пароль").ui-input
                    
                 
                    .ui-button
                        .row
                            .col
                                button.btn.btn--green.btn--fullwidth Зарегистрироваться
                            .col-auto
                                a(href="#").ui-link.ui-link--underline.ui-link--dark Уже есть аккаунт?

                        
                    
                    p.ui-confirm Нажимая на кнопку "Зарегистрироваться", вы соглашаетесь с #[a(href="#").ui-link.ui-link--underline.ui-link--dark условиями] и  #[a(href="#").ui-link.ui-link--underline.ui-link--dark правилами]
                    

                    .ui-or
                        p.ui-or__text или войти через


                    ul.ui-social
                        li
                            button.btn.btn--40.btn--fb
                                +sprite('icon-signin-fb')
                                | Facebook
                        li
                            button.btn.btn--40.btn--vk
                                +sprite('icon-signin-vk')
                                | Вконтакте
                        li
                            button.btn.btn--40.btn--ok
                                +sprite('icon-signin-ok')
                                | Одноклас.



        nav.syst__nav
            ul.syst__nav-menu
                li
                    a(href="#").syst__nav-link Политика конфиденциальности
                li
                    a(href="#").syst__nav-link Пользовательское соглашение
                li
                    a(href="#").syst__nav-link Связаться с нами



    // Reg :: End