---
title: Поиск - Рубрикатор
bodyClass: is-page-search
---
extends includes/_app

block main

	// Search :: Start
	.l.l--search
		.l__head(role="banner")
			.container-fluid

				.ui-search
					form(action="#")
						.ui-search__field
							figure.ui-search__icon
								+sprite('icon-search')
							input(type="search" placeholder="Поиск по сайту").ui-search__input.js-search-input
							button.ui-search__btn
								span.is-xs-visible Поиск
								span.is-xs-hidden
									+sprite('icon-search-arrow')

							.ui-search__dropdown

								.ui-search__progress
									+sprite('icon-reload')
									| Выполняется поиск...

								.ui-search__results

									ul.ui-search__list
										li
											.ui-search__item
												span.ui-search__item-text Санкт-Петербург, Ленинский проспект
										li
											.ui-search__item
												span.ui-search__item-title
													a(href="#").ui-link.ui-link--underline.ui-link--blue Корпоративный английский вместе с Corpenglish.ru (SELECTED)
												span.ui-search__item-category Школы иностранных языков
												span.ui-search__item-text Санкт-Петербург, ул. Шостаковича, 3 к1
										li
											.ui-search__item
												span.ui-search__item-open
													| Открыть категорию #[a(href="#").ui-link.ui-link--underline.ui-link--blue Школы иностранных языков]
												span.ui-search__item-text «Покупали онлайн страховку для путешествий в этой компании на Ленинском проспекте.Я, вроде как, вбила, что нужна страховка для путешествия по Италии, а в результате полис, который я купила, оказался для путешествий по России...»
												span.ui-search__item-author
													| Анастасия про #[a(href="#").ui-link.ui-link--underline.ui-link--blue Корпоративный английский вместе с Corpenglish.ru]

									.ui-search__categories
										span.ui-search__categories-title Категории:
										ul.ui-search__categories-list
											li
												.ui-search__categories-item
													a(href="tel:+73422779799]").ui-link.ui-link--dark +7 (342) #[b 277-97-99]
												.ui-search__categories-item
													a(href="#").ui-link.ui-link--underline.ui-link--blue Школы иностранных языков


									.ui-search__all
										a(href="#").ui-link.ui-link--underline.ui-link--blue Показать все результаты

		.l__body
			.container-fluid


				section.panel
					.panel__tabs.js-tabs

						ul.panel__tabs-control(role="tablist")
							li
								h2.panel__tabs-btn.js-tabs-btn.is-active(role="tab")
									span.panel__tabs-icon
										+sprite('icon-panel-results')
									| Компании
							li
								h2.panel__tabs-btn.js-tabs-btn(role="tab")
									span.panel__tabs-icon
										+sprite('icon-panel-comments')
									| Отзывы

						.panel__tabs-container
							.panel__tabs-content.js-tabs-content.is-active

								.l__results
									.l__results-content


										// Panel Filter :: Start
										.panel
											.panel__filter
												form(action="#")

												.panel__filter-wrapper
													p.panel__filter-text Найдено 2205 организаций
													ul.panel__filter-list
														li
															label.ui-label.ui-label--icon
																+sprite('icon-filter-location')
																| Город
															.ui-selection.ui-selection--w150.js-selection
																button.ui-selection__btn.js-selection-btn
																	span.ui-selection__text.js-selection-text Город
																	span.ui-selection__icon
																		+sprite('icon-selection-arrow')
																		+sprite('icon-selection-cancel')
																.ui-selection__dropdown.js-selection-dropdown
																	.ui-selection__search
																		input(type="search").ui-selection__search-input.js-selection-input
																		span.ui-selection__search-icon
																			+sprite('icon-search')
																	.ui-selection__scrollbar.js-scrollbar
																		ul.ui-selection__menu
																			li
																				button.ui-selection__option.js-selection-option
																					span.icon-circle.icon-circle--blue
																					| Проспект Просвещения
																			li
																				button.ui-selection__option.js-selection-option
																					span.icon-circle.icon-circle--blue
																					| Библиотека им. В. И. Ленина
																			li
																				button.ui-selection__option.js-selection-option
																					span.icon-circle.icon-circle--purple
																					| Черная речка
																			li
																				button.ui-selection__option.js-selection-option
																					span.icon-circle.icon-circle--purple
																					| Старая деревня
																			li
																				button.ui-selection__option.js-selection-option
																					span.icon-circle.icon-circle--red
																					| Библиотека им. В. И. Ленина
																			li
																				button.ui-selection__option.js-selection-option
																					span.icon-circle.icon-circle--red
																					| Черная речка
																			li
																				button.ui-selection__option.js-selection-option
																					span.icon-circle.icon-circle--blue
																					| Проспект Просвещения
																			li
																				button.ui-selection__option.js-selection-option
																					span.icon-circle.icon-circle--blue
																					| Библиотека им. В. И. Ленина
																			li
																				button.ui-selection__option.js-selection-option
																					span.icon-circle.icon-circle--purple
																					| Черная речка
																			li
																				button.ui-selection__option.js-selection-option
																					span.icon-circle.icon-circle--purple
																					| Старая деревня
																			li
																				button.ui-selection__option.js-selection-option
																					span.icon-circle.icon-circle--green
																					| Библиотека им. В. И. Ленина
																			li
																				button.ui-selection__option.js-selection-option
																					span.icon-circle.icon-circle--green
																					| Черная речка

														li
															label.ui-label.ui-label--icon
																+sprite('icon-filter-folder')
																| Категория
															.ui-selection.ui-selection--w150.js-selection
																button.ui-selection__btn.js-selection-btn
																	span.ui-selection__text.js-selection-text Категория
																	span.ui-selection__icon
																		+sprite('icon-selection-arrow')
																		+sprite('icon-selection-cancel')
																.ui-selection__dropdown.js-selection-dropdown
																	.ui-selection__search
																		input(type="search").ui-selection__search-input.js-selection-input
																		span.ui-selection__search-icon
																			+sprite('icon-search')
																	.ui-selection__scrollbar.js-scrollbar
																		ul.ui-selection__menu
																			li
																				button.ui-selection__option.js-selection-option Калининский
																			li
																				button.ui-selection__option.js-selection-option Красногвардейской армии
																			li
																				button.ui-selection__option.js-selection-option Автопарк
																			li
																				button.ui-selection__option.js-selection-option Центральный
																			li
																				button.ui-selection__option.js-selection-option Калининский
																			li
																				button.ui-selection__option.js-selection-option Красногвардейской армии
																			li
																				button.ui-selection__option.js-selection-option Автопарк
																			li
																				button.ui-selection__option.js-selection-option Центральный
																			li
																				button.ui-selection__option.js-selection-option Калининский
																			li
																				button.ui-selection__option.js-selection-option Красногвардейской армии
																			li
																				button.ui-selection__option.js-selection-option Автопарк
																			li
																				button.ui-selection__option.js-selection-option Центральный



										// Panel Filter :: End

										// Panel Org :: Start
										.panel.panel--green
											.panel__org

												p.panel__org-adv
													| Реклама
													span.ui-help.js-tooltip(title="Это подсказка...")
														+sprite('icon-help')

												h2.panel__org-title
													a(href="#").ui-link.ui-link--underline.ui-link--blue Форт — Агентство недвижимости

												p.panel__org-target
													a(href="#").ui-link.ui-link--green
														+sprite('icon-target')
														| http://rubrikator.org/russia/rostov-on-don/fort

												ul.panel__org-info
													li
														mark.panel__org-mark.panel__org-mark--green
															b 4.8
															small 190 отзывов
													li
														a(href="tel:+7(953)25-11-135").panel__org-phone +7 (953) 25-11-135
													li
														button.btn.btn--36.btn--whitelight Еще телефоны

												address.panel__org-address Санкт-Петербург, Яхтенный проезд, 9к1, оф. 127

												.panel__org-breadcrumbs
													figure.panel__org-breadcrumbs-icon
														+sprite('icon-folder')
													ul.panel__org-breadcrumbs-list
														li
															a(href="#").ui-link.ui-link--underline.ui-link--grey Ведение дел в судах в Перми
														li
															a(href="#").ui-link.ui-link--underline.ui-link--grey Строительные компании
														li
															a(href="#").ui-link.ui-link--underline.ui-link--grey Недвижимость

										// Panel Org :: End

										// Panel Org :: Start
										.panel
											.panel__org

												h2.panel__org-title
													a(href="#").ui-link.ui-link--underline.ui-link--blue Хабнер & Ко  —   Многопрофильная фирма

												p.panel__org-target
													a(href="#").ui-link.ui-link--green
														+sprite('icon-target')
														| http://rubrikator.org/russia/rostov-on-don/habner-ko

												ul.panel__org-info
													li
														mark.panel__org-mark Нет оценок
													li
														| Телефон не предоставлен

												address.panel__org-address Ростов-на-Дону, Текучёва, 139в, 18 офис

												.panel__org-breadcrumbs
													figure.panel__org-breadcrumbs-icon
														+sprite('icon-folder')
													ul.panel__org-breadcrumbs-list
														li
															a(href="#").ui-link.ui-link--underline.ui-link--grey Строительные компании


										// Panel Org :: End


										// Panel Org :: Start
										.panel
											.panel__org

												h2.panel__org-title
													a(href="#").ui-link.ui-link--underline.ui-link--blue Адвокатский кабинет Данилова Д.А.

												p.panel__org-target
													a(href="#").ui-link.ui-link--green
														+sprite('icon-target')
														| http://rubrikator.org/russia/perm/advokatskiy-kabinet-danilova-da

												ul.panel__org-info
													li
														mark.panel__org-mark.panel__org-mark--green
															b 5
															small 40 отзывов
													li
														a(href="tel:+7(342)277-97-99").panel__org-phone +7 (342) 277-97-99
													li
														button.btn.btn--36.btn--whitelight Еще телефоны

												address.panel__org-address Пермь, Луначарского, 3/2, 308 офис (3 этаж, БЦ Луначарский

												.panel__org-breadcrumbs
													figure.panel__org-breadcrumbs-icon
														+sprite('icon-folder')
													ul.panel__org-breadcrumbs-list
														li
															a(href="#").ui-link.ui-link--underline.ui-link--grey Ведение дел в судах в Перми

												table.panel__org-table
													thead
														tr
															th(colspa="2") Стоимость услуг
													tbody
														tr
															td
																span.panel__org-table-title
																	span.panel__org-table-title-in Урок английский
															td
																span.panel__org-table-price 2000 р
														tr
															td
																span.panel__org-table-title
																	span.panel__org-table-title-in Услуга репетитора
															td
																span.panel__org-table-price 2300 р
														tr
															td
																span.panel__org-table-title
																	span.panel__org-table-title-in Услуга переводчика
															td
																span.panel__org-table-price 3100 р


										// Panel Org :: End


										// Panel Org :: Start
										.panel
											.panel__org

												h2.panel__org-title
													a(href="#").ui-link.ui-link--underline.ui-link--blue Парикмахерская

												p.panel__org-target
													a(href="#").ui-link.ui-link--green
														+sprite('icon-target')
														| http://rubrikator.org/russia/saint-petersburg/parikmaherskaya-81

												ul.panel__org-info
													li
														mark.panel__org-mark.panel__org-mark--red
															b 1.2
															small 40 отзывов
													li
														a(href="tel:+7(812)986-88-13").panel__org-phone +7 (812) 986-88-13


												address.panel__org-address Санкт-Петербург, Савушкина, 131 (вход с ул. Савушкина)

												.panel__org-breadcrumbs
													figure.panel__org-breadcrumbs-icon
														+sprite('icon-folder')
													ul.panel__org-breadcrumbs-list
														li
															a(href="#").ui-link.ui-link--underline.ui-link--grey Ведение дел в судах в Перми


										// Panel Org :: End

										// Panel Org :: Start
										.panel
											.panel__org

												h2.panel__org-title
													a(href="#").ui-link.ui-link--underline.ui-link--blue ХОХЛОМА

												p.panel__org-target
													a(href="#").ui-link.ui-link--green
														+sprite('icon-target')
														| http://rubrikator.org/russia/saint-petersburg/parikmaherskaya-81

												ul.panel__org-info
													li
														mark.panel__org-mark.panel__org-mark--orange
															b 1.2
															small 40 отзывов
													li
														a(href="tel:+7(812)986-88-13").panel__org-phone +7 (812) 986-88-13


												address.panel__org-address Санкт-Петербург, Савушкина, 131 (вход с ул. Савушкина)

												.panel__org-breadcrumbs
													figure.panel__org-breadcrumbs-icon
														+sprite('icon-folder')
													ul.panel__org-breadcrumbs-list
														li
															a(href="#").ui-link.ui-link--underline.ui-link--grey Ведение дел в судах в Перми


										// Panel Org :: End


										// Panel Loadmore & Pagination :: Start
										.panel
											.panel__loadmore
												button.panel__loadmore-btn
													+sprite('icon-loadmore')
													| Загрузить еще

											.panel__pagination.panel__pagination--5

												.panel__pagination-container

													a(href="#").panel__pagination-link.panel__pagination-link--prev
														+sprite('icon-pagination-prev')
														| Предыдущая

													ul.panel__pagination-menu
														li
															a(href="#").panel__pagination-link.is-active 1
														li
															a(href="#").panel__pagination-link 2
														li
															a(href="#").panel__pagination-link 3
														li
															a(href="#").panel__pagination-link 4
														li
															a(href="#").panel__pagination-link 5
														li
															a(href="#").panel__pagination-link ...
														li
															a(href="#").panel__pagination-link 234

													a(href="#").panel__pagination-link.panel__pagination-link--next
														| Следующая
														+sprite('icon-pagination-next')

										// Panel Loadmore & Pagination :: End

									.l__results-map#mapSearch


							.panel__tabs-content.js-tabs-content
								| Отзывы


	// Search :: Start