---
title: Styleguide - Рубрикатор
bodyClass: is-load
---
extends includes/_app-authorized

block main


	// Styleguide :: Start
	.styleguide(style="padding: 40px 0;")
		.container-fluid


			h1 Styleguide





			hr


			h2 Wysiwyg

			.ui-wysiwyg

				.row
					.col-lg-8

						h1 Heading h1

						h2 Heading h2

						h3 Heading h3

						h4 Heading h4

						h5 Heading h5

						h6 Heading h6

						p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Назад его океана большого злых над, инициал безорфографичный жизни вопрос продолжил дал правилами, там моей грустный приставка переулка, переписывается реторический. Имеет его напоивший курсивных рекламных, домах lorem мир, по всей злых вопроса, жизни безорфографичный. Парадигматическая мир, журчит обеспечивает однажды толку взобравшись, своего проектах злых это домах собрал он бросил сбить напоивший.

						figure
							img(src="images/img-news-01.jpg", alt="")

						p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Ее рот единственное пустился за эта, страна о встретил моей от всех свой не продолжил речью переписали семь, диких назад злых!

						p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Ее рот единственное пустился за эта, страна о встретил моей от всех свой не продолжил речью переписали семь, диких назад злых!

						figure.pull-left
							img(src="images/img-news-02.jpg", alt="")

						p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Ее рот единственное пустился за эта, страна о встретил моей от всех свой не продолжил речью переписали семь, диких назад злых!

						p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Ее рот единственное пустился за эта, страна о встретил моей от всех свой не продолжил речью переписали семь, диких назад злых!

						//- figure.pull-right
						//- img(src="images/img-news-03.jpg", alt="")

						p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Ее рот единственное пустился за эта, страна о встретил моей от всех свой не продолжил речью переписали семь, диких назад злых!

						p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Ее рот единственное пустился за эта, страна о встретил моей от всех свой не продолжил речью переписали семь, диких назад злых!

						.row
							.col-lg-6

								ul
									li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									li Phasellus sagittis ipsum diam, nec porttitor sapien quis.
									li Donec euismod ullamcorper pulvinar.

							.col-lg-6

								ol
									li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									li Phasellus sagittis ipsum diam, nec porttitor sapien quis.
									li Donec euismod ullamcorper pulvinar.



						table
							thead
								tr
									th Наличие
									th Оплата
									th Отгрузка
									th Доставка
							tbody
								tr
									td Товар в наличии
									td 100% предоплата в течение 15 дней с момента получения счета
									td(rowspan="2") В течение 15 дней с момента получения 100% предоплаты
									td(rowspan="2") На транспортные услуги любой ТК #[a(href="#") будет выставлен счет]
								tr
									td Товар в наличии
									td 50% предоплата в течение 15 дней с момента получения счета, оставшиеся 50% в течение 5 дней с момента получения уведомления о готовности продукции к отгрузке




			hr

			.row
				.col-lg-6

					h2 Buttons Colors

					.row
						.col-auto(style="margin-bottom: 10px;")

							a(href="#").btn.btn--white Button white

						.col-auto(style="margin-bottom: 10px;")

							a(href="#").btn.btn--whitelight Button whitelight

						.col-auto(style="margin-bottom: 10px;")

							a(href="#").btn.btn--whitedark Button whitedark


						.col-auto(style="margin-bottom: 10px;")

							a(href="#").btn.btn--grey Button grey

						.col-auto(style="margin-bottom: 10px;")

							a(href="#").btn.btn--greylight Button greylight

						.col-auto(style="margin-bottom: 10px;")

							a(href="#").btn.btn--greydark Button greydark


						.col-auto(style="margin-bottom: 10px;")

							a(href="#").btn.btn--dark Button dark

						.col-auto(style="margin-bottom: 10px;")

							a(href="#").btn.btn--darklight Button darklight


						.col-auto(style="margin-bottom: 10px;")

							a(href="#").btn.btn--green Button green

						.col-auto(style="margin-bottom: 10px;")

							a(href="#").btn.btn--greenlight Button greenlight


						.col-auto(style="margin-bottom: 10px;")

							a(href="#").btn.btn--blue Button blue

						.col-auto(style="margin-bottom: 10px;")

							a(href="#").btn.btn--orange Button orange

						.col-auto(style="margin-bottom: 10px;")

							a(href="#").btn.btn--red Button red

						.col-auto(style="margin-bottom: 10px;")

							a(href="#").btn.btn--yellow Button yellow

						.col-auto(style="margin-bottom: 10px;")

							a(href="#").btn.btn--white.is-loading-center
								span.btn__txt Button white

						.col-auto(style="margin-bottom: 10px;")

							a(href="#").btn.btn--red.is-loading-center
								span.btn__txt Button red

						.col-auto(style="margin-bottom: 10px;")

							a(href="#").btn.btn--dark.is-loading-right
								span.btn__txt Button dark

						.col-auto(style="margin-bottom: 10px;")

							a(href="#").btn.btn--green.is-loading-right
								span.btn__txt Button dark



				.col-lg-6

					h2 Buttons Sizes

					.row
						.col-auto(style="margin-bottom: 10px;")

							a(href="#").btn.btn--30.btn--white Button 30

						.col-auto(style="margin-bottom: 10px;")

							a(href="#").btn.btn--34.btn--white Button 34

						.col-auto(style="margin-bottom: 10px;")

							a(href="#").btn.btn--36.btn--white Button 36

						.col-auto(style="margin-bottom: 10px;")

							a(href="#").btn.btn--38.btn--white Button 38

						.col-auto(style="margin-bottom: 10px;")

							a(href="#").btn.btn--40.btn--white Button 40

						.col-auto(style="margin-bottom: 10px;")

							a(href="#").btn.btn--42.btn--white Button 42

						.col-auto(style="margin-bottom: 10px;")

							a(href="#").btn.btn--44.btn--white Button 44

						.col-auto(style="margin-bottom: 10px;")

							a(href="#").btn.btn--46.btn--white Button 46

						.col-auto(style="margin-bottom: 10px;")

							a(href="#").btn.btn--48.btn--white Button 48

						.col-auto(style="margin-bottom: 10px;")

							a(href="#").btn.btn--50.btn--white Button 50

						.col-auto(style="margin-bottom: 10px;")

							a(href="#").btn.btn--52.btn--white Button 52

						.col-auto(style="margin-bottom: 10px;")

							a(href="#").btn.btn--54.btn--white Button 54

						.col-auto(style="margin-bottom: 10px;")

							a(href="#").btn.btn--56.btn--white Button 56

						.col-auto(style="margin-bottom: 10px;")

							a(href="#").btn.btn--60.btn--white Button 60

						.col-auto(style="margin-bottom: 10px;")

							a(href="#").btn.btn--64.btn--white Button 64




			hr


			h2 Badges

			.row
				.col-auto(style="margin-bottom: 10px;")
					span.ui-badge.ui-badge--green 4.8

				.col-auto(style="margin-bottom: 10px;")
					span.ui-badge.ui-badge--open
						+sprite('icon-badge-open')
						| Открыто

				.col-auto(style="margin-bottom: 10px;")
					span.ui-badge.ui-badge--purple
						+sprite('icon-badge-star')
						| Высокие цены

				.col-auto(style="margin-bottom: 10px;")
					span.ui-badge.ui-badge--red
						| Red

				.col-auto(style="margin-bottom: 10px;")
					span.ui-badge.ui-badge--premium
						| Premium

				.col-auto(style="margin-bottom: 10px;")
					span.ui-badge.ui-badge--greenlight
						| Greenlight

				.col-auto(style="margin-bottom: 10px;")
					span.ui-badge.ui-badge--grey
						| Grey

			hr


			h2 Notices

			.ui-notice.ui-notice--violet
				figure.ui-notice__icon
					+sprite('icon-notice-warning')
				.ui-notice__text
					p <b>Внимание!</b> Вы только что прочитали информационное уведомление
				.ui-notice__control
					a(href="#").btn.btn--36.btn--whitedark Ок


			.ui-notice.ui-notice--green
				figure.ui-notice__icon
					+sprite('icon-notice-warning')
				.ui-notice__text
					p <b>Внимание!</b> Вы только что прочитали информационное уведомление. Оно может быть довольно длинным, например на две строки.
				.ui-notice__control
					a(href="#").btn.btn--36.btn--whitedark Ок
					a(href="#").btn.btn--36.btn--whitedark Отмена


			.ui-notice.ui-notice--red
				figure.ui-notice__icon
					+sprite('icon-notice-warning')
				.ui-notice__text
					p <b>Внимание!</b> Вы только что прочитали информационное уведомление. Оно может быть довольно длинным, например на две строки.
				.ui-notice__control
					a(href="#").btn.btn--36.btn--whitedark Ок


			.ui-notice.ui-notice--orange
				figure.ui-notice__icon
					+sprite('icon-notice-warning')
				.ui-notice__text
					p <b>Внимание!</b> Вы только что прочитали информационное уведомление. Оно может быть довольно длинным, например на две строки.
				.ui-notice__control
					a(href="#").btn.btn--36.btn--whitedark Ок
					a(href="#").btn.btn--36.btn--whitedark Отмена


			hr


			h2 Recommend

			.row
				.col-auto

					.ui-recommend
						.ui-recommend__head

							.ui-recommend__badge.ui-recommend__badge--green
								| Рекомендуем!
								+sprite('icon-like')

							p.ui-recommend__caption На основе 160 голосов

						.ui-recommend__body

							.ui-recommend__line
								.ui-recommend__line-progress(style="left: 73%;")
							.ui-recommend__arrow(style="left: 73%;")

						.ui-recommend__foot
							button.btn.btn--48.btn--whitedark
								+sprite('icon-dislike')
								span.is-lg-hidden Нет #[small (27%)]
								span.is-lg-visible Не рекомендую #[small (27%)]

							button.btn.btn--48.btn--whitedark
								+sprite('icon-like')
								span.is-lg-hidden Да #[small (73%)]
								span.is-lg-visible Рекомендую #[small (73%)]



			hr


			h2 Pagination


			.panel

				.panel__pagination

					.panel__pagination-container

						a(href="#").panel__pagination-link.panel__pagination-link--prev
							+sprite('icon-pagination-prev')
							| Предыдущая

						ul.panel__pagination-menu
							li
								a(href="#").panel__pagination-link.is-active 1
							li
								a(href="#").panel__pagination-link 2
							li
								a(href="#").panel__pagination-link 3
							li
								a(href="#").panel__pagination-link 4
							li
								a(href="#").panel__pagination-link 5
							li
								a(href="#").panel__pagination-link 6
							li
								a(href="#").panel__pagination-link 7
							li
								a(href="#").panel__pagination-link 8
							li
								a(href="#").panel__pagination-link 9
							li
								a(href="#").panel__pagination-link 10
							li
								a(href="#").panel__pagination-link 11
							li
								a(href="#").panel__pagination-link 12
							li
								a(href="#").panel__pagination-link ...
							li
								a(href="#").panel__pagination-link 234

						a(href="#").panel__pagination-link.panel__pagination-link--next
							| Следующая
							+sprite('icon-pagination-next')



			hr


			h2 Accordion


			.panel

				.ui-accordion.ui-accordion--border.js-accordion

					.ui-accordion__item.js-accordion-item
						button.ui-accordion__btn.js-accordion-btn
							span.ui-accordion__arrow
								+sprite('icon-accordion-arrow')
							| Почему мой аккаунт забанили?
						.ui-accordion__content.js-accordion-content
							.ui-accordion__content-in

								p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Буквенных приставка живет снова ручеек заманивший страна букв страну буквоград рыбными, рукопись силуэт осталось своих о, рекламных пор до щеке.

					.ui-accordion__item.js-accordion-item
						button.ui-accordion__btn.js-accordion-btn
							span.ui-accordion__arrow
								+sprite('icon-accordion-arrow')
							| Почему мой отзыв помечен как недействительный?
						.ui-accordion__content.js-accordion-content
							.ui-accordion__content-in

								p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Буквенных приставка живет снова ручеек заманивший страна букв страну буквоград рыбными, рукопись силуэт осталось своих о, рекламных пор до щеке.



			hr


			h2 Number


			.ui-number.js-number
				button.ui-number__btn.ui-number__btn--minus.js-number-btn -
				input(type="text" value="1 филиал").ui-number__input.js-number-input
				button.ui-number__btn.ui-number__btn--plus.js-number-btn +


			hr


			h2 Review


			.ui-review
				button.ui-review__btn.ui-review__btn--red Не рекомендую
				button.ui-review__btn.ui-review__btn--orange Нейтральный
				button.ui-review__btn.ui-review__btn--green.is-active Рекомендую


			hr


			h2 Search

			.ui-search
				form(action="#")
					p.ui-search__find Найдено 1200 мест
					.ui-search__field
						figure.ui-search__icon
							+sprite('icon-search')
						input(type="search" placeholder="Поиск по сайту").ui-search__input.js-search-input
						button.ui-search__btn
							span.is-xs-visible Поиск
							span.is-xs-hidden
								+sprite('icon-search-arrow')

						.ui-search__dropdown

							.ui-search__progress
								+sprite('icon-reload')
								| Выполняется поиск...

							.ui-search__results

								ul.ui-search__list
									li
										.ui-search__item
											span.ui-search__item-text Санкт-Петербург, Ленинский проспект
									li
										.ui-search__item
											span.ui-search__item-title
												a(href="#").ui-link.ui-link--underline.ui-link--blue Корпоративный английский вместе с Corpenglish.ru (SELECTED)
											span.ui-search__item-category Школы иностранных языков
											span.ui-search__item-text Санкт-Петербург, ул. Шостаковича, 3 к1
									li
										.ui-search__item
											span.ui-search__item-open
												| Открыть категорию #[a(href="#").ui-link.ui-link--underline.ui-link--blue Школы иностранных языков]
											span.ui-search__item-text «Покупали онлайн страховку для путешествий в этой компании на Ленинском проспекте.Я, вроде как, вбила, что нужна страховка для путешествия по Италии, а в результате полис, который я купила, оказался для путешествий по России...»
											span.ui-search__item-author
												| Анастасия про #[a(href="#").ui-link.ui-link--underline.ui-link--blue Корпоративный английский вместе с Corpenglish.ru]

								.ui-search__categories
									span.ui-search__categories-title Категории:
									ul.ui-search__categories-list
										li
											.ui-search__categories-item
												a(href="tel:+73422779799]").ui-link.ui-link--dark +7 (342) #[b 277-97-99]
											.ui-search__categories-item
												a(href="#").ui-link.ui-link--underline.ui-link--blue Школы иностранных языков


								.ui-search__all
									a(href="#").ui-link.ui-link--underline.ui-link--blue Показать все результаты



			hr


			h2 Filter


			.ui-filter
				form(action="#")

					.ui-filter__wrapper.js-filter
						ul.ui-filter__list.js-filter-list
							li
								label.ui-label.ui-label--icon
									+sprite('icon-filter-metro')
									| Метро
								.ui-selection.ui-selection--w160.js-selection
									button.ui-selection__btn.js-selection-btn
										span.ui-selection__text.js-selection-text Метро
										span.ui-selection__icon
											+sprite('icon-selection-arrow')
											+sprite('icon-selection-cancel')
									.ui-selection__dropdown.js-selection-dropdown
										.ui-selection__search
											input(type="search").ui-selection__search-input.js-selection-input
											span.ui-selection__search-icon
												+sprite('icon-search')
										.ui-selection__scrollbar.js-scrollbar
											ul.ui-selection__menu
												li
													button.ui-selection__option.js-selection-option
														span.icon-circle.icon-circle--blue
														| Проспект Просвещения
												li
													button.ui-selection__option.js-selection-option
														span.icon-circle.icon-circle--blue
														| Библиотека им. В. И. Ленина
												li
													button.ui-selection__option.js-selection-option
														span.icon-circle.icon-circle--purple
														| Черная речка
												li
													button.ui-selection__option.js-selection-option
														span.icon-circle.icon-circle--purple
														| Старая деревня
												li
													button.ui-selection__option.js-selection-option
														span.icon-circle.icon-circle--red
														| Библиотека им. В. И. Ленина
												li
													button.ui-selection__option.js-selection-option
														span.icon-circle.icon-circle--red
														| Черная речка
												li
													button.ui-selection__option.js-selection-option
														span.icon-circle.icon-circle--blue
														| Проспект Просвещения
												li
													button.ui-selection__option.js-selection-option
														span.icon-circle.icon-circle--blue
														| Библиотека им. В. И. Ленина
												li
													button.ui-selection__option.js-selection-option
														span.icon-circle.icon-circle--purple
														| Черная речка
												li
													button.ui-selection__option.js-selection-option
														span.icon-circle.icon-circle--purple
														| Старая деревня
												li
													button.ui-selection__option.js-selection-option
														span.icon-circle.icon-circle--green
														| Библиотека им. В. И. Ленина
												li
													button.ui-selection__option.js-selection-option
														span.icon-circle.icon-circle--green
														| Черная речка


							li
								label.ui-label.ui-label--icon
									+sprite('icon-filter-district')
									| Район
								.ui-selection.ui-selection--w130.js-selection
									button.ui-selection__btn.js-selection-btn
										span.ui-selection__text.js-selection-text Район
										span.ui-selection__icon
											+sprite('icon-selection-arrow')
											+sprite('icon-selection-cancel')
									.ui-selection__dropdown.js-selection-dropdown
										.ui-selection__search
											input(type="search").ui-selection__search-input.js-selection-input
											span.ui-selection__search-icon
												+sprite('icon-search')
										.ui-selection__scrollbar.js-scrollbar
											ul.ui-selection__menu
												li
													button.ui-selection__option.js-selection-option Калининский
												li
													button.ui-selection__option.js-selection-option Красногвардейской армии
												li
													button.ui-selection__option.js-selection-option Автопарк
												li
													button.ui-selection__option.js-selection-option Центральный
												li
													button.ui-selection__option.js-selection-option Калининский
												li
													button.ui-selection__option.js-selection-option Красногвардейской армии
												li
													button.ui-selection__option.js-selection-option Автопарк
												li
													button.ui-selection__option.js-selection-option Центральный
												li
													button.ui-selection__option.js-selection-option Калининский
												li
													button.ui-selection__option.js-selection-option Красногвардейской армии
												li
													button.ui-selection__option.js-selection-option Автопарк
												li
													button.ui-selection__option.js-selection-option Центральный

							li
								label.ui-check
									input(type="checkbox").ui-check__input
									span.ui-check__switch
									span.ui-check__text Есть сайт

							li
								label.ui-check
									input(type="checkbox").ui-check__input
									span.ui-check__switch
									span.ui-check__text Оценка 4+

							li
								label.ui-check
									input(type="checkbox").ui-check__input
									span.ui-check__switch
									span.ui-check__text Есть отзывы


							li
								label.ui-check
									input(type="checkbox").ui-check__input
									span.ui-check__switch
									span.ui-check__text Другое

							li
								label.ui-check
									input(type="checkbox").ui-check__input
									span.ui-check__switch
									span.ui-check__text Другое

							li
								label.ui-check
									input(type="checkbox").ui-check__input
									span.ui-check__switch
									span.ui-check__text Другое



			hr


			h2 Progress



			.ui-progress
				.ui-progress-bar(style="width: 61%;") 61%


			hr


			h2 Taglist


			// Panel :: Start
			.panel

				.ui-taglist(role="navigation")
					ul.ui-taglist__menu
						li
							a(href="#").ui-taglist__link
								| Режим работы
								span.ui-taglist__arrow
									+sprite('icon-nav-arrow')
						li
							a(href="#").ui-taglist__link
								| Телефон
								span.ui-taglist__arrow
									+sprite('icon-nav-arrow')
						li
							a(href="#").ui-taglist__link
								| Адрес
								span.ui-taglist__arrow
									+sprite('icon-nav-arrow')
						li
							a(href="#").ui-taglist__link
								| Email
								span.ui-taglist__arrow
									+sprite('icon-nav-arrow')
						li
							a(href="#").ui-taglist__link
								| Сайт
								span.ui-taglist__arrow
									+sprite('icon-nav-arrow')
						li
							a(href="#").ui-taglist__link
								| Описание
								span.ui-taglist__arrow
									+sprite('icon-nav-arrow')
						li
							a(href="#").ui-taglist__link
								| Название
								span.ui-taglist__arrow
									+sprite('icon-nav-arrow')
						li
							a(href="#").ui-taglist__link
								| Юр. лицо
								span.ui-taglist__arrow
									+sprite('icon-nav-arrow')
						li
							a(href="#").ui-taglist__link
								| Категория
								span.ui-taglist__arrow
									+sprite('icon-nav-arrow')
						li
							a(href="#").ui-taglist__link
								| Прайс лист
								span.ui-taglist__arrow
									+sprite('icon-nav-arrow')
						li
							a(href="#").ui-taglist__link
								| Фото и Видео
								span.ui-taglist__arrow
									+sprite('icon-nav-arrow')

			// Panel :: End


			hr


			h2 Voice


			.row
				.col-auto(style="margin: 0 0 10px;")

					.ui-voice.ui-voice--green
						button.ui-voice__btn.ui-voice__btn--like
							span.is-visible-default
								+sprite('icon-like')
							span.is-visible-blind
								| Да
						p.ui-voice__number 10
						button.ui-voice__btn.ui-voice__btn--dislike
							span.is-visible-default
								+sprite('icon-dislike')
							span.is-visible-blind
								| Нет


				.col-auto(style="margin: 0 0 10px;")

					.ui-voice.ui-voice--green.ui-voice--rounded
						button.ui-voice__btn.ui-voice__btn--like
							span.is-visible-default
								+sprite('icon-like')
							span.is-visible-blind
								| Да
						p.ui-voice__number 10
						button.ui-voice__btn.ui-voice__btn--dislike
							span.is-visible-default
								+sprite('icon-dislike')
							span.is-visible-blind
								| Нет



			hr


			h2 Upload


			.ui-upload

				.ui-upload__control

					label.ui-file
						input(type="file").ui-file__input
						span.ui-file__btn
							+sprite('icon-camera')
							| Добавить фото

				.ui-upload__images
					figure.ui-upload__image
						img(src="images/img-upload-01.jpg" alt="" aria-hidden="true")
						span.ui-upload__delete
							+sprite('icon-delete')
					figure.ui-upload__image
						img(src="images/img-upload-02.jpg" alt="" aria-hidden="true")
						span.ui-upload__delete
							+sprite('icon-delete')
					figure.ui-upload__image
						img(src="images/img-upload-03.jpg" alt="" aria-hidden="true")
						span.ui-upload__delete
							+sprite('icon-delete')
					figure.ui-upload__image
						img(src="images/img-upload-04.jpg" alt="" aria-hidden="true")
						span.ui-upload__delete
							+sprite('icon-delete')
					figure.ui-upload__image
						img(src="images/img-upload-01.jpg" alt="" aria-hidden="true")
						span.ui-upload__delete
							+sprite('icon-delete')
					figure.ui-upload__image
						img(src="images/img-upload-02.jpg" alt="" aria-hidden="true")
						span.ui-upload__delete
							+sprite('icon-delete')
					figure.ui-upload__image
						img(src="images/img-upload-03.jpg" alt="" aria-hidden="true")
						span.ui-upload__delete
							+sprite('icon-delete')
					figure.ui-upload__image
						img(src="images/img-upload-04.jpg" alt="" aria-hidden="true")
						span.ui-upload__delete
							+sprite('icon-delete')


			hr



			h2 Forms

			.row
				.col-8

					label.ui-label Default Select

					.ui-select
						select
							option Option 1
							option Option 2
							option Option 3
							option Option 4
							option Option 5
							option Option 6
							option Option 7


					label.ui-label Label

					.ui-input-group
						.ui-input-field
							button.ui-input-cancel
								+sprite('icon-cancel')
							input(type="text" placeholder="Placeholder" value="").ui-input#update-name
						.ui-input-append
							.ui-help.js-tooltip(title="Это подсказка...")
								+sprite('icon-help')


					label.ui-label Телефон

					.ui-input-phone
						.ui-select
							select.js-select.js-select-icons
								option(value="+7" data-icon="images/img-country-ru.png") Россия
								option(value="+3" data-icon="images/img-country-ua.png") Украина
								option(value="+8" data-icon="images/img-country-kz.png") Казахстан
						input(type="text" placeholder="+7").ui-input



					label.ui-label Комментарий к телефону

					.ui-input-group
						input(type="text" placeholder="отдел продаж").ui-input
						.ui-input-append


					label.ui-label Цвета

					.ui-colors.js-colors
						.ui-colors__group

							label.ui-check
								input(type="radio" name="brand_bg_color").ui-check__input
								span.ui-check__color.ui-check__color--orange
									+sprite('icon-checked')
							label.ui-check
								input(type="radio" name="brand_bg_color").ui-check__input
								span.ui-check__color.ui-check__color--yellow
									+sprite('icon-checked')
							label.ui-check
								input(type="radio" name="brand_bg_color").ui-check__input
								span.ui-check__color.ui-check__color--white
									+sprite('icon-checked')
							label.ui-check
								input(type="radio" name="brand_bg_color").ui-check__input
								span.ui-check__color.ui-check__color--greenlight
									+sprite('icon-checked')
							label.ui-check
								input(type="radio" name="brand_bg_color").ui-check__input
								span.ui-check__color.ui-check__color--brown
									+sprite('icon-checked')
							label.ui-check
								input(type="radio" name="brand_bg_color").ui-check__input
								span.ui-check__color.ui-check__color--purple
									+sprite('icon-checked')
							label.ui-check
								input(type="radio" name="brand_bg_color").ui-check__input
								span.ui-check__color.ui-check__color--blue
									+sprite('icon-checked')
							label.ui-check
								input(type="radio" name="brand_bg_color").ui-check__input
								span.ui-check__color.ui-check__color--red
									+sprite('icon-checked')
							label.ui-check
								input(type="radio" name="brand_bg_color").ui-check__input
								span.ui-check__color.ui-check__color--black
									+sprite('icon-checked')
							label.ui-check
								input(type="radio" name="brand_bg_color").ui-check__input
								span.ui-check__color.ui-check__color--dark
									+sprite('icon-checked')
							label.ui-check
								input(type="radio" name="brand_bg_color").ui-check__input
								span.ui-check__color.ui-check__color--grey
									+sprite('icon-checked')
							label.ui-check
								input(type="radio" name="brand_bg_color").ui-check__input
								span.ui-check__color.ui-check__color--greendark
									+sprite('icon-checked')

						.ui-colors__control
							input(type="text" placeholder="#FFCC33 (Указать вручную)").ui-input.ui-input--44.js-colors-input
							button.btn.btn--36.btn--darklight.js-colors-btn Выбор
							.ui-colors-style.js-colors-style
							.ui-colorpicker.js-colors-picker


					label.ui-label Состояния инпутов

					input(type="text" placeholder="Success").ui-input.is-success
					input(type="text" placeholder="Error").ui-input.is-error
					input(type="text" placeholder="Loading").ui-input.is-loading
					input(type="text" placeholder="Disabled" disabled).ui-input

			br
			hr
			br

			//- h2 Panel Admins


			//- // Panel :: Start
			//- .panel
			//- 	.panel__container
			//- 		.panel__admin
			//- 			.panel__admin-premium PREMIUM до 29.08.2018
			//- 			ul.panel__admin-menu
			//- 				li
			//- 					button.panel__admin-btn
			//- 						| Редактировать страницу
			//- 				li
			//- 					button.panel__admin-btn
			//- 						| Смотреть статистику
			//- 				li
			//- 					button.panel__admin-btn
			//- 						| Скрыть панель
			//- 				li
			//- 					button.panel__admin-btn
			//- 						| Выход

			//- // Panel :: End


			//- .panel
			//- 	.panel__container
			//- 		.panel__admin

			//- 			.panel__admin-counter
			//- 				| Заявки (3)

			//- 			.panel__admin-dates
			//- 				a(href="#").panel__date.panel__date--green
			//- 					span.panel__date-text 24.07.2018
			//- 					span.panel__date-percent 64%

			//- 			ul.panel__admin-menu
			//- 				li
			//- 					button.panel__admin-btn
			//- 						| Закрыть все

			//- // Panel :: End




			h2 Promo уведомление (right-bottom)

			.panel

				.row
					.col-xl-4(style="margin: 0 0 20px;")

						.ui-modal
							button.ui-modal__close
								+sprite('icon-close')
							figure.ui-modal__image
								img(src="images/img-promo.png", alt="")
							.ui-modal__desc
								b.ui-modal__title Уведомление с рисунком
								p.ui-modal__text Мы встроили уведомления в уведомления, чтобы вы могли получать уведомления, пока вы получаете уведомления!
								.ui-modal__control
									a(href="#").btn.btn--42.btn--green Перейти
									a(href="#").btn.btn--42.btn--white Закрыть


					.col-xl-4(style="margin: 0 0 20px;")

						.ui-modal
							button.ui-modal__close
								+sprite('icon-close')
							.ui-modal__desc
								b.ui-modal__title Текстовое уведомление
								p.ui-modal__text Мы встроили уведомления в уведомления, чтобы вы могли получать уведомления, пока вы получаете уведомления!
								.ui-modal__control
									a(href="#").btn.btn--42.btn--green Перейти
									a(href="#").btn.btn--42.btn--white Закрыть



					.col-xl-4(style="margin: 0 0 20px;")


						.ui-modal.ui-modal--grey
							button.ui-modal__close
								+sprite('icon-close')
							figure.ui-modal__image
								img(src="images/img-promo.png", alt="")
							.ui-modal__desc
								b.ui-modal__title Подпиши эту петицию
								p.ui-modal__text Мы встроили уведомления в уведомления, чтобы вы могли получать уведомления.
							.ui-modal__form
								form(action="")
									input(type="email" placeholder="").ui-input.ui-input--42
									button.btn.btn--42.btn--green Подписаться


					.col-xl-4(style="margin: 0 0 20px;")


						.ui-modal.ui-modal--grey
							button.ui-modal__close
								+sprite('icon-close')
							.ui-modal__desc
								b.ui-modal__title Подпиши эту петицию
								p.ui-modal__text Мы встроили уведомления в уведомления, чтобы вы могли получать уведомления.
							.ui-modal__form
								form(action="")
									input(type="email" placeholder="").ui-input.ui-input--42
									button.btn.btn--42.btn--green Подписаться



					.col-xl-4


						.ui-cookies.js-cookies
							button.ui-cookies__trigger.js-cookies-trigger
								+sprite('icon-cookies')
								| Мы используем Cookies
								+sprite('icon-arrow-down')

							.ui-cookies__dropdown.js-cookies-dropdown

								.ui-cookies__content

									p.ui-cookies__text Мы используем Cookies для того, чтобы пользоваться нашим сайтом было удобнее. #[a(href="#") Подробнее]

									button.ui-cookies__btn.js-cookies-hide Ок






	// Styleguide :: End

